[2018-07-15 17:37] LoungeKatt commented on #1202
It's doesn't seem like it is being that ridiculous to ask that people actually provide the platform and which build alongside saying "I has crash" since they will always be the first two questions. That would be more just as much if not more directed at general crashes, UI issues, etc.

[2018-07-15 17:49] SuperL2 commented on #878
No one has said anything about it being fixed. I wasn't even aware reicast was still being worked on.

I would still love nothing more than for it to be fixed if possible, though.

[2018-07-15 17:49] LoungeKatt commented on #1093
Joysticks still need work and axis config support
Icons from disk is still only theoretical
Build targets and debug configuration are WIP
All the core stuff is still pending

[2018-07-15 17:50] LoungeKatt commented on #621
Good question. I don't know if enabling Android TV actually changed. If so, that. If not, it would fall into the rest of the Android umbrella.

[2018-07-15 19:16] mdeguzis commented on #918
Discussion that you can't compile? If that's the case, you  might as well remove the issues section or be string on the guidelines for submission.

[2018-07-15 21:23] skmp commented on #918
This issue tracking is for internal team coordination and tracking- it is not the best place to have general support for people that are getting started.

De cluttering the issues and making sure only actionable and relevant to the team issues are here makes everyone more productive and happy, imo.

Dcemulation has a lot of developers around so it shouldn’t be a bad place to have these discussions

[2018-07-15 22:40] skmp commented on #621
@vgturtle127 HDMI and DVI are electrically compatible. There's also plenty of HDMI screens without audio support (eg, monitors). @LoungeKatt I can ship you one of the spare shields Keith sent me a couple of years back. I don't have an immediate use for all of them.

[2018-07-15 22:44] skmp commented on #878
Can you please test with the build from #1208?

[2018-07-15 22:46] skmp commented on #1123
Alright. Closing this as it should be fixed. Please report back in #1208 if not.

[2018-07-15 22:46] #1123 closed

[2018-07-15 23:02] skmp commented on #1208
Updated with more links and improved descriptions. Also added discord link :cactus:

[2018-07-15 23:14] skmp commented on #1049
This issue was moved to reicast/gamedb#94

[2018-07-15 23:14] #1049 closed

[2018-07-15 23:14] skmp commented on #1049
Please continue discussion at  reicast/gamedb#94

[2018-07-15 23:15] skmp commented on #1175
This issue was moved to reicast/gamedb#95

[2018-07-15 23:15] #1175 closed

[2018-07-15 23:16] skmp commented on #1153
This issue was moved to reicast/gamedb#96

[2018-07-15 23:16] #1153 closed

[2018-07-15 23:16] skmp commented on #1082
This issue was moved to reicast/gamedb#97

[2018-07-15 23:16] #1082 closed

[2018-07-15 23:16] skmp commented on #1059
This issue was moved to reicast/gamedb#98

[2018-07-15 23:16] #1059 closed

[2018-07-15 23:16] skmp commented on #1057
This issue was moved to reicast/gamedb#99

[2018-07-15 23:16] #1057 closed

[2018-07-15 23:17] skmp commented on #1047
This issue was moved to reicast/gamedb#100

[2018-07-15 23:17] #1047 closed

[2018-07-15 23:17] skmp commented on #999
This issue was moved to reicast/gamedb#101

[2018-07-15 23:17] #999 closed

[2018-07-15 23:17] skmp commented on #995
This issue was moved to reicast/gamedb#102

[2018-07-15 23:17] #995 closed

[2018-07-15 23:17] skmp commented on #991
This issue was moved to reicast/gamedb#103

[2018-07-15 23:17] #991 closed

[2018-07-15 23:17] skmp commented on #979
This issue was moved to reicast/gamedb#104

[2018-07-15 23:17] #979 closed

[2018-07-15 23:17] skmp commented on #891
This issue was moved to reicast/gamedb#105

[2018-07-15 23:17] #891 closed

[2018-07-15 23:18] skmp commented on #878
This issue was moved to reicast/gamedb#106

[2018-07-15 23:18] #878 closed

[2018-07-16 00:09] skmp commented on #831
@Holzhaus any progress on this? Would be nice to have an MR no matter the state, so people can improve it

[2018-07-16 00:12] skmp commented on #831
I guess https://github.com/reicast/reicast-emulator/compare/holzhaus/gui ? Will review later on. Also #1150 for follow up

[2018-07-16 00:40] SuperL2 commented on #1208
I haven't even been able to get the Beta to recognize my bios. Every time I try to get the app to locate them, I get the message "Please move Bios files to [location] even those the BIOS files are in that location, Using a NVIDIA Shield K1 tablet.

[2018-07-16 02:21] tabnk commented on #602
My TV BOX wifi faulty so cannot connect to Google Play. Can’t test it. Any offline apk ?

[2018-07-16 03:52] OrtaDragoon opened #1223 "L and R buttons do not work on external gamepad."
| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 7.1.2 | Google Play beta | - | No|

The L and R buttons do not when mapped to my ipega 9025 gamepad.  They work in compatibility mode but, that also disables the right joystick which makes games that use it(like Skies of Arcadia) difficult to play.

This is with beta build 1ada311

- [X] Place an X in the box to confir

[2018-07-16 03:56] OrtaDragoon commented on #1223
Just in case this info is needed, my device is an LG Aristo 2, OS Android 7.1.2, SOC Snapdragon 425 & gpu Adreno 308.

[2018-07-16 04:15] blackman91 commented on #1208
Make sure the bios is located inside a folder named data for instance mine is inside /sdcard/reicast/data and it works fine.

[2018-07-16 04:58] LoungeKatt commented on #1223
Duplicate of https://github.com/reicast/reicast-emulator/issues/1039

[2018-07-16 11:19] Mored1984 commented on #831
I hope to solve the issue with no bug for Windows 10 (x64)

[2018-07-16 11:54] baka0815 commented on #831
I would also keep the GUI separated from the core like @Holzhaus mentioned.
However I'm not sure if using Python would be a good idea as the rest of the code is C(++).

[2018-07-16 12:43] rcrc2 commented on #1208
@SuperL2 did you rename them to dc_boot.bin and dc_flash.bin ?

[2018-07-16 12:57] OrtaDragoon commented on #1223
Whoops.  Sorry about that!   Enabling "enable custom key layout"(as suggested in the previous issue report) fixed the issue.  You guys can go ahead and close this one.

[2018-07-16 13:50] tlosm commented on #945
hi for a developing board you can check :
5020ds of NXP (expensive)

or AmigaOne X5000/20 AmigaOne X5000/40 from A-eon : http://www.a-eon.com/
by the way all powerpc hw 32/64 are compatible with that ... you can use a Talos II Board (Power9) in BE mode or old PowerMac G5 Quad too.

[2018-07-16 18:38] kercyx commented on #1208
As a beta tester on GPD XD, here is what I tested :
- Power Stone : graphical issues : no health bars, no name at characters selection screen (works better and faster on r6 with no problems at all)
- Unreal Tournament : still a lot of artefacts
- Dead or Alive 2 : problems with buttons
- Dynamite cop : graphical issues, like r6
- Sonic Adventure 1 and 2 / Jet Set Radio : a lot slower than r6
- Sou

[2018-07-16 23:46] #1223 closed

[2018-07-16 23:47] LoungeKatt commented on #621
I have one of each lol.

[2018-07-17 00:01] skmp commented on #1223
Is this information in the getting started guide?

On Tue, 17 Jul 2018 at 01:46, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-07-17 00:56] LoungeKatt commented on #1223
It's a workaround for the hardware. The better idea would be to detect the pad type and enable it by default.

[2018-07-17 00:58] LoungeKatt commented on #1202
Seems like this will end up more a case by case sort of thing. But this should probably be moved out of the active pile.

[2018-07-17 00:58] #1202 closed

[2018-07-17 01:00] LoungeKatt commented on #621
It's supported. It's working. All that's needed would be to submit the required stuff on Google Play to get them to allow listing it. Other than that, Puffin Browser TV works pretty good to access the builds.reicast.com site and install that way.

[2018-07-17 13:03] iPenguin22 opened #1224 "Daytona USA widescreen problem"
hi, the game Daytona USA 2001 doesn't display widescreen correctly on my Samsung galaxy note 3, i have the widescreen setting turn on and it only displays the usual 4:3 resolution and on start up the Dreamcast logo showed up in widescreen, and i have tried the widescreen setting in other games like Sonic adventure 1 & 2 and crazy taxi 2 and it does work for those games but not Daytona USA, please

[2018-07-17 15:18] PeteBurgess commented on #1147
Are there build instructions for Windows anywhere ?

[2018-07-17 15:22] weihuoya commented on #1147
It's like this, Include header fx for vs2015 #1177

[2018-07-17 17:35] PeteBurgess commented on #1147
That fixed it, thanks. Is it worth fixing the "converted int32 to int" type stuff or is that by design ?

[2018-07-17 23:56] #1224 closed

[2018-07-18 10:50] skmp commented on #1224
Sadly, the widescreen hack does not work with all games

[2018-07-18 12:31] iPenguin22 commented on #1224
but, i saw a video of the game running with the widescreen hack

here's the link: https://www.youtube.com/watch?v=UfcmHSBVWgs&t=174s

[2018-07-18 12:44] skmp commented on #621
@LoungeKatt do you have access to the android listing to try to fix it? I don't have the time to take a look at that right now :|

[2018-07-18 12:47] skmp commented on #1219
@ZacharyFoxx updated the ticket title / desc. to better describe the task that has to be done. Thanks for the research.

[2018-07-18 13:36] skmp opened #1225 "Open Positions in the Reicast Team"
(This is a rough idea of the roles we need to run the project smoothly. Please DO leave feedback)

Maintainers Team
===

"cashier" / "accountant"
---
- Keep tracks of donations, cash flows and such and publish monthly transparency reports.

This is a high trust position so it needs to be part of the Maintainers. We plan to eventually automate this, but right now it is a LOT of important grunt work

[2018-07-18 13:48] skmp commented on #1150
TODO: Better document relationships with 3rd party forks, and have a way to coordinate with downstream users / forks

[2018-07-18 13:49] skmp commented on #1150
TODO: Work on a public roadmap, so it's not all in my head

[2018-07-18 14:35] skmp opened #1226 "Downstream projects & 3rd party / unofficial forks"
Unofficial packages
- arch linux has one
- pandora package by @ptitSeb (is this even "unofficial" at this point?)

Direct downstream projects (projects that use reicast as is)
- ?

Closed source downstream projects (closed source projects that use reicast)
- ?

Products that bundle reicast (eg, I think GPD used to package some version built it?)
- ?

Forks with significant code changes
- [libretro

[2018-07-18 14:44] dankcushions commented on #1226
the retropie fork is here: https://github.com/RetroPie/reicast-emulator

maybe the retropie differences could be incorporated upstream, and then the retropie script could be updated to just build the upstream version: https://github.com/RetroPie/RetroPie-Setup/blob/master/scriptmodules/emulators/reicast.sh#L24

@gizmo98 might have an opinion here!

[2018-07-18 15:09] gizmo98 commented on #1226
@dankcushions
Our fork is outdated. All relevant changes (dispmanx and omx support) were posted and merged upstream. Upstream is running fine on a pi. I had no time to test retropie controller configuration with upstream. Keyboard works fine. If there is no problem retropie script can be updated.

[2018-07-18 16:32] LoungeKatt commented on #621
My email would have to be listed in Dev Console -> Settings -> Users & permissions
I would need at least Global "View app information" and then everything under RELEASE MANAGEMENT and STORE PRESENCE for just the app.

[2018-07-18 19:41] alvertosk commented on #1225
Sign me up for cashier accountant and or testing coordinator!

[2018-07-18 19:56] blackman91 commented on #152
Are both tickets closed now?

[2018-07-18 22:35] nafpliot-ibm commented on #1225
Count me in for devops / ci / cd... Travis hmmmm...

[2018-07-18 22:50] baka0815 commented on #18
I tried merging https://github.com/rtissera/libchdr and got that compiling after a while, however it reports that the CHD would be broken - but chdman says it's fine (looks like I did something wrong).
Our chdr implementation is a C++ version (like the current MAME one), but the library from @rtissera is backported to C.

I take a look at that tomorrow if the v5 stuff can be merged in our C++ vers

[2018-07-19 02:41] skmp commented on #1208
Just FYI, http://beta.reicast.com is the link that we want to pass around to people. It’s a short url for this issue, and in the future it will be the beta testers portal

[2018-07-19 08:54] twinaphex opened #1227 "New GLES2/GL3/GL4 renderers"
My main contribution to upstream is going to be the backporting of the GL3/GL4 renderers you see right now in flyinghead's fork and the libretro fork to reicast upstream.

I have currently decided on the following course of action:
* The existing GLES2 renderer will remain. What little can be backported from the GL3 renderer that won't cause performance issues will probably be done.
* For desktop,

[2018-07-19 11:09] flyinghead commented on #1227
I can certainly help!
I just pushed my two branches here: [non-OIT](https://github.com/reicast/reicast-emulator/tree/fh/mymaster) and [OIT](https://github.com/reicast/reicast-emulator/tree/fh/oit) and intend to keep them updated.
They are closer to master than the libretro cores so this might help.

[2018-07-19 15:32] Kaioshinnn commented on #1225
I want to be a beta tester.
And I can also edit videos with Sony Vegas.

[2018-07-19 16:33] baka0815 commented on #892
The file hasn't been touched since 2013-12-28, so it's very likely the behavior is still the same.
https://github.com/reicast/reicast-emulator/blob/a5cf5406cbbaf9dd849a56871ad48ddec0676377/core/hw/aica/aica_if.cpp#L26

[2018-07-19 18:19] blackman91 commented on #1227
Awesome news! What about a gles3 update?
https://github.com/reicast/reicast-emulator/issues/1162

[2018-07-19 20:50] skmp commented on #1227
@flyinghead @twinaphex do you want to start by bringing in these branches in this repo? We can prefix them like `libretro/<whatever>`

[2018-07-19 20:56] skmp opened #1228 "Sponsoring GL3/GL4 libretro work"
See #1227 for the work getting done

The idea is to sponsor @flyinghead at $300/mo as long as they are at least working part-time at this. I know the money is not much, but it's as much as we can afford atm. We also need to have regular merges to master.

There's already a revamped renderer and OIT support in AFAIR, though I haven't seen screenshots of videos myself. I'm sure @twinaphex can fill u

[2018-07-19 23:01] baka0815 commented on #18
Ok, my (experimental) branch (https://github.com/baka0815/reicast-emulator/tree/chdr) boots CHDv5 files which were created using "zlib (Deflate)" or "cdzl (CD Deflate)".
At least Crazy Taxi works, F355 Challenge - Passione Rossa v1.001 however doesn't work (the GDI from which I created the CHD works)...

[2018-07-19 23:08] fabregus commented on #1225
Count me in

[2018-07-20 06:55] pzoupis commented on #1225
Sign me up for devops.

[2018-07-20 12:03] skmp commented on #1102
- Moved Bounty tracking to org level, added url redirect. See https://github.com/orgs/reicast/projects/1/

[2018-07-20 12:05] skmp commented on #1102
Added redirects
- http://beta.reicast.com → https://github.com/reicast/reicast-emulator/issues/1208
- http://forum.reicast.com → http://dcemulation.org/phpBB/viewforum.php?f=86
- http://positions.reicast.com → https://github.com/reicast/reicast-emulator/issues/1225
- http://issues.reicast.com → https://github.com/reicast/reicast-emulator/issues/
- http://bounties.reicast.com → https://github.com/o

[2018-07-20 12:11] skmp commented on #7
Github refactor
- Moved Bounty tracking to org level, see https://github.com/orgs/reicast/projects/1/. Sadly had to clone as it couldn't be really moved. Like issues.

Added redirects
- http://beta.reicast.com → https://github.com/reicast/reicast-emulator/issues/1208
- http://forum.reicast.com → http://dcemulation.org/phpBB/viewforum.php?f=86
- http://positions.reicast.com → https://github.com/rei

[2018-07-20 14:45] spielvan commented on #1227
@twinaphex and @skmp one thing I noticed using Reicast on android 5.1.1 on the MX3-G with Mali 450 GLES2, is that it seems like it has a certain delay in loading HD tests, it would not be interesting a version where it could change the quality of the textures, for: low, medium and high, I think so because of the PPSSPP in this same box android, when I put more than 1x (number of ps proporcinal the

[2018-07-20 14:45] skmp commented on #7
Added
- http://todo.reicast.com
- http://chat.reicast.com (discord atm)
- http://irc.reicast.com

[2018-07-20 14:46] skmp commented on #1225
Will follow up over the wekeend. Meanwhile you can take a look in #7  #1144 #1102 and http://todo.reicast.com. Also http://chat.reicast.com :)

[2018-07-20 15:35] baka0815 commented on #1042
I will take a look at this in the upcoming week.

[2018-07-20 18:56] LoungeKatt commented on #1208
@kercyx Are the button issues specific to that title? And can you explain what they are?

[2018-07-20 20:33] kercyx commented on #1208
Yup it s specific to doa 2 and no buttons works like it should, just to choose the game mode in the menu is weird

[2018-07-20 22:18] LoungeKatt commented on #1041
Is this still an issue with the new beta versions?

[2018-07-20 22:19] LoungeKatt commented on #921
This should be resolved. Please reopen if it is not.

[2018-07-20 22:19] #921 closed

[2018-07-21 11:17] skmp commented on #10
@MrPsyMan we need to split those to actionable tasks at some point

[2018-07-21 13:07] Protofall opened #1229 "Reicast fails to render some KallistiOS scenes"
Some of my KallistiOS programs, that I have tested on real Dreamcast hardware, fail to render anything in the reicast emulator. Attached is an example CDI of a program that does this. The functions that load the data into memory all return 0 (Success). The problem could have to do with rendering. Also note every program I tested that did work uses PNG assets that are converted into a DC usable for

[2018-07-22 00:00] spielvan commented on #1227
in the same upscaling texture, leave the image quality, type what occurs in the retroarch core pararell64, 320x240, 640x480 .... so it can in weaker devices, load the faster graphics.

[2018-07-22 00:37] LoungeKatt commented on #1162
#1227 will be a good start for this. Extending it beyond desktop will be the easy part. This can probably be closed.

[2018-07-22 00:37] #1162 closed

[2018-07-22 07:32] baka0815 commented on #1229
Just to be sure, the expected output is the one from the screenshot, right?

[2018-07-22 07:58] Protofall commented on #1229
That is correct.

[2018-07-22 21:39] skmp commented on #18
I also spent some time to get this working -- https://github.com/reicast/reicast-emulator/tree/skmp/upgrade-chdr. It depends with #1206 a bit, around the include paths. Also doesn't compile for android or windows.

[2018-07-22 21:40] skmp commented on #18
@baka0815 do you have flac support in your changes? what is the difference between zlib and cdzl?

[2018-07-22 23:18] skmp commented on #1225
@alvertosk @nafpliot-ibm @Kaioshinnn @fabregus @pzoupis @pagojo can you sign up for http://chat.reicast.com and write a small intro message in #development?

[2018-07-23 05:51] baka0815 commented on #18
No FLAC or LZMA yet. You can pass 'zlib' and 'cdzl' to chdman.
'zlib' is about the same implementation as in previous versions, but with a different header, 'cdzl' has a base and a subcode decompressor and a little different structure.

[2018-07-23 05:52] baka0815 commented on #18
Libchdr also differs from the current mame implementation, so we probably shouldn't use it as external? I don't know if @rtissera is still working on it, because uncompressed isn't working and there are a lot todos in the code.

[2018-07-23 06:09] baka0815 commented on #18
We could fork and modify the code?

[2018-07-23 12:20] skmp commented on #18
@baka0815 @rtissera forked our code to start with :p. I think it is best having it as an external lib - then it is easier for other projects to reuse it too.

Afair the MAME drop is harder to work with

[2018-07-23 13:08] skmp commented on #1226
Also https://github.com/batocera-linux/batocera.linux/tree/master/package/batocera/emulators/reicast might be of interest

[2018-07-23 14:14] hatwheels commented on #1225
Sign me up for refactoring, it's something I like to do.

[2018-07-23 14:21] baka0815 commented on #18
@skmp Yes, MAME has **way** more dependencies!

However as we would need some bug fixes in @rtissera's work (uncompressed CHDv5 don't work, zlib compression in CHDv5 doesn't work, his code references ``GDROM_TRACK_METADATA_TAG`` as ``'CHTD'`` while MAME uses ``'CHGD'`` and maybe more) we would either need "upstreaming" our work to @rtissera's branch or fork his work into the main reicast-emulator

[2018-07-23 14:59] baka0815 commented on #1042
Maybe related: https://github.com/batocera-linux/batocera.linux/blob/master/package/batocera/emulators/reicast/0002-Add-multiple-inputs-based-on-emu.cfg.patch

[2018-07-23 14:59] anarchyguitarist commented on #1208
does that new beta version support widescreen hacks?
Trying to get Widescreen Soul Reaver but no succeed..
Device oneplus 6

[2018-07-23 17:31] rtissera commented on #18
Feel free to fork and submit PR I will make my best to merge them.

Le lun. 23 juil. 2018 à 16:21, Christoph <notifications@github.com> a
écrit :

[2018-07-24 10:53] baka0815 commented on #18
@rtissera I created a first cleanup PR https://github.com/rtissera/libchdr/pull/9.

[2018-07-26 05:19] blackman91 commented on #1208
Just got a freeze in Marvel vs Capcom 2 using latest beta and the log says this:

07-26 00:15:10.267 24038 24133 I reicast : [sh4]Read32 from 0x503464A0, not mapped [_vmem default handler]
07-26 00:15:10.291 24038 24133 I reicast :
07-26 00:15:10.291 24038 24133 I reicast :
07-26 00:15:10.291 24038 24133 I reicast : Unimplemented opcode: 00000001 next_pc: 8C269430 pr: 8C26942C msg: Unknown opcode

[2018-07-26 07:16] baka0815 commented on #1042
Well, reicast doesn't "crash", but intentionally exists:
https://github.com/reicast/reicast-emulator/blob/055c3599b6cfa99279542dc2d29c6e5032995ded/core/linux-dist/main.cpp#L134
Just removing this however doesn't work (controller not working).
I'm further looking into this, hopefully this afternoon.

[2018-07-26 09:48] skmp commented on #1225
Updated to add some fpga details. @hatwheels are you on the [discord chat](http://chat.reicast.com)?

[2018-07-26 15:39] gizmo98 commented on #1226
@skmp checked. Controller works!

[2018-07-26 18:13] Komsiuto commented on #850
This would be amazing, h-encore will allow us to play it

[2018-07-26 18:30] baka0815 commented on #1042
@TestSubject06 @SteelBattalion could you test this with #1239?

[2018-07-26 18:37] baka0815 commented on #18
@skmp some of my changes got merged into https://github.com/rtissera/libchdr so you might give the lib support another try.
There is also a pull request waiting from @inolen after that uncompressed files should start working.

[2018-07-26 19:50] skmp commented on #18
Sounds like great work! I’ll have my branch working in windows over the weekend, updating it will be trivial!

[2018-07-27 01:01] skmp commented on #1228
After discussion with both @twinaphex and @flyinghead it looks like they would prefer us to spend the money in some other way.

Thanks a ton for the pro-bono work! 🥇

[2018-07-27 01:01] #1228 closed

[2018-07-27 01:02] skmp commented on #1226
@gizmo98 so the scripts can be updated to use upstream directly now?

[2018-07-27 01:04] skmp commented on #1227
Just a quick update on this, it looks like @flyinghead got the changes in as [fh/mymaster](https://github.com/reicast/reicast-emulator/tree/fh/mymaster).

Not sure if this includes all of the libretro changes?

@twinaphex Will go over this ticket again when home and give you feedback. Got blocked with some IRL stuff this week.

[2018-07-27 09:02] baka0815 commented on #18
@skmp also take a look at my changes in https://github.com/reicast/reicast-emulator/blob/055c3599b6cfa99279542dc2d29c6e5032995ded/core/imgread/chd.cpp#L101

This is to support ``GDROM_OLD_METADATA_TAG`` and ``GDROM_TRACK_METADATA_FORMAT``.
See https://github.com/baka0815/reicast-emulator/commit/37f0ff62db5e41043cd79ca618481dacaeb7eed3#diff-cb507bb17d74342aa45b6e4d10d607af

See https://github.com/m

[2018-07-27 13:31] pold500 commented on #1140
Can you please assign this task to me? I'm looking to refactor the codebase to get rid of global vars.

[2018-07-27 14:14] baka0815 commented on #1140
You're free to start and just create a PR with your changes.

[2018-07-28 00:04] i30817 commented on #18
Something 'interesting' (or maybe not) you might not know right now is that retroarch inbuilt support for chd is crashing the application when you try to scan some MAME roms, namely those that aren't a 'cd' but are chds (harddrive roms for example).

Possibly the scanner treats every chd as if it was a cd and tries to extract a serial and crashes when it finds a different thing than expect, i didn

[2018-07-28 06:13] frstrikerman commented on #850
I posted this issue in the vitasdk chat and its seams that vitagl is lacking features we will need like  shaders

[2018-07-28 13:04] LoungeKatt opened #1240 "Whitespace consistency"
After reviewing the changes for https://github.com/reicast/reicast-emulator/pull/1238 and seeing whitespace issues cited against existing whitespace inconsistencies, my questions is can we pick a specific format, clean up the code, and then follow it?

tabs / 4 spaces?
separated / condensed statements?
new line / same line brackets?

[2018-07-28 14:47] pold500 commented on #1240
I also propose installing clang format plugin into build tools and writing a format.clang file with the rules, so they would be enforced.

[2018-07-28 16:43] baka0815 commented on #1240
I personally would indent with tabs.
Regarding brackets I don't have a strong opinion.

[2018-07-28 18:57] pold500 commented on #1240
I have no strong opinion about what exactly the style should be too, but I have the strong opinion that it should be enforced in the project, both when you write code, and in build verification tools, like CI.

I propose:
1. For variable names - underscore style (this_is_variable)
2. if/else/statements -
if( true )
{
}
else
{
//always a brackets even for one statement here
}
3. spaces - spaces ins

[2018-07-28 20:26] zach-morris opened #1241 "OSX Crashes with "shader compile fail""
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| OSX 10.11.6 | 1.7.3 | Hashtag (skip if unknown) | Yes (updated core from Retroarch) |

When launching a game that worked on earlier versions of the core and ver

[2018-07-28 23:42] dmiller423 commented on #493
^*&)(*% far be it from me to not take a bounty for adding a text warning,  but instead of long hash on an image why not just loads the image and check if the ip.bin is in place and uses the defaults etc and that the 1st_read.bin is actually in the location it looks for it?

That can be a separate issue tho after I add a dialog I suppose...

[2018-07-28 23:53] LoungeKatt commented on #1240
@pold500 Android Studio uses camel case variables by default. It's probably best not to create some arbitrary rule that involves needlessly submitting 10,000 lines of edits to "change some names" that git has no concern over, while whitespace issues do cause merge fails.

It also happens to cite "simplifying statements" as a warning and recommends removing unnecessary brackets, if not creating the

[2018-07-28 23:56] LoungeKatt commented on #493
@dmiller423 If it really is $50 to add a silly dialog that says "bruh, you dun loaded a cdi and obv couldn't read file names for yourself" then get that paycheck... lmao.

[2018-07-29 00:19] zach-morris commented on #1241
Wrong repo, sorry

[2018-07-29 00:19] #1241 closed

[2018-07-29 02:40] dmiller423 commented on #493
@LoungeKatt I suppose because whether the name has changed and my name is on it or not these days,  I am one of the original developers (as well as a previous emulator)

[2018-07-29 05:48] baka0815 commented on #1240
I would prefer
[code]

Use brackets whenever there is more than one line in at least one block. If all cases consist of just one line then no brackets.

Regarding variable names I'm fine with either ``variable_name`` (snake case) or ``variableName`` (canel case).

[2018-07-29 10:44] gizmo98 commented on #1226
@skmp I have tested a older raspbian jessie installation. When omx and dispmanx support was merged i tested with a raspbian stretch test installation. I will do a final raspbian stretch test with an up to date installation. After that i will do a PR.

[2018-07-29 14:11] skmp commented on #493
@dmiller423 I have credited you as "ZeZu" on the readme, was not sure you want your name exposed

[2018-07-29 14:14] skmp commented on #493
Add no, I actually added your full name. Oh well.

[2018-07-29 14:57] skmp commented on #1140
@pold500 what would be your plans? Are you on the discord chat? (JayD?)

[2018-07-29 18:47] LoungeKatt commented on #1240
@baka0815 Seems reasonable. That is something both Xcode and Android Studio could handle (which are my primary concern because Windows / Linux are pretty adaptable)

[2018-07-29 18:49] skmp commented on #1240
I have a stylesheet somewhere from the nulldc/e days.

in general, 4-spaces ident, and the C# styling guide.

[2018-07-29 18:50] skmp commented on #1240
Ideally, we'd use clang-format and also have validation for it - it has worked great for other projects.

[2018-07-29 21:08] baka0815 commented on #1043
You can now name your cfg file as the name of your controller.
See #1182 and #1196.

``evdev: Using '(null)' mapping`` is propably displayed because your mapping file doesn't have a name.

[2018-07-29 21:10] baka0815 commented on #1035
Could you please test with my changes mentioned in #1042?

[2018-07-29 21:18] baka0815 commented on #1004
[code]

[2018-07-30 04:19] Guns29 commented on #480
I have the galaxy s8 and having the same problem when touching the screen I can fill the buttons but they are not displayed on screen tryed all opinions but nothing can some one help

[2018-07-30 09:11] pold500 commented on #1240
Here's an example of .clang-format file.

We can discuss every rule, how we want it to be.

---
AccessModifierOffset: -4
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabe

[2018-07-30 13:03] LoungeKatt commented on #1240
@pold500 That's a bit ridiculous. We're not writing the SOP for Microsoft. Get too strict and you are going to scare off any sort of contribution.

[2018-07-30 18:55] skmp commented on #1240
Do you have some examples on how formatting looks like with that style-sheet? To agree with @LoungeKatt, I think we need to only require this for merging to master, and not to say for dev branches.

Formatting can also be done as a pre-commit hook in most dev environments.

Also, as @LoungeKatt mentioned we need to see how we'll apply the initial formatting change. Is there some way for github to

[2018-07-30 18:56] skmp commented on #480
@Guns29 are you using the beta? see #1208

[2018-07-30 19:04] skmp commented on #1226
@gizmo98 thanks :)

[2018-07-30 19:10] skmp commented on #1227
@spielvan yes, having a "native resolution" mode would help a lot. We had this in nullDC too.

@twinaphex the overall plan sounds good. I also agree it would be nice to re-use gltex and such, but betting all of the code in is higher priority.

GL context init is a major issue in the current code structure. Having a few hacky extra #ifdefs there would be fine by me. That code should be refactored,

[2018-07-30 19:10] skmp commented on #1227
@flyinghead sounds good to you?

[2018-07-30 22:17] skmp commented on #1140
@davidgf you up for joining the maintainers team over the next few months?

[2018-07-30 22:23] skmp opened #1242 "August team coordination"
Location
--
- #reicast-dev in http://chat.reicast.com

Media
--
- Primary text.
- I'm open to experimenting with the voice/video functionality in discord vs just text-based IRC style. Let's keep in mind that, people are often uncomfortable to use voice or have network issues though.

Agenda
---

We've had a lot of new volunteers, and a lot of new ideas over the past 2-3 weeks.

Following the discu

[2018-07-30 23:15] skmp opened #1244 "Implement variable size support for TA staging buffers"
Follow up from #1168, temporary workaround: #1243

[2018-07-30 23:17] skmp commented on #1168
(Follow up ticket created, workaround merged to master)

[2018-07-30 23:17] #1168 closed

[2018-07-30 23:19] skmp opened #1245 "rec-cpp: Add option for SMC detection / CheckBlocks"
Follow up from #1167

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/61530412-rec-cpp-add-option-for-smc-detection-checkblocks?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F500311&ut

[2018-07-31 01:37] skmp commented on #7
Added
- http://liberapay.reicast.com

[2018-07-31 01:45] twinaphex commented on #1227
From what I understand of @skmp, this is going to be mainly informal chats on Discord with no voice (or at least optional). I am fine with that at least, and would be willing to be part of any discussion/conversation from time to time. As long as it's kept to that and it doesn't turn into anything bigger like some corporate-style Skype meetings, then fin.

[2018-07-31 02:04] LoungeKatt commented on #1240
@pold500 Ctrl+k? I don't even have the buttons for that...

[2018-08-01 04:43] skmp opened #1246 "Let's fix all shenmue issues"
The shenmue remaster gets released on the 21st, so we should have that game fixed by then.

Anyone up for helping?

---

[Shenmue Issues](https://github.com/reicast/gamedb/issues?q=is%3Aissue+is%3Aopen+label%3A%22%F0%9F%8E%AE+shenmue%22)

[Shenmue II Issues](https://github.com/reicast/gamedb/issues?q=is%3Aissue+is%3Aopen+label%3A%22%F0%9F%8E%AE+shenmue-ii%22)

[2018-08-01 23:14] davidgfnet commented on #1225
So Confused With The Redirection :D
Anyway.. yeah count me in! Why not!
You told me some fella working on Switch port? That's be cool to participate in :) My switch is (almost) virgin for homebrew :D

[2018-08-01 23:15] davidgfnet commented on #1225
Also for gamedb stuff and automation I can help a lot, built up some experience on my job

[2018-08-02 08:59] LordBarker80 opened #1248 "Forcing 240p on Reicast on a CRT for games that use it."
Unable to force 240p in Reicast for games that need it when using SwitchRes on a CRT i.e. Bangai-O, Naomi games that ran at 240p. The internal resolution will only let you drop to 480i.

| ------ | ------ | ---- | ---- |
| Win 7 | Reicast |

[2018-08-02 21:14] skmp opened #1249 "Optimize termination/exit checks in JIT mainloop"
#1236 introduced checks on every mainloop lookup -- we should limit them to interrupt checks.

[2018-08-02 22:17] blackman91 commented on #813
I have the same issue with both windows builds MSVCP120D.dll missing and I cannot install could you upload the mediafire link again? Link is dead and the official windows downloads do not work to make it work.

[2018-08-02 22:25] blackman91 commented on #813
How to install the latest reicast build from here on windows?
http://builds.reicast.com/

[2018-08-03 05:40] blackman91 commented on #813
Nevermind I figured out guys, if you get the same error just put the build exe inside a folder with this and it will run:
<img width="498" alt="reicastpc" src="https://user-images.githubusercontent.com/6578180/43626048-d0d3a728-96b5-11e8-8e9b-db269643de17.png">

[2018-08-03 19:24] dhanial opened #1255 "Reicast Beta - First no response and then force close when i try to open setting"
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue_**

[2018-08-03 19:36] AbandonedCart commented on #1255
Without any of the info from the form filled in, I am only guessing... have you tried using the latest version from http://enroll.reicast.com/? This was an issue a couple weeks back that was resolved.

[2018-08-05 14:50] skmp commented on #1240
It really sounds like we want the clang-format thingy

[2018-08-05 14:56] skmp commented on #1240
Anyone up for iterating on @pold500's config and discover a sensible one that has minimal changes to the source?

[2018-08-05 15:37] AbandonedCart commented on #1240
Should probably do it for core exclusively for now. Let the default IDEs handle proprietary code for shells.

[2018-08-06 00:49] wstoneman opened #1258 "Reicast on Pixelbook"
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| Android 7.1.1 running on pixelbook | rc7-g94c7e79 [94c7e79]| ---- | ---- |

**_Description of the Issue_**

I am trying to Reicast to run on the pixelbook. I have created the dc/data directory a

[2018-08-06 19:04] dmiller423 commented on #1139
Fixed - 38539a9

[2018-08-06 19:04] #1139 closed

[2018-08-06 19:06] dmiller423 commented on #493
Added -38539a9

[2018-08-06 20:02] SteelTitanium opened #1259 "Used to work on previous version of reicast for Android."
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 7.0 | Google Play (Beta) | 38539a9c | No |

**_Description of the Issue_**

Black screen when attempting to boot a game or bios.

**_Debugging Steps Tes

[2018-08-06 20:27] blackman91 commented on #1259
Can confirm this bug happena on latest Android beta, selecting the option boot bios gives a black screen and loading any .cdi game also gives a black screen, it seems loading .gdi and .chd it the only thing that works now, was .cdi support removed? A number of games only work on .cdi format in reicast like Volgarr and Silver.

[2018-08-06 21:22] AbandonedCart commented on #1259
CDI support was not removed. It was being improved for other platforms and that may have broken it for Android.

[2018-08-06 23:39] AbandonedCart commented on #1259
[code]

[2018-08-06 23:46] skmp commented on #1259
Looks like @dmiller423's accidental releases caused this. Prolly we should revert. @dmiller423 See why we do the PRs? :3

[2018-08-07 01:51] skmp commented on #493
Did we figure out what caused the breakage?

On Mon, Aug 6, 2018 at 9:06 PM, David Miller <notifications@github.com>
wrote:

--
~skmp

[2018-08-07 07:47] Larrynho commented on #1208
Lastes Play store beta build makes my screen go black anytime I try to start a game / bios. ( 07/08/208 build ce447e2 | 2018-08-07T02:04:32.000Z I think ).

On the previous commit, shadowman was giving an error on start and white screen after bios but if I download reicast master apk 38539a9 | 2018-08-06T19:15:04.000Z  it works fine.

[2018-08-07 07:58] AbandonedCart commented on #1208
Rest assured, the black screen issue has been identified.

[2018-08-07 10:14] baka0815 commented on #1242
Yes, I am (just created an account, haven't used before): slack-at-baka0815.de

[2018-08-07 10:30] baka0815 commented on #493
Maybe we should also refer to [Redump.org](http://redump.org/discs/system/dc/), [TOSEC](https://www.tosecdev.org/) or [Dumpcast](http://dcemulation.org/?title=Dumpcast)?

[2018-08-07 10:51] pold500 commented on #1242
I'm available via discord.

[2018-08-07 12:31] skmp opened #1260 "Broken master / Beta builds not from master"
38539a9c2fd98afd0e8fb0daa37205e6fa389337 broke master @dmiller423 I've reverted it and pushed your changes as `dm/cdi-warn-and-ngen-fixes`

[2018-08-07 12:35] skmp commented on #1242
@baka0815 err sorry, my bad, I meant discord*. I keep forgetting we have moved out from slack. (See http://chat.reicast.com)

[2018-08-07 12:40] skmp commented on #1242
So, here are a few updates
- Released r7 (see https://github.com/reicast/reicast-emulator/releases/tag/r7)
- Decided next releases will be on Aug 20th, Sept 8th. Let's make sure `master` is in a great shape in these days.
- Decided will auto-tag beta at 25th of each month, and auto-tag release at 8th of each month.

[2018-08-07 12:40] skmp commented on #571
r7 has been released ~> https://github.com/reicast/reicast-emulator/releases/tag/r7

[2018-08-07 12:48] skmp commented on #1260
@dmiller423 *pretty pls* can you avoid pushing to master and other such over-the-top commit approaches? You have full admin rights to the repo (it's you, me and @MrPsyMan atm) and you have a lota power to break things :1st_place_medal:

Closing this as master is now working again :)

[2018-08-07 12:49] skmp commented on #1259
Should be resolved with next release, See #1260

[2018-08-07 12:49] #1259 closed

[2018-08-07 12:52] skmp commented on #1255
@dhanial can you please amend this and add the version of reicast? We ill re-open the investigation then. You can see the version in the About section. As the form says, the fields should be completed :)

@AbandonedCart maybe we should make the version visible just also the side bar?

[2018-08-07 12:52] #1255 closed

[2018-08-07 12:56] skmp opened #1261 "r8 release (due 07/09/2018)"
August was vacations month, I guess we skipped one release. Oh well.

---

as per #1242, next release is scheduled for 20/08/2018.

What changes would you like to merge in for r8?

[2018-08-07 13:00] skmp commented on #1240
Agreed there

[2018-08-07 13:08] skmp commented on #1261
- Let's fix Shenmue #1246
- Clang-format #965
- Updated android UI

[2018-08-07 13:12] skmp commented on #493
@dmiller423 See #1260, re-opening while investigating exactly what broke yesterday

[2018-08-07 13:13] skmp commented on #1260
Looks like this issue is more complicated. Somehow builds with non-matching commits make it to google play (?)

[2018-08-07 13:28] skmp opened #1262 "Reicast @ 35c3 (26~30.12.2018, Leipzig DE)"
"The 35th Chaos Communication Congress (35C3) is an annual four-day conference on technology, society and utopia. The Congress offers lectures and workshops and various events on a multitude of topics including (but not limited to) information technology and generally a critical-creative attitude towards technology and the discussion about the effects of technological advances on society. "

https

[2018-08-07 13:30] skmp commented on #1102
Moved to r8. See #1261

[2018-08-07 13:31] baka0815 commented on #1242
Looks like I kann kill my slack account. :D
Don't have a Discord account yet, will create one in the upcoming days.

[2018-08-07 13:34] skmp commented on #7
Added
- http://docs.reicast.com

[2018-08-07 14:50] dmiller423 commented on #1260
...

[2018-08-07 14:52] skmp commented on #1260
Yeah, looks like you can't take the blame for this one, @dmiller423. The builds must have been broken by the tag change? How did that happen?

@AbandonedCart it looks like `./travis-deploy.sh` is not getting run during master builds now

[2018-08-07 14:54] dmiller423 commented on #1260
@skmp : @AbandonedCart mentioned some issues w. travis and I knew that code shouldn't have possibly broken the emulator.   If it works on most of the platforms and not on one,  you know the bug lies elsewhere 99% of the time.

[2018-08-07 18:44] SteelTitanium opened #1264 "Android: Data and Time not saving"
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 7.0 | Google Play | f43c03f | No |

**_Description of the Issue_**

Date and Time won't stick between boots.

**_Debugging Steps Tested_**

* Setting th

[2018-08-07 19:11] blackman91 commented on #1261
Any way for this merge to work on Android?
https://github.com/reicast/reicast-emulator/pull/1234

[2018-08-07 20:11] AbandonedCart commented on #1261
@blackman91 It's being looked into and you already asked on the merge itself. Not every fix for Windows is going to fix Android, though. They are completely different platforms.

[2018-08-07 20:28] AbandonedCart commented on #1264
Does setting the time 1 minute ahead (ie. it is 11:15 and you set 11:16) work?

[2018-08-07 22:57] SteelTitanium commented on #1264
No, it don't @AbandonedCart

[2018-08-08 01:59] OrtaDragoon commented on #1264
Have you tried the day/month/year format?

[2018-08-08 02:49] blackman91 commented on #1261
It seems it works on Android now on fh branch, thanks a lot!

[2018-08-08 03:58] AbandonedCart commented on #1121
https://github.com/reicast/reicast-emulator/pull/1133

[2018-08-08 03:58] #1121 closed

[2018-08-08 04:01] AbandonedCart commented on #1158
No response in over a month with no additional reports. If the issue remains, please reopen this.

[2018-08-08 04:01] #1158 closed

[2018-08-08 04:17] AbandonedCart commented on #1132
[![Build Status](https://app.bitrise.io/app/d082ed2fb1bdeeef.svg?token=39zhSBFh-b9YVJw8q91omw)]

[2018-08-08 04:34] AbandonedCart commented on #1132
Registered as emudev.org under an emudev email account.
Requires some form of signing certificate to deploy builds.

[2018-08-08 04:34] #1132 closed

[2018-08-08 04:52] #1066 closed

[2018-08-08 04:53] #1041 closed

[2018-08-08 04:54] #967 closed

[2018-08-08 04:55] #990 closed

[2018-08-08 04:57] AbandonedCart commented on #1110
Too late...

[2018-08-08 04:57] #1110 closed

[2018-08-08 04:58] #987 closed

[2018-08-08 04:59] AbandonedCart commented on #904
This has been since discarded and will be replaced by wizardry in the flyinghead branches

[2018-08-08 04:59] #904 closed

[2018-08-08 05:00] AbandonedCart commented on #825
Now working for Android without the imminent need for a savestate.

[2018-08-08 05:02] AbandonedCart commented on #653
This has since been somewhat addressed and Android limitations more clearly documented.

[2018-08-08 05:02] #653 closed

[2018-08-08 05:03] AbandonedCart commented on #649
This is ancient history now.

[2018-08-08 05:03] #649 closed

[2018-08-08 05:03] AbandonedCart commented on #621
The support is there, so the issue need not be.

[2018-08-08 05:03] #621 closed

[2018-08-08 05:34] AbandonedCart opened #1266 "Support archived ROM files"
Stupid easy to do on Android and likely not much harder for anything else. Put a zip file in the appropriate folder / at the right path, let the shell handle the "heavy lifting" of unpacking it. As a bonus, you could add ~20 seconds to booting the game to only store the unpacked files temporarily.

[2018-08-08 11:01] blackman91 commented on #1264
Can confirm the date doesn't save on latest Android beta after clean install, also even if you change the language on bios settings it doesn't get saved.

[2018-08-08 11:11] blackman91 commented on #1264
Setting  it 5 minutes before does work on fh mymaster branch, then I uninstalled and installed normal beta again and the bios kept the same settings.

[2018-08-08 13:09] skmp commented on #1266
? closed

[2018-08-08 13:10] skmp commented on #1266
we canalso support streaming zip and such

[2018-08-08 13:15] AbandonedCart commented on #1266
Closed because it an idea and didn't need to get flooded with +1 or "can you also" type posts quite yet.  Internally, it still notifies.

[2018-08-08 15:50] AbandonedCart commented on #1264
Fixed by https://github.com/reicast/reicast-emulator/pull/1267

[2018-08-08 15:50] #1264 closed

[2018-08-08 15:53] baka0815 commented on #1266
I woulf also like the idea of streaming ZIP files or would that slow down performance too much? Regarding of compression ratio the deconpression of the complete file could take a lot of time.

Also the gdi/chd/cdi file could be in a sub-folder inside the ZIP file - do we want to support that too?

[2018-08-08 15:57] AbandonedCart commented on #1266
Slow down runtime performance? Not really. Slow down initial load? Noticeably. Streaming from a ZIP is the same thing as streaming a video. You cache all / part of it during the run.

[2018-08-08 16:40] AbandonedCart commented on #1260
Both the commit and wonky travis builds have been fixed. The desired changes can now be *tested* against a verified working master.

[2018-08-08 16:40] #1260 closed

[2018-08-08 16:41] AbandonedCart commented on #1061
This has finally been resolved across platforms.

[2018-08-08 16:41] #1061 closed

[2018-08-08 16:41] AbandonedCart commented on #922
This has finally been resolved across platforms.

[2018-08-08 16:41] #922 closed

[2018-08-08 16:41] AbandonedCart commented on #863
This has finally been resolved across platforms.

[2018-08-08 16:41] #863 closed

[2018-08-08 16:42] AbandonedCart commented on #868
Is this still an issue with the most recent changes?

[2018-08-08 16:42] AbandonedCart commented on #307
This has finally been resolved across platforms.

[2018-08-08 16:42] #307 closed

[2018-08-08 16:43] AbandonedCart commented on #70
Is there still anything required for this? Cannot verify Linux, but Android has a very effective method for debugging.

[2018-08-08 16:48] AbandonedCart commented on #1155
This may have to do with the resolution of the device being significantly smaller than the minimum set for the button layout.

[2018-08-08 16:51] AbandonedCart commented on #429
This appears to have been fixed. If the issue is still present, please reopen.

[2018-08-08 16:51] #429 closed

[2018-08-08 16:52] AbandonedCart commented on #588
3 years later, this is now a proper thing.

[2018-08-08 16:52] #588 closed

[2018-08-08 16:53] AbandonedCart commented on #681
Verified that this is working. Please reopen if you find it is not.

[2018-08-08 16:53] #681 closed

[2018-08-08 16:54] AbandonedCart commented on #792
This has since been possible, with slight crashes for external commits related to keys.

[2018-08-08 16:54] #792 closed

[2018-08-08 16:54] AbandonedCart commented on #829
Was this forgotten?

[2018-08-08 16:55] AbandonedCart commented on #835
Still an issue?

[2018-08-08 16:55] AbandonedCart commented on #858
This appears to be fixed. Please reopen if it is not.

[2018-08-08 16:55] #858 closed

[2018-08-08 16:57] AbandonedCart commented on #894
Massive improvements have been made that (at least most likely) resolved this. Please reopen if the issue is still there.

[2018-08-08 16:57] #894 closed

[2018-08-08 16:57] AbandonedCart commented on #928
This appears to be resolved. Please reopen if it is not.

[2018-08-08 16:57] #928 closed

[2018-08-08 16:57] baka0815 commented on #1266
We would already need 7zip support for CHDv5 (LZMA) should we use that to also uncompress the files?
However I don't know about Android support of 7zip.
Java has native ZIP support (also on Android?).

[2018-08-08 16:58] AbandonedCart commented on #1266
Java can support ZIP directly. On the native side, it can support anything.

[2018-08-08 16:58] AbandonedCart commented on #395
Handling this momentarily...

[2018-08-08 17:00] AbandonedCart commented on #992
Features have been added to overcome some speed issues, but there will always be some that are simply the device. Closing this for now, but please reopen if you find that the speed slows down from a previous build (meaning something we did slowed it down).

[2018-08-08 17:00] #992 closed

[2018-08-08 17:01] AbandonedCart commented on #1040
The next few days was a few months ago, so closing this one.

[2018-08-08 17:01] #1040 closed

[2018-08-08 17:01] AbandonedCart commented on #1062
This has since been resolved by conversion to Android Studio.

[2018-08-08 17:01] #1062 closed

[2018-08-08 17:04] AbandonedCart commented on #1137
Closing this for now in hopes that it will improve over time. Unfortunately, no specific steps can be taken for that specific hardware.

[2018-08-08 17:04] #1137 closed

[2018-08-08 17:17] AbandonedCart commented on #395
This will be resolved by https://github.com/reicast/reicast-emulator/pull/1269

[2018-08-08 17:17] #395 closed

[2018-08-08 23:00] blackman91 commented on #132
So what does the option onscreen button theme in reicast settings do? Can you change someway your onscreen button theme from there or you have to replace them manually?

[2018-08-08 23:02] AbandonedCart commented on #132
Make a themes folder alongside reicast's /data/ folder, put a button png in there from here, the forum, or one you designed to the specs of the one already in the folder, go to the app's settings and pick it from the themes.

[2018-08-09 09:57] baka0815 commented on #132
Should we update the documentation?

[2018-08-09 15:21] SteelTitanium opened #1270 "How do the disc swap feature work?"
How do it work, as touching the disc swap button does nothing.

[2018-08-09 15:25] AbandonedCart commented on #1270
https://github.com/reicast/reicast-emulator/issues/155
https://github.com/reicast/reicast-emulator/issues/454

TL;DR I don't know that it actually does anything right now.

[2018-08-09 17:50] SteelTitanium commented on #1270
So for the time being, it's impossible to play games which is on more than one disc?

[2018-08-09 17:52] AbandonedCart commented on #1270
For games like that, you could just get to where it tells you to insert the second disk and manually switch to the new ROM (if they are separate files).

[2018-08-10 00:06] skmp commented on #1270
@steeltitanium support questions should be asked at http://forums.reicast.com

[2018-08-10 00:06] #1270 closed

[2018-08-10 00:18] MasterGamingYT opened #1272 "How do I get gameshark as boot disk on reicast"
Ok so I see this option called boot disk but how do I get something like gameshark as a boot disk, each time I edit it, it freezes, I'm just wondering...

[2018-08-10 02:48] AbandonedCart commented on #1272
Duplicate of https://github.com/reicast/reicast-emulator/issues/1270

[2018-08-10 02:48] #1272 closed

[2018-08-10 08:46] baka0815 commented on #1042
@TestSubject06 @SteelBattalion could you test with #1273 please?

[2018-08-10 08:46] baka0815 commented on #1035
@TestSubject06 @SteelBattalion could you test with #1273 please?

[2018-08-10 09:48] RaduNastase opened #1274 "Where can i find this exact build guys?"
![screenshot_2018-08-10-08-12-36](https://user-images.githubusercontent.com/18061144/43951297-744bb18a-9c9b-11e8-84be-22d4f9c147d6.png)

Can't seem to find it among the builds. Thanks!!

[2018-08-10 10:10] baka0815 commented on #1274
The Hash inside the brackets is the commit from which the build was generated. In this case it's https://github.com/reicast/reicast-emulator/commit/0dba81b.

[2018-08-10 12:59] AbandonedCart commented on #1274
It is not available on builds.reicast.com because it predates the creation of that page. Things like this are topics for the forum, though.

http://forum.reicast.com/

[2018-08-10 12:59] #1274 closed

[2018-08-10 20:13] blackman91 commented on #84
The hanging still happens on latest beta and on fh master builds, any luck with the proposed solution guys? This is one of the great dreamcast games that no emu can play without freezing in scripted battles, it even freezes on RetroArch core.
Maybe @flyinghead can solve it too?

[2018-08-10 21:35] AbandonedCart commented on #84
In regards to the comment by @helloray, it appears we no longer return 0 from that function anyway.
[code]

[2018-08-11 01:26] #1042 closed

[2018-08-11 03:27] MasterGamingYT opened #1276 "How do I get disks such as gameshark as a default disk on reicast?"

[2018-08-11 03:30] AbandonedCart commented on #1276
Duplicate of #1276
Duplicate of #1270

[2018-08-11 09:36] blackman91 opened #1278 "Right Stick On option not working."
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 7 | Google Play latest beta | Hashtag (610cec1) | Downloaded from build site? No |

**_Description of the Issue_**

The Right stick on L/R, off A/B optio

[2018-08-11 10:21] faxfrag opened #1279 "Reicast FPS drop/lag especially when audio is turned on."
Hello, I'm using Reicast on Mi Mix2S device running on Android 8.

I'm experienced FPS drop to about 40fps and stuttering when audio turn is on. If I turn it off, it run on stable 60 fps just fine.

also I have to turn on **Synchronous Rendering** and **Limit FPS** otherwise Emu will run too fast.

Do I miss something in the settings to make this work correctly?

I try both stable version and beta

[2018-08-11 10:30] AbandonedCart commented on #1278
The menu popup is still there. It is assigned to the back button. hardware menu key, or Keycode.BUTTON_SELECT as defined by your platform and controller. If your controller is not registering the desired key, you also have the option to assign the select button under Input -> Customize Physical Controller.

[2018-08-11 10:41] AbandonedCart commented on #1278
This is solved by https://github.com/reicast/reicast-emulator/pull/1280

[2018-08-11 10:41] #1278 closed

[2018-08-11 10:50] blackman91 commented on #1278
I meant the option to enable the right stick for l/r was on the pop up menu in r6 and not in newest beta.

[2018-08-11 10:57] AbandonedCart commented on #1278
My apologies. Combining multiple issues and their details into a single sentence ran together when trying to read it. It was removed intentionally because there were too many issues with trying to change the controller layout dynamically at runtime.

[2018-08-11 15:05] spielvan commented on #1242
@skmp , reicast on android has improved a lot, the advance that has had since the creation of the beta tester system is incredible, I believe that when I can do the graph for 1x, 2x, 3x .... will be definitive and solve the problems of bugs graphics, I have impression that they occur due to a very high demand on the GPU. A hug and success always.

[2018-08-12 01:35] AbandonedCart commented on #1208
@SteelTitanium That setting doesn't do anything but save the text. It's not connected to anything.

[2018-08-12 02:56] blackman91 commented on #1278
Thanks for the fix but it seems the right stick input is all wacky on latest beta, for instance in skies of arcadias after you use the right stick the camera won't stop spinning and in MvsC2 the stick does the vombined specials instead of just calling your partner for some reason.

[2018-08-12 03:11] AbandonedCart commented on #1278
The right stick options were meant to allow the right stick to work with racing games. It is converting an axis into a button, which completely contradicts its design. It's not intended to be an all purpose button and the feature is designed with racing games in mind. I recommend not using it to replace the already-working buttons.

[2018-08-12 11:40] baka0815 commented on #1035
Fixed with #1273.

[2018-08-12 11:40] #1035 closed

[2018-08-13 10:06] baka0815 opened #1287 "Remove X11 keyboard support"
As Linux supports the keyboard as an input device, we might as well remove the legacy X11 keyboard support. One reason would be that it can confuse people if activated (see #1035).

There is also currently no way to configure the X11 keyboard as the inputs are all hard coded.
Or is there any reason to still support this? Then we should enable the configuration of the X11 keyboard.

[2018-08-13 11:14] baka0815 commented on #1083
The mappings directory is not ``~/.config/reicast/mappings/`` but ``~/.local/share/reicast/mappings/``.
I updated the man file in #1286 to make that more clear.

[2018-08-13 11:19] baka0815 commented on #340
This should be fixed by now and can be closed?

[2018-08-13 11:30] baka0815 commented on #855
Is this still an issue?

[2018-08-13 11:48] baka0815 commented on #778
Could we upload the linux builds to http://builds.reicast.com/?

[2018-08-13 11:52] baka0815 commented on #949
This is an issue tracker, not a support forum. Use forum.reicast.com for support.

[2018-08-13 11:52] #949 closed

[2018-08-13 11:53] baka0815 commented on #948
Is this still an issue?

[2018-08-13 11:55] baka0815 commented on #943
Refer to reicast.com (or builds.reicast.com) for current builds.

Closing this as @JamesAndresCM said it's working.
Please reopen if not.

[2018-08-13 11:55] #943 closed

[2018-08-13 13:27] baka0815 commented on #1004
Closing this because of inactivity.
Please reopen if this is still an issue.

[2018-08-13 13:27] #1004 closed

[2018-08-13 13:33] baka0815 commented on #1007
It would be displayed as an overlay if it's present.
I wouldn't recommend using the ``buttons.png`` as it's a bit confusing on a desktop, but it might come in handy debugging.

``make install`` shouldn't copy the file as most people don't want that overlay.

[2018-08-13 13:55] AbandonedCart commented on #340
Completely missing on Android

[2018-08-13 22:08] #773 closed

[2018-08-14 00:12] blackman91 commented on #1208
The newest master merges are not being published to the googleplay beta right now I think.

[2018-08-14 00:58] blackman91 commented on #84
Apparently the issue is fixed with this:
https://github.com/libretro/reicast-emulator/pull/206

Could that be done in standalone reicast?

[2018-08-14 08:58] blackman91 commented on #84
Just tested latest flyinghead/mymaster build and the issue seems to be fixed, tested on the first scripted battles and it no longer freezes:
https://github.com/reicast/reicast-emulator/commit/a7cfa1f

Great job!

[2018-08-14 15:32] spielvan commented on #1242
skmp Congratulations on the reicast port for the retroarch android 32bits, I already got the core for my retroarch 1.7.3 "Reicast 0.1 689e21a", so that gave a problem, when I load a game, which usually squeezes into the reicast separate version of the retroarch, it loads the dreamcast bios normally, but when it goes to load the game, it closes the retroarch and goes to the android tv box.

[2018-08-14 15:38] twinaphex commented on #1242
Please don't emburden core upstream authors with this, they don't like being emburdened with these kind of questions. You should direct them at us instead.

[2018-08-14 15:55] spielvan commented on #1242
@twinaphex  I'm sorry, I was so excited about the news that I had not even noticed this detail, I'll post it on the retroarch forum.

[2018-08-14 19:57] twinaphex commented on #1242
@spielvan No problem.

[2018-08-14 20:33] Juiss opened #1292 "LT and RT inputs dropped when moving the joystick"
Moving around while pressing down either triggers will just drop the (trigger) input for a split second every time on my controller. I've tried rebinding the triggers to different buttons but it doesn't change anything. This only happens in Reicast.

I'm on the latest beta build from the play store on Oreo 8.1

[2018-08-14 22:06] AbandonedCart commented on #1292
Moving this to https://github.com/reicast/reicast-emulator/issues/998, since the root issue is the same thing.

[2018-08-14 22:06] #1292 closed

[2018-08-15 01:05] MasterGamingYT commented on #1279
What are your device specs?

[2018-08-15 01:09] AbandonedCart commented on #1279
@MasterGamingYT https://www.gsmarena.com/xiaomi_mi_mix_2s-9067.php

It should run normally with the default settings. It is possible the existing audio drivers are not compatible with your hardware. The audio thread is typically what controls the overall speed of the emulator, which is why you need the other settings when it is disabled.

[2018-08-15 04:53] AgentCBZ opened #1293 "Skies of Arcadia Error and Freezes Delphinus, Enrique"
Android Nougat 7.1.1
Downloaded from Google Play

Game will show error and then will freeze once you get the Delphinus and Enrique for the first time.

Using the latest version from google play

Tried
Force Software Rendering
Frameskip Value 1

Here are the VMU files just before the boss fight and the freeze:
https://drive.google.com/file/d/109fdzgXwtDesAnxxYVr9sNnoZxYSQa5Q/view?usp=drivesdk

http

[2018-08-15 11:01] skmp commented on #1279
I’ve had this happen before in some HTC phone, it was a mis-configured alsa
driver in the phone’s kernel. Do other low latency apps work correctly?

On Wed, 15 Aug 2018 at 04:09, Abandoned Cart <notifications@github.com>
wrote:

[2018-08-15 11:15] skmp commented on #1293
This issue was moved to reicast/gamedb#113

[2018-08-15 11:15] #1293 closed

[2018-08-15 11:16] skmp commented on #1293
@AgentCBZ Please open game compat related issues in the gamedb subproject in the future. Moved this one there. Thanks for reporting :)

[2018-08-15 15:02] AbandonedCart commented on #1083
This appears to be a misunderstanding that was resolved through clearer documentation. If this is still an issue, please feel free to open it again.

[2018-08-15 15:02] #1083 closed

[2018-08-15 18:36] AbandonedCart commented on #758
Yes

[2018-08-15 21:50] baka0815 commented on #758
If I understand that right, the problem is, that the empty VMU needs to be formatted throught the BIOS instead of being directly usable, right?

[2018-08-16 01:14] MasterGamingYT commented on #758
Yes

[2018-08-16 01:16] AgentCBZ commented on #1293
Will do. Thanks for the correction.

[2018-08-16 01:50] blackman91 opened #1294 "Can't keep Lt and Rt buttons pressed."
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 7 | Google Play Beta | b2e07d0| Downloaded from build site? No |

**_Description of the Issue_**

Using an external gamepad you can't keep both Lt and Rt

[2018-08-16 03:00] AbandonedCart commented on #1294
Duplicate of https://github.com/reicast/reicast-emulator/issues/998

[2018-08-16 03:00] #1294 closed

[2018-08-16 03:02] AbandonedCart commented on #758
I believe that issue was solved. The issue was that when updating to a new version, you had to "eject" the VMU before the update or it would corrupt.

[2018-08-16 03:26] blackman91 commented on #998
Does this works with any gamepad? Tried 3 different gamepads and none could press both lt and rt at the same time, only works with the touchscreen overlay and analog triggers are not mappable, this affects a bunch of fighting games like MvsC2.

[2018-08-16 03:26] AbandonedCart commented on #998
That is the current state of the issue.

[2018-08-16 03:42] blackman91 commented on #998
If anyone else is having this issue I just realised you can press both lt and rt buttons at the same time on the reicast RetroArch core for Android and you can map analog triggers too. This issue is fixed on the reicast libretro core, maybe someone from the libretro team can help solve this on standalone.

[2018-08-16 03:44] AbandonedCart commented on #998
It is a completely different design.

[2018-08-16 04:01] AbandonedCart commented on #998
Both of the people you tagged have specifically stated that they are either unfamiliar or uninterested in Android and you are talking about a project that plugs a "generic" core into a universal shell, so it would require gathering up changes from two separate code bases and trying to splice them into one set of changes.

https://github.com/reicast/reicast-emulator/tree/lk/triggered

It is not tha

[2018-08-16 04:48] franky-san commented on #1103
I would like you to add in the configuration the opcion of virtual control to use it with the app bt controller.

[2018-08-16 06:41] blackman91 commented on #179
Does Homebrew work on reicast now? I tried beats of rage but I only get white screen.

[2018-08-16 06:42] astonmartin260 commented on #179
I don't know

On Thu, Aug 16, 2018, 1:41 AM blackman91 <notifications@github.com> wrote:

[2018-08-16 10:14] AbandonedCart commented on #1103
@franky-san I don't know that I understand what you are asking.

[2018-08-17 01:39] AbandonedCart commented on #998
The first revision is merged in https://github.com/reicast/reicast-emulator/pull/1295

[2018-08-17 01:46] AbandonedCart commented on #1287
🤷‍♀️

[2018-08-17 01:48] AbandonedCart commented on #1245
Should be resolved

[2018-08-17 01:48] #1245 closed

[2018-08-17 01:56] AbandonedCart commented on #1170
"Make Reicast store its save files in the libretro savefiles directory."

This is talking about submitting that separately to libretro as part of collecting the bounty, right?

[2018-08-17 01:58] #1129 closed

[2018-08-17 01:58] #1128 closed

[2018-08-17 01:59] #1127 closed

[2018-08-17 01:59] #1126 closed

[2018-08-17 02:01] AbandonedCart opened #1297 "#1093 Remaining items after conversion to Android Studio"
Android Studio basic conversion #1126
- [x] NDK configurations
- [ ] Update build instructions

Shell Code modernization #1127
- [ ] Verify / improve documentation
- [ ] Implement error tracking

Android UI Improvements #1128
- [X] Implement joystick configuration
- [X] Populate disk icons

Emulator Core Improvements #1129
- [ ] Address / improve crashes and handling
- [ ] Fixup DYNACALL
- [ ] Fix

[2018-08-17 02:10] AbandonedCart commented on #937
This has been resolved, but please reopen if it resurfaces.

[2018-08-17 02:10] #937 closed

[2018-08-17 02:11] AbandonedCart commented on #984
Is this still an issue?

[2018-08-17 02:13] AbandonedCart commented on #1039
Closing this, as it has been reported solved.

[2018-08-17 02:13] #1039 closed

[2018-08-17 02:14] #1014 closed

[2018-08-17 02:26] AbandonedCart commented on #1093
Closed in favor of https://github.com/reicast/reicast-emulator/issues/1297

[2018-08-17 02:26] #1093 closed

[2018-08-17 02:27] AbandonedCart commented on #1026
Closing this in favor of https://github.com/reicast/reicast-emulator/issues/998

[2018-08-17 02:27] #1026 closed

[2018-08-17 02:30] AbandonedCart commented on #13
Have not seen any reports that it stopped working, so it should be safe to return this to closed.

[2018-08-17 02:30] #13 closed

[2018-08-17 02:31] AbandonedCart commented on #360
Moga has since abandoned their controller support, so Mode B works as a BT controller using Android's controller API and mode A is more or less a lost cause. With that, it is working.

[2018-08-17 02:31] #360 closed

[2018-08-17 02:33] AbandonedCart commented on #454
Closing this in favor of https://github.com/reicast/reicast-emulator/issues/493 (cleanup ahoy!)

[2018-08-17 02:33] #454 closed

[2018-08-17 02:33] AbandonedCart commented on #480
This has been resolved. Please reopen if it resurfaces.

[2018-08-17 02:33] #480 closed

[2018-08-17 02:35] AbandonedCart commented on #998
Assuming by all of the emojis this has been resolved. Please reopen if it is not.

[2018-08-17 02:39] AbandonedCart commented on #607
It can give you a pretty black screen, if that is what you wanted.

[2018-08-17 02:43] AbandonedCart commented on #683
Closing this, as it would cause more instability than functionality and the included issue has been solved.

[2018-08-17 02:43] #683 closed

[2018-08-17 02:47] blackman91 commented on #998
How do I reopen? Using latest reicast beta 1bcffb5 if you move the analog stick or the dpad on a gamepad reicast goes back to the game selection ui, also this issue still remains the same.

[2018-08-17 02:47] AbandonedCart commented on #725
I'm somewhat sure this is implemented or will be as part of the next set of changes.

[2018-08-17 02:47] #725 closed

[2018-08-17 02:48] AbandonedCart commented on #912
This has since been disabled.

[2018-08-17 02:48] #912 closed

[2018-08-17 02:54] AbandonedCart commented on #813
It seems this simply requires documentation on the installation process for Windows.

[2018-08-17 02:55] AbandonedCart commented on #919
Is this still an issue?

[2018-08-17 02:55] #920 closed

[2018-08-17 02:55] AbandonedCart commented on #828
Closing this, since Shenmue has it's own anthology of issues.

[2018-08-17 02:55] #828 closed

[2018-08-17 02:55] #825 closed

[2018-08-17 02:58] AbandonedCart commented on #1195
Closing this in favor of https://github.com/reicast/reicast-emulator/issues/1188

[2018-08-17 02:58] #1195 closed

[2018-08-17 02:58] AbandonedCart commented on #775
Closing this in favor of https://github.com/reicast/reicast-emulator/issues/1188

[2018-08-17 03:01] AbandonedCart commented on #1029
Assuming this is resolved, as many recent reports are based on the game working. Please reopen if it is still an issue.

[2018-08-17 03:01] #1029 closed

[2018-08-17 03:01] #1007 closed

[2018-08-17 03:02] blackman91 commented on #1208
It is definitely 1bcffb5 the culprit, tried b2e07d0 and the bug that if you move the gamepad stick or dpad reicast quits back to game selection menu is not there. Can anyone else test if it happens with your gamepad too?

[2018-08-17 03:11] AbandonedCart commented on #887
Closing this as something for the forums. Great work on the buttons, though!

[2018-08-17 03:11] #887 closed

[2018-08-17 03:14] AbandonedCart commented on #911
Closing this as something for the forums. Nice logo!

[2018-08-17 03:14] #911 closed

[2018-08-17 03:16] AbandonedCart commented on #301
Closing this now that background functionality is supported. This can be reopened if it becomes more realistic and still required later.

[2018-08-17 03:16] #301 closed

[2018-08-17 03:17] AbandonedCart commented on #363
Closing in favor of https://github.com/reicast/gamedb/issues/3

[2018-08-17 03:17] #363 closed

[2018-08-17 04:28] AbandonedCart commented on #1208
The controllers are being rebuilt in https://github.com/reicast/reicast-emulator/pull/1296

[2018-08-17 06:55] baka0815 commented on #919
Somehow. The issue here is that the setting od ``nb=x`` is necessary for more than one player. See pr #930 or #1288.

[2018-08-17 07:39] anothername99 commented on #1170
I don't know whether the team has plans to upstream the libretro port. If not, then I suppose it will have to be submitted separately to https://github.com/libretro/reicast-emulator.

[2018-08-17 11:02] Naveenaidu commented on #1073
@skmp I would like to work on this issue. Could you please guide me. A newcomer here :sweat_smile:

[2018-08-17 12:35] baka0815 commented on #1073
Well, there is a ``-help`` command line switch in Linux (see ``ParseCommandLine`` in https://github.com/reicast/reicast-emulator/blob/master/core/cfg/cl.cpp) which currently only shows help abot the ``-config`` switch (at least ``-help`` should be added here).
The ``-version`` switch could be implemented the same way and output ``reicast rN [hash]`` where ``N`` would be the release number (8 f.e.

[2018-08-17 12:46] AbandonedCart commented on #1073
I wouldn't recommend referencing the Android code for that, since it uses a rather cheap trick of printing the hash to a text file during the build and simply reading the raw file into the view. That may only make it more confusing.

[2018-08-17 13:55] skmp commented on #1073
@naveenaidu are you in the reocast chat? It’s probably best to coordinate that way. You can join at http://chat.reicast.com

[2018-08-17 14:36] baka0815 commented on #1073
My approach would be creating a header file (``version.h``) including the hash (and creationdate?) during a prebuild.

[2018-08-17 15:28] hissingshark commented on #1073
My apologies, I had no idea there had been any answers to my query.  I checked manually for a few months and forgot about it after that.  Only today did I start receiving email notifications, yet the first reply was in April!...

Adding the functionality myself was on my todo list (obviously would help my original bug problem in retrospect), but not gotten around to it yet!  Distracted getting PPS

[2018-08-18 06:26] blackman91 commented on #1020
Any idea what may be causing this? it even happens on the Retroarch core on pc and Android and no setting fixes it.

[2018-08-18 10:40] AbandonedCart commented on #1020
@blackman91 The issue was moved to (your post at) https://github.com/reicast/gamedb/issues/12

[2018-08-18 12:35] AbandonedCart commented on #983
Having developed a library capable of this, I take back saying it isn't realistic. I still feel it would be too unstable for direct implementation in the emulator, though, and better left to a third-party app (that can assume the overhead).

[2018-08-18 15:11] Biryuk666 opened #1300 "Issues in the game OUTTRIGGER"
Xiaomi mi 5s. Android 7.0. Emulator download from google play market (Reicast r7). Game version is 1.003 NTSC-U
1) When you try to play for Neil or Tereshkova, the game crashes in vs mode (look first screenshot)
2) The icon of the selected character is not displayed during the selection of missions in vs mode (look second screenshot)
3) Darkness does not work in night missions (look third and four

[2018-08-18 15:39] AbandonedCart commented on #1300
Moved to gamedb at https://github.com/reicast/gamedb/issues/115

[2018-08-18 15:39] #1300 closed

[2018-08-18 16:25] substring commented on #919
nope, see https://github.com/reicast/reicast-emulator/issues/919#issuecomment-236389453

nevermind, can't test with an updated reicast before a while, you may close it if you wish

[2018-08-18 17:15] RaduNastase commented on #983
So there is still no way to play the games at native resolution? This is sad news. Hope you can figure it out in the future ^_^

[2018-08-18 18:16] blackman91 commented on #1208
a412935	fixes the stick bug, good job. This issue still remains though:
https://github.com/reicast/reicast-emulator/issues/998#issuecomment-413742112

[2018-08-18 18:28] blackman91 commented on #998
Still an issue in a412935, you can test this by touching the screen during gameplay so the touchscreen overlay appears and press both LT and RT and mantain them pressed, you can see how LT doesn't keep pressed even when you are still pressing both buttons on the gamepad.

[2018-08-18 20:01] blackman91 commented on #1208
The touchscreen gamepad only hides if you press the face buttons, the start button or the dpad on the external gamepad, it remains visible if you just press the lt and rt buttons or the stick, you can see the input of the lt and rt buttons that way.

[2018-08-18 21:15] baka0815 commented on #998
Reopend because.  feedback.

[2018-08-18 21:48] kyledolichev opened #1301 "Packaging for Void MUSL"
Hello, I would like to maintain a package of this emulator in the Void Linux MUSL repo & I was hoping you could give me some tips on how to get this to properly build.

[code]

[2018-08-19 12:58] faxfrag commented on #1279
Hi, I want to clarify of what happen and what the problem is. since I think my previous comment is not quite clear.

--

I test two games Shenmue and Ikaruga and results are the same.

My default setting is below (I left some option that I think is not relevance)

- Show on Screen FPS

- Unstable Optimization =  Off
- Use Mipmaps = On
- WideScreen Mode = Off

- Force Software Rendering = Off
- Dis

[2018-08-19 15:34] faxfrag commented on #1279
@AbandonedCart ,
I don't know about low-latency audio app. do you have any recommendation for me to try?

If it's the problem with the audio driver on the device, does trying to update Rom version or flashing to other Rom fix it?

My current Rom is MIUI 9.5.4.0 on Mi Mix2S.

[2018-08-19 15:56] AbandonedCart commented on #1279
I don't know if @skmp had anything specific in mind, but you may have to wait for him on that.

Flashing something else may fix it. It may not. It depends on if there were fixes for it and if the kernel developer included them.

[2018-08-19 20:50] MasterGamingYT opened #1302 "How do I get vmu's for port 2, 3, and 4?"
I try renaming the vmu to something like "vmu_save_B1.bin" but that didn't do anything

[2018-08-19 20:56] gameblabla commented on #1301
Oi,
i'm on Void linux Musl x86_64 too
 and i managed to compile it with a few modifications, it works fine here.
I'm not sure why you are encountering this error... I'm compiling it with the Makefile in shell/linux.
![reicast-voidlinux](https://user-images.githubusercontent.com/8717966/44313131-2a2ff800-a3f2-11e8-892a-533eab0d57c5.png)

My modifications to make it compile :
https://github.com/reic

[2018-08-19 22:03] baka0815 commented on #1302
Doesn't work currently, but support is on the way (see #1288).

[2018-08-19 22:43] AbandonedCart commented on #1302
Ill add the Android side when you give the go ahead @baka0815

[2018-08-20 00:59] kyledolichev commented on #1301
I'm building it in the Void Linux container via a template so I don't have to fill my system with tons of -devel packages & will be submitting it to their github once I get it to work & perfect the template. I will attempt making patch files with the changes you have recommended, thank you gameblabla.

[2018-08-20 06:04] baka0815 commented on #1302
I hope to get the refactorong done today, but that's no promise. Need to test on Windows first.

[2018-08-20 11:30] gameblabla commented on #1301
I really don't know why you can't build it. I also tried using Cmake (in shell/cmake) and it also worked fine. (Make sure to set the build type to RELEASE though)
sys/cdefs.h is part of the C library and as far as i know, Musl libc does not have it.
Maybe you should try to build it manually before doing so via a template. Maybe the makefile tries to detect it but fails and thus, does not set anyth

[2018-08-20 14:07] AbandonedCart commented on #1301
@gameblabla Why would you change https://github.com/reicast/reicast-emulator/blob/master/core/oslib/audiobackend_oss.cpp#L8 instead of adding a flag to the BSD define that already declares the value you want?

[2018-08-20 17:47] gameblabla commented on #1301
@AbandonedCart No reason, i just quickly put this together :P I can properly fix this and merge a PR for musl fixes if you want (and making sure other builds don't break too...).

[2018-08-20 22:46] blackman91 opened #1305 "Distorted touchscreen controls."
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Installed OS and version Android 7|  Google Play latest beta | Hashtag 223cd74 | Downloaded from build site? No |

**_Description of the Issue_**
The reicast tou

[2018-08-20 22:55] dmiller423 commented on #493
re-closing

[2018-08-20 22:55] #493 closed

[2018-08-21 02:25] dmiller423 commented on #1073
I just redirect git describe to a version header,  simple, good formatting and added build date as well.

--version

Reicast Version: # r7-rc1-1069-g223cd748 built on Aug 20 2018

-----------------------------------------------------------------------

--help

Available commands :
[-]-config section:key=value [, ..]: add a virtual config value
 Virtual config values won't be saved to the .cfg file

[2018-08-21 05:51] AbandonedCart commented on #1216
Should be resolved by https://github.com/reicast/reicast-emulator/pull/1299

[2018-08-21 05:51] #1216 closed

[2018-08-21 05:56] Biryuk666 opened #1309 "Issues in the game OUTTRIGGER. Part 2"
Xiaomi mi 5s. Android 7.0. Emulator download from google play market (Reicast r7). Game version is 1.003 NTSC-U

1. Every time you start the game, you need to set the time
![1f9uima31ua](https://user-images.githubusercontent.com/42495055/44382735-d8d15700-a51e-11e8-83cc-f8ce1febec6e.jpg)

2. Incorrectly displayed widescreen image in the initial splash screen, the main menu of the game, when you st

[2018-08-21 06:43] blackman91 commented on #1302
So this works now? How do you enable it on Android?

[2018-08-21 06:54] AbandonedCart commented on #1309
Moved to https://github.com/reicast/gamedb/issues/115

@Biryuk666 Please submit future game issues to https://github.com/reicast/gamedb and try to avoid opening a second issue to add more details to an existing one.

[2018-08-21 06:54] #1309 closed

[2018-08-21 07:56] baka0815 commented on #919
Now possible with #1288 / #1308.

[2018-08-21 07:56] #919 closed

[2018-08-21 07:56] baka0815 commented on #1302
It's only possible on Linux currently.

[2018-08-21 08:27] baka0815 commented on #1240
I created a .clang-format file under core (see #1311) with basic rules.

[2018-08-21 14:09] AbandonedCart commented on #1302
Not for long ;) https://github.com/reicast/reicast-emulator/pull/1312

[2018-08-21 18:06] AbandonedCart commented on #1302
To answer the original question, open "Input" and select them from the dropdown list. It does, however, currently require a controller. This is not unlike the actual hardware, though.

[2018-08-21 18:06] #1302 closed

[2018-08-21 18:11] AbandonedCart commented on #997
@skmp Android now actively populates the product ID and name of games when they are running. I will eventually get around to printing that to the log during launch.

[2018-08-22 05:58] blackman91 commented on #525
Does someone know if it is possible to use these codes on reicast?
https://segaretro.org/List_of_Dreamcast_widescreen_codes

For games that don't support the reicast widescreen hack.

[2018-08-22 10:10] AbandonedCart opened #1313 "Replace accessing 3rd party game API w/ disk content"
TheGamesDB now requires API keys that are obtained at the forum admin's discretion. The form involves providing usage case, a link to project for review, and then being piped through a single person's approval. While it was a simple way to obtain box art and details, the attempt to appear more professional has actually left the site feeling more like trying to add someone as a friend on FB.

With

[2018-08-22 11:00] AbandonedCart commented on #1313
Being addressed by https://github.com/reicast/reicast-emulator/pull/1314

[2018-08-22 16:45] hung14 commented on #1208
On screen control isnt visible. It still there, i can control normaly, just dont see any buttons. I'm using Xperia xz premium and newest build on playstore.

[2018-08-22 16:50] AbandonedCart commented on #1208
Delete the buttons.png in the folder you chose as your "home folder" in reicast settings and then restart.

[2018-08-22 16:51] hung14 commented on #480
I'm also having this problem the on screen control still there.just isnt visible, using Xperia xz premium and newest build on playstore.

[2018-08-22 16:59] AbandonedCart commented on #480
@hung14 Please see the response to the other post you made about it.

[2018-08-22 17:09] hung14 commented on #1208
there arent any png file in the folder i choose in system path or storage path.

[2018-08-22 17:15] AbandonedCart commented on #1208
It should be in a subfolder named "data"
Launching a game should recreate the file, but may require quitting and launching again (but only one additional time)

[2018-08-22 18:46] #1313 closed

[2018-08-22 20:03] blackman91 commented on #1208
Using latest beta 91dda19 if you enable the option enable microphone in input settings you get a black screen when launching any game, I already made sure reicast has the Android microphone permission enabled in Android app settings but it still happens, Seaman is now unplayable.

[2018-08-22 20:12] AbandonedCart commented on #1208
The microphone has to be configured to a controller, which is currently not available without a physical controller present in port 2. We appreciate your patience while a workaround is added.

[2018-08-22 20:35] AbandonedCart commented on #1208
The caveat will still exist that it has to be attached to a controller other than 1, and this will require that the user selects a microphone as the peripheral for one of the ports in another controller. Allowing it to be attached to controller 1 creates a lot of risk for user error that is better avoided.

[2018-08-22 21:14] blackman91 commented on #1208
But Seaman requires the microphone to be connected to the first controller (A) in expansion socket 2 and right now the 2 VMUs of the first controller cannot be modified, making the game unplayable. Also it appears the extra vmus are not working even with a second gamepad attached on Android, I select them on the input menu but they don't appear on the bios ui:
![screenshot_20180822-160339](https:/

[2018-08-22 21:18] AbandonedCart commented on #1208
I dunno what to tell you. I only did the UI portion of the new controller support. You'll probably need @baka0815 to check that over.

[2018-08-22 21:43] blackman91 commented on #1302
Figured it is better to report here than open other issue:

The additional VMUs are not working on latest beta even with a second gamepad connected, also tried renaming one to "vmu_save_B1.bin"  but it still doesn't detect the vmus even when the second controller is detected:
![screenshot_20180822-160339](https://user-images.githubusercontent.com/6578180/44492448-2f778780-a62a-11e8-8caf-9d616db52c

[2018-08-22 22:06] AbandonedCart commented on #1208
It's possible if they are being defaulted to "None" and later changed, the existing device has to be deleted first. I would think the controller setup code should override that, though.

[2018-08-23 01:26] AbandonedCart commented on #1208
https://github.com/reicast/reicast-emulator/commit/1619d856633e49a9d6b8a5e76baa1bdbbff4b76a#diff-aefc745393e658c01ab2b0be044819beL387
https://github.com/reicast/reicast-emulator/commit/fa3c3cd94d85e160af2b1e71a8ceb91ae5e7c272#diff-aefc745393e658c01ab2b0be044819beR407

Honestly don't know what to tell you there.

[2018-08-23 01:56] AbandonedCart commented on #1208
https://github.com/reicast/reicast-emulator/pull/1317 should restore functionality.

[2018-08-23 02:37] AbandonedCart commented on #1208
Well, I don't have Seamen to verify the mic works, but setting VMUs in other ports is fixed. It shows a blank in the BIOS for A-2, so I am assuming it at least gets the mic there. Just not sure if it still attaches with the new way of configuring it.

[2018-08-23 03:41] AbandonedCart commented on #1208
Is it safe to assume the microphone works again?

[2018-08-23 03:45] blackman91 commented on #1208
Thanks a bunch man, I will test if it works when I get the update through the playstore.

[2018-08-23 05:06] blackman91 commented on #1208
Just tested it and everything works perfectly now! Enabling the mic in settings no longer causes a black screen and it does work on Seaman, the extra vmus are working correctly now too:
![screenshot_20180822-235112](https://user-images.githubusercontent.com/6578180/44505675-4f2da080-a668-11e8-842c-6421a3e98f2d.png)

Pretty good job guys, you rock.

[2018-08-23 05:09] blackman91 commented on #1302
Fixed by df2d4fa

Great works devs.

[2018-08-23 22:08] Yrij-Zhavoronkov commented on #1287
We can rewrite this))  For e.x. load keycodes from config.keyboard )))

[2018-08-23 23:53] AbandonedCart commented on #1297
Joystick configuration: https://github.com/reicast/reicast-emulator/pull/1319

[2018-08-23 23:53] AbandonedCart commented on #1103
Working on joystick config @ https://github.com/reicast/reicast-emulator/pull/1319

[2018-08-23 23:55] AbandonedCart commented on #1287
@Yrij-Zhavoronkov I think you are talking about the hardware keyboard, which would replace x11

[2018-08-24 00:26] Yrij-Zhavoronkov commented on #1287
yes, you right. I talking about hardware keyboard (via eventX)

[2018-08-24 00:38] Yrij-Zhavoronkov commented on #1287
but how you can use keyboard via eventX - it needed root privs ;))
x11 keyoboard work without it

[2018-08-24 03:10] AbandonedCart commented on #1069
Is this still an issue?

[2018-08-24 03:11] AbandonedCart commented on #994
Merging this into https://github.com/reicast/reicast-emulator/issues/1103

[2018-08-24 03:11] #994 closed

[2018-08-24 03:11] AbandonedCart commented on #958
Merging this into https://github.com/reicast/reicast-emulator/issues/1103

[2018-08-24 03:11] #958 closed

[2018-08-24 06:42] baka0815 commented on #1287
You can use the keyboard via evdev (without root).

[2018-08-24 11:16] Yrij-Zhavoronkov commented on #1287
good) but how? I can't listed it without it via 'evtest'

[2018-08-24 11:57] baka0815 commented on #1287
That's odd, my keyboard is visible to ``evtest``. Are other devices like mice and gamepads listet by ``evtest``? Maybe you need to pe part of a specific group? Does ``sudo evtest`` list your device?

[2018-08-24 13:06] Yrij-Zhavoronkov commented on #1287
Are other devices like mice and gamepads listet by evtest? -Yes (as user)
Does sudo evtest list your device? -yes.
but sudo != user )

[2018-08-24 13:12] Yrij-Zhavoronkov commented on #1287
proof:
evtest
[code]
sudo evtest
`No device specified, trying to scan all of /dev/input/event*
Available devices:
/dev/input/event0:	AT Translated Set 2 keyboard
/dev/input/event1:	SynPS/2 Synaptics TouchPad
/dev/input/event2:	RAPOO RAPOO 2.4G Wireless Device
/dev/input/event3:	RAPOO RAPOO 2.4G Wireless Device
/dev/input/event4:	Lid Switch
/dev/input/event5:	Sleep Button
/dev/input/event6:	Power B

[2018-08-24 13:44] AbandonedCart commented on #998
Adding this onto https://github.com/reicast/reicast-emulator/issues/1103

[2018-08-24 13:44] #998 closed

[2018-08-24 14:07] cthulhu1990 commented on #1208
Xiaomi Mipad1 ,android 7.1 (linage 14.1),Tegra K1.
Can't load any game with any Bios. If i try to load game,only bios loaded,or program crashed. Sorry for bad english
![42679847-f23fab44-868b-11e8-940d-0b53c597a2a9](https://user-images.githubusercontent.com/20355318/44589052-28827d80-a7c0-11e8-874f-aa7545a4f89f.png)

[2018-08-24 14:08] AbandonedCart commented on #1208
That is typically the result of a bad ROM, most likely in CDI format.

[2018-08-24 15:01] baka0815 commented on #1287
What does ``ls -la /dev/input/`` show? Does ``event0`` have other permissions that ``event14``?

[2018-08-24 15:04] baka0815 commented on #1208
@cthulhu1990 use GDI versions and verify with TOSEC or redump.org.

[2018-08-24 20:00] Yrij-Zhavoronkov commented on #1287
[code]

[2018-08-24 21:04] baka0815 commented on #1287
Yes, event14 has special privileges, however I don't know how to change that.
You should, however, add your user to the group ``input``, that should be enough as the group als has ``rw`` rights.
You need to restart your session afterwards (log off and on again) and you can check your groups via the ``groups`` command.

[2018-08-24 22:54] gameblabla opened #1322 "SDL code completely broken"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Void linux musl x86_64 | Master | dunno | Built from source |

**_Description of the Issue_**

It seems like the SDL2 specific code (core/sdl/sdl2.cpp) was not u

[2018-08-24 23:05] gameblabla commented on #1301
Well that sucks, since then, it completely fails to run on Void Linux Musl.
Disabling udev with this fix https://github.com/reicast/reicast-emulator/pull/1320 plus my branch https://github.com/gameblabla/reicast-emulator/commit/55645a6fb7c81a6c989d1b8133264aed98ec8ee1 makes reicast work again but you won't get any input.
And i realized that the SDL port was not working either, it would not even co

[2018-08-25 02:45] AbandonedCart commented on #998
Resolved by #1319

[2018-08-25 02:58] AbandonedCart opened #1323 "Note 8 Always Locating BIOS"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 8.0 | Any | Any | Either |

**_Description of the Issue_**

Launching any game / BIOS prompts to set the BIOS

**_Debugging Steps Tested_**

  * Placed B

[2018-08-25 03:01] AbandonedCart commented on #1323
Posted on mobile. Will revise shortly.

[2018-08-25 04:42] blackman91 commented on #998
Just test latest beta 40624ad and the same issue is still present, I made a quick video showing how my gamepad button presses show in the touchscreen controls:
https://youtu.be/CAOi9vNj0PQ

As you can see in the video maintaining LT pressed and the pressing RT makes LT lose its input even if you are still pressing both, the reverse is also true. Also tested how those buttons react when you move th

[2018-08-25 04:48] AbandonedCart commented on #998
https://www.youtube.com/watch?v=5i9RzZI-R3U

It must be something with your particular hardware, since you can plainly see it is not being reproduced.

[2018-08-25 05:28] blackman91 commented on #998
That's weird, could you try to reproduce it with only the option enable custom layout in the controller settings enabled? That's the option that makes LT and RT work on my gamepad otherwise they don't work even if you remap them.

[2018-08-25 05:29] AbandonedCart commented on #998
That's your problem then. You must have a controller that defines L / R as a button rather than axis.

[2018-08-25 05:46] blackman91 commented on #998
You are right just tested using an xbox360 gamepad that has analog triggers and it works correctly without that option enabled, it seems the bug only happens if you have a gamepad without analog triggers and you enable the option enable custom key layout, though I would argue that a lot of portable gamepads for Android have these keys rather than analog triggers:
![buttonsreicast](https://user-ima

[2018-08-25 05:49] AbandonedCart commented on #998
Unfortunately, it is a far smaller number than you think unless you are talking primarily low-end controllers. Assigning the L / R triggers as the L / R buttons through the configuration does allow you to use them as buttons, but also comes with the restrictions of being a button. While it may be possible to improve the situation, it may not be possible to resolve it.

[2018-08-25 12:28] AbandonedCart commented on #998
https://github.com/reicast/reicast-emulator/pull/1325 should help minimize the issue, but is the extent of what can really be done. The keys can't be broken down or overlapped any more than being independent of each other and verified separately.

[2018-08-25 19:03] gameblabla commented on #1301
@kyledolichev The musl fixes got merged and it compiles as is now. I would suggest that you git clone it from scratch again and try again... If not, then i could attempt making the template. (i've never done this for void linux though)

[2018-08-25 19:53] blackman91 commented on #998
Nice! The button triggers now can be pressed at the same time in MvC2, great job!

[2018-08-25 20:11] skmp opened #1332 "Fixup / cleanup AICA hacks"
See comments in https://github.com/reicast/reicast-emulator/pull/1315/files

[2018-08-25 20:45] AbandonedCart commented on #1332
Is that the right link? There are no comments on that

[2018-08-26 12:33] kyledolichev commented on #1301
Thanks a bunch gameblabla & Reicast team! I will give this a shot again!

[2018-08-26 12:57] gameblabla commented on #1301
@kyledolichev Try compiling the makefile with make platform=x64 instead ? Or use cmake ?

[2018-08-26 13:03] kyledolichev commented on #1301
Not sure how I would do make platform=x64 in the container. I think I'd have to modify the build-style file.

I got it to compile, but this is what it does:
[code]

[2018-08-26 13:05] kyledolichev commented on #1301
So far this is the template I've got:

[code]

[2018-08-26 13:12] gameblabla commented on #1301
@kyledolichev
For some reasons, Reicast tries to load libevdev.so rather than libevdev.so.2, which does not exist by default on Void linux musl (and possibly void linux glibc too).
https://github.com/reicast/reicast-emulator/blob/master/core/linux-dist/evdev.cpp#L29
You can patch that line and replace libevdev.so with libevdev.so.2, which does exist.

You can also disable USE_EVDEV but you won't g

[2018-08-26 13:23] creamcast opened #1335 "Memory card files not being generated, can't save."
| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Opensuse leap 15 (Linux) | mater | Hashtag (skip if unknown) | Yes |

**_Description of the Issue_**

after launching reicast the vmu files do not get created. Going into the BIOS there are no memory cards plugged.

**_Logs Gathered_**

[code]

- [X] Place an X in the box to confirm you have filled in this form

[2018-08-26 14:12] kyledolichev commented on #1301
Okay, so we will have to make a change to that line, I've forked Reicast just so I can modify the code in github & that way I won't have to write a patch, this is of course only temporary so I can get it working, I'd like to see it work before I write a patch.... Plus I'd need a release with the latest commits, so I had to fork it & make a new release, simply to make it a void package.

[2018-08-26 14:31] gameblabla commented on #1301
Basically you would need to set your own C++ flags. In this case, you would need to do this
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -O0 -g")

Remove line 30, 31 and 32 from the CMakeLists.txt file.
Then, once you compiled it, do gdb /path/to/reicast
Then type run "mysonicgame.cdi" in gdb
It should crash like it used to and give you exactly where it crashed.
If it does crash, then type bt and it wi

[2018-08-26 14:40] kyledolichev commented on #1301
Typically if I wanted to add flags to the template I'd add this to the bottom:

LDFLAGS="-Wl,--no-fatal-warnings"
How would I set this CMAKE_CXX_FLAGS? where in the template should I put it and how should it look?

[2018-08-26 14:47] gameblabla commented on #1301
Guess it might be easier to patch it instead. Though if you wanted to debug anyway, i probably wouldn't use xbps-src for that anyway... (and xbps-src is poorly documented)

Also, i noticed that you don't have eudev-libudev-devel in your template. libev is not udev/eudev.

[2018-08-26 15:11] baka0815 commented on #1335
[code]
That's odd, for player 1 the default should be 'VMU'. You can add ``maple_device_1=1`` to your controller configuration to set the first device to VMU (``_2`` for second device).

[2018-08-26 15:26] kyledolichev commented on #1301
xbps-src is poorly documented?? There is tons of documentation on it..... You must not be looking in the right place.

[2018-08-26 15:32] kyledolichev commented on #1301
[code]

[2018-08-26 15:38] baka0815 commented on #1301
You should better create a symlink.

[2018-08-26 15:38] AbandonedCart commented on #1297
Disk icons (native version preferred): https://github.com/reicast/reicast-emulator/pull/1334

[2018-08-26 15:55] gameblabla commented on #1301
Alright it's my fault, seems like it required those flags.
Just put back
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -fpermissive -fno-rtti -fno-operator-names  -fno-strict-aliasing -fsingle-precision-constant")
In your CMakeLists.txt file

Wouldn't it be better to detect both, just in case ? I'm not aware of a better way to detect dynamic libraries though, i admit...

[2018-08-26 16:11] baka0815 commented on #1301
I don't inderstand why the symlink isn't created by the package manager (it's not there on Debian either).
If you create a separate issue for that, I'm willing to self assign and look for a fix.

[2018-08-26 16:15] baka0815 commented on #831
What toolkit should be used for the GUI? I'm currently experimenting with Qt which would be available to Linux and Windows (not sure about Mac).

[2018-08-26 16:18] AbandonedCart commented on #831
http://doc.qt.io/qt-5/supported-platforms.html?hsLang=en

@dmiller423 mentioned already starting to work on a Qt interface, too.

[2018-08-26 16:37] kyledolichev commented on #1301
Failed again.... :/

[code]

[2018-08-26 16:40] kyledolichev commented on #1301
Came close but failed to create the executable, that's what do_build is about at least.
I'm sure we're almost there! We're coming quite close, that's for sure

I've still got it as libevdev.so.2 in the evdev.cpp file, would simply creating a symlink solve this? I don't think it would, but maybe I've misunderstood something.

[2018-08-26 16:42] AbandonedCart commented on #1301
` #error "use -fno-operator-names option if you want to use and(), or(), xor(), not() as function names, Or define XBYAK_NO_OP_NAMES and use and_(), or_(), xor_(), not_()."`
^ this is your issue

[2018-08-26 16:44] gameblabla commented on #1301
Yeah, either is fine. I'll open another issue for the libev thing...

Yeah, that's why i told you to readd set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -fpermissive -fno-rtti -fno-operator-names -fno-strict-aliasing -fsingle-precision-constant").
If that still won't work then just revert to the stock cmake file. You can debug it later manually if needed...

[2018-08-26 16:48] kyledolichev commented on #1301
What do you mean readd?  You said to input that at line 30 & erase those other lines so that's what I did... I'm just trying to package the program...

[2018-08-26 16:55] gameblabla commented on #1301
Yeah i did say that then later i told you to add also those after line 30 after it failed to compile... Oh well, just revert to the stock cmakelists.txt file and get it to compile first.

[2018-08-26 17:07] gameblabla opened #1336 "Missing symlink for libevdev.so can result in failed auto-detection"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Void Linux Musl | master | dunno | From source |

**_Description of the Issue_**

The evdev code expects the dynamic library to be named "libevdev.so".
https://g

[2018-08-26 17:11] baka0815 commented on #1336
Thanks.

[2018-08-26 17:22] AbandonedCart commented on #1336
https://www.linuxquestions.org/questions/linux-from-scratch-13/evdev_drv-so-cannot-find-libevdev-so-even-though-it-is-installed-and-shows-up-in-ldconfig-4175615549/

[2018-08-26 17:24] AbandonedCart commented on #1336
https://github.com/godotengine/godot/pull/3471/commits/29353808f0391f78627c43090f1bff882d56f11e

[2018-08-26 17:27] baka0815 commented on #1336
I'm unsure what your link should help with?
``libevdev.so`` is missing on some Linux systems (at least Debian and Void musl), so we should first try ``libevdev.so.2`` before falling back to ``libevdev.so`` or vice versa.
Another possibility would be to try convincing all distibutions to provide a symlink...

[2018-08-26 17:28] AbandonedCart commented on #1336
Read the other two.

[2018-08-26 17:29] baka0815 commented on #1336
Or are you suggesting removing evdev (as your link to the godot engine hints at)?

[2018-08-26 17:29] AbandonedCart commented on #1336
I posted the links so you could **read** them for possible ideas.

[2018-08-26 17:44] baka0815 commented on #1336
Thanks for that, however I don't know what to do with them. The second link to freedesktop seems unrelated to me and the godot link removes evdev to support udev only and that would be a bit too much.
The issue is not that evdev is missing and needs to be replaced woth something different bll, but that the name of the shared library is different from what we expect.

[2018-08-26 17:47] AbandonedCart commented on #1336
I was led to believe libevdev.so.2 was not properly being linked to libevdev.so

I guess you are on your own then. There are no results for that.

[2018-08-26 21:35] creamcast commented on #1335
Ok , its working after writing `maple_device1=1` (without the underscore before the 1) in the [dreamcast] section in the controller configuration.

[2018-08-27 03:41] blackman91 commented on #179
I get sound but white screen in all the homebrew I have tried, it is very similar to this issue:
https://github.com/reicast/reicast-emulator/issues/1020

[2018-08-27 03:53] AbandonedCart commented on #1323
Fixed by https://github.com/reicast/reicast-emulator/pull/1337

[2018-08-27 03:53] #1323 closed

[2018-08-27 03:59] AbandonedCart commented on #1332
(Did, however, do a little cleanup of my own)

[2018-08-27 07:14] baka0815 commented on #1240
How do we want to format consecutive assignments?
https://github.com/reicast/reicast-emulator/pull/1338/commits/bd6b0c003d94a14c0dda74ef6f2fd7ac645f5441 suggests we want to do
[code]
however I would prefer
[code]

The latter helps searching for assignments (you can just search for "x =").

[2018-08-27 08:25] #1335 closed, assigned to baka0815

[2018-08-27 08:25] #1336 closed

[2018-08-27 08:59] AbandonedCart commented on #1240
I think you are using bd6b0c0 as a segue for unrelated discussion. The commit message states the self-contained nature of the formatting specifically to avoid it being exploited for something like this. It is a list of configuration options that are written to a table, and thus formatted as a table in the source.

[2018-08-27 09:14] baka0815 commented on #1240
Sorry, I didn't want to criticize you or something.
However if we would implement a clang formatting rule, we might need to choose how to format (or ignore) consecutive assignments. And as I saw you reformatting the code I thought it would be a good opportunity to talk about that.

[2018-08-27 09:15] AbandonedCart opened #1343 "Known Per-Game Configuration Settings"
This is a list of PGC settings that fix issues w/ specific games

| Game Name | Game Issue | PGC Setting |
|--|--|--|
| Psychic Force 2012 | Joystick non-functional | [Enable] Use Joystick For D-Pad Input |
| Street Fighter Alpha 3 | Boots to black screen | [Enable] Delayed Interrupt |
| Record of Lodoss War | Freezes entering battle | [Enable] Bypass Div Matching |
| Star Wars Episode I: Racer |

[2018-08-27 09:18] AbandonedCart commented on #1240
I'm sure even clang rules support exclusions. I was pointing out that the specific section you are citing is not meant to reflect the universal style. It has been formatted that way since day 1, but some of the options that have been added along the way didn't always follow it.

[2018-08-27 11:30] baka0815 commented on #758
Ok, found the bug.
I'm going to prepare a PR.

[2018-08-27 13:11] #758 closed

[2018-08-27 13:17] Gamemulatorer opened #1345 "Support for configuring graphics options, such as FXAA, CSAA and MSAA"
**_Feature Request_**

| Platform | GPU |
| ---- | ---- |
| ANDROID 5.1 | Mali-450 GPU |

**_Description of the Feature_**

Support for configuring graphics options, such as FXAA, CSAA and MSAA

- [X] Place an X in the box to confirm you have filled in this form

[2018-08-27 13:18] Emulatorer commented on #1345
*Sorry for my bad english 🙍

[2018-08-27 13:33] AbandonedCart commented on #1345
I believe you forgot to include any of your own information in the form.

[2018-08-27 13:40] Emulatorer commented on #1345
@AbandonedCart sorry 😅

[2018-08-27 15:27] AbandonedCart commented on #1345
This would be more appropriate for the [forums](http://forum.reicast.com/) or [discord](http://chat.reicast.com/). reicast is multithreaded, but more information would be required about which shader this is referencing.

[2018-08-27 15:30] AbandonedCart commented on #1297
https://developer.android.com/ndk/guides/ndk-build

[2018-08-27 22:05] gameblabla commented on #1301
@kyledolichev Alright, that's good to hear then ! I think the crash is unrelated to musl but now that you got the template working, you can also try it on void linux glibc. Not that it will work on that one either, it seems to crash at glX... Probably hitting a driver bug of some kind ?
What's your hardware ?

[2018-08-27 23:28] blackman91 commented on #1020
Apparently to run this game properly reicast needs raw framebuffer writes:
https://youtu.be/sTOcxdEuqPo

It runs now on the libretro core, hope you can port these changes too.

[2018-08-28 00:34] dmiller423 commented on #1020
It's a framebuffer game, or it reads from framebuffer for effects?

[2018-08-28 00:48] AbandonedCart commented on #1226
reicast has a CLA, which typically requires the commit author's signature. This means that any commit returned upstream from a fork of reicast also requires a CLA signature.

This leaves two options for handling the commit. Either attempt to get the original author to put in the extra work of modifying and resubmitting it to reicast or alter the commit's recognized author by resubmitting it with a

[2018-08-28 00:49] AbandonedCart commented on #1020
@dmiller423 He's talking about https://github.com/reicast/reicast-emulator/commit/e59d7eaf3db9d326098cff8fd9ff5321e5561d1a

[2018-08-28 00:55] dmiller423 commented on #1020
That's definitely normal framebuffer,  i'm assuming @skmp never added it because nothing other than some homebrew uses it.  It was impl. in nullDC at least 12years ago

[2018-08-28 00:58] AbandonedCart commented on #1020
🤷‍♀️

[2018-08-28 03:18] blackman91 commented on #1020
Yeah those changes fix a bunch of homebrew like beats of rage, not perfectly though:
![screenshot_20180827-221359](https://user-images.githubusercontent.com/6578180/44698785-0c444200-aa47-11e8-8b8e-6045c1ec5271.png)

[2018-08-28 03:26] AbandonedCart commented on #1020
Not sure about anyone else, but homebrew seems like last priority behind attempting to support actual games officially released for the console for me.

[2018-08-28 04:39] blackman91 commented on #1208
Bug report: On latest beta 8c93ba0 everytime after opening the emu settings or the input settings and going back the bios files appear instead of your game list:
![screenshot_20180827-233440](https://user-images.githubusercontent.com/6578180/44701059-4bc45b80-aa52-11e8-9e8d-c350e5e91539.png)

[2018-08-28 04:49] AbandonedCart commented on #1208
The issue was resolved around 15 minutes ago.
https://github.com/reicast/reicast-emulator/pull/1353

[2018-08-28 04:49] blackman91 commented on #301
It seems save states just became a lot more realistic, the libretro reicast port now has savestate functionality:
https://www.reddit.com/r/emulation/comments/9asb0v/reicast_libretro_updates_savestate_support_and/

Hope they can port it to standalone too.

[2018-08-28 04:50] AbandonedCart commented on #301
It relies on libretro's proprietary luts code.

[2018-08-28 04:56] blackman91 commented on #1208
Just updated but it is still happening on 81056d3

[2018-08-28 05:42] AbandonedCart commented on #155
https://github.com/reicast/reicast-emulator/pull/1348

[2018-08-28 05:49] AbandonedCart commented on #1208
Until the most recent changes are published, all of the menus work fine. It is only when using the hard back button that was effected.

[2018-08-28 08:36] baka0815 commented on #1020
For me too, however there are still a bunch of new games release for DC where reicast could support development.

[2018-08-28 10:02] Pauch1n opened #1355 "Cannot modify touch config and bluetooth audio problem"
Hi all. This is my first time using github to submit a problem report so please pardon me if I am missing information.

I always follow builds.reicast.com updates, but one of the updates made me unable to install over a previous version, I believe this version started from 8-25-2018. I had to uninstall the version I had and install the newer one.

Since the settings will be reset, I had to reconfi

[2018-08-28 11:16] baka0815 commented on #1355
Bluetooth audio requires the CPU to do extra work which seems to be too much for your device if it's working good without bluetooth.

[2018-08-28 11:16] AbandonedCart commented on #1355
When you submit a new issue, there should be a form that pops up. This exists for two reasons. One is so that you make sure to provide the vital information required and the other is to minimize the difficulty of navigating a large paragraph to find that information.

What device is it?
Can you provide the hash number of the earliest build when you started seeing this problem (It's under the "Comm

[2018-08-28 11:26] AbandonedCart commented on #1355
It may also be important to mention that there was one build (which may have been on 8/25) that caused a corrupted buttons.png to be written. The corrupted file would pass detection, thus preventing other versions from replacing it. The solution was simply to delete the buttons.png

This would not be seen on other branches, which may not have included all of the changes from master or merged them

[2018-08-28 11:32] AbandonedCart commented on #1355
After researching further, this issue occurred 25 days ago, not on the 25th.
869cc56 caused the issue, a5fffb9 resolved it, and f0f1190 added a check for the 0kb image

[2018-08-28 21:53] Pauch1n commented on #1355
Hi again! Yeah, I actually saw the template and I know how useful it can be. It's just that I am on mobile and also on commute when I posted the message and with the amount of information I am trying to get across, I figured it may be better to just get the ball rolling. Sorry about that.

Regarding the Touch layout issue, I am currently using a Lenovo K8 Note phone, with stock Android 8.0. I use

[2018-08-28 22:06] Pauch1n commented on #1355
As for bluetooth audio, I tested various versions of reicast on different phones. Here they are:

Asus Zenfone 2 ZE551ML - Android 5-6 - stutters
Huawei Honor 6X - Android 6-7 - stutters
Huawei P8 Lite 2017 - Android 7 - stutters
Lenovo K8 Note - Android 7-8 - stutters
Asus Zenfone Go ZB500KG - Android 5.1 - no problem

Yeah I said only 4 devices earlier, I just remembered my shortly owned zenfone

[2018-08-29 02:36] AbandonedCart opened #1360 "Android TV Issues"
These are the issues Google is claiming are preventing Android TV inclusion:

| Issue | Description |
| ------ | ------ |
| Crashing After Launch | Your app crashes immediately after launch, which means we cannot review your app for Android TV inclusion. Please refer to our TV Activity documentation for details. |
| No full-size app banner | Your app does not contain a full-size app banner or is i

[2018-08-29 02:37] AbandonedCart commented on #1360
@skmp It is going to email you an updated report every time a beta is published because Google assumes you are attempting to resolve the issue. Forwarding each one is not necessary.

[2018-08-29 05:45] Pauch1n commented on #1355
Update, the recent commit 205affb sets the System path to default (/storage/emulated/0/) even if I manually set the folder to /storage/emulated/0/reicast

Found about an old master build lying on my harddrive that does not have the layout problem (bcf1820), will check on later versions to see what commit I get the problem.

[2018-08-29 09:16] AbandonedCart commented on #1355
There has to be something else going on with that device. The commit you are referencing consists of two changes. One is to hide the link in the menu on Android TV and the other is to delete a variable that was not used from the native side.

[2018-08-29 09:31] luserx0 commented on #1171
Are we still doing this @skmp?

[2018-08-29 09:33] luserx0 commented on #1262
This is a great idea!

[2018-08-29 11:00] AbandonedCart commented on #1355
Driver incompatibility.

[2018-08-29 12:00] Emulatorer commented on #1345
@Abandoned I mean a Shader like FXAA, CSAA and MSAA?

[2018-08-29 12:17] AbandonedCart commented on #1345
If I follow, you are more or less trying to get anti-aliasing?

[2018-08-29 13:52] Emulatorer commented on #1345
YES!
now I get it 😀

[2018-08-29 14:11] AbandonedCart commented on #1345
It's somewhat automatic. Specifying that you use anti-aliasing would mean that it either works or it doesn't. By not specifying it, it is used when it is supported and does not stop working when it isn't.

[2018-08-29 15:42] Emulatorer commented on #1345
![screenshot_2018-08-29-23-38-45](https://user-images.githubusercontent.com/37603562/44798848-10d13d80-aba2-11e8-857f-6beeebadd3c4.png)

filter shader like all of that can reicast support it in android in the future update?

[2018-08-29 17:19] rcl0ng opened #1361 "Multiple Gamepads Not Working"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ---- | ---- | ---- | ---- |
| ShieldTV | Unknown | Hashtag (skip if unknown) | Unknown |

**_Description of the Issue_**

When playing games like PowerStone, PowerStone 2, Mortal Combat Gold or M

[2018-08-29 18:44] AbandonedCart commented on #1361
No OSD is intended for specialty hardware, such as the Xperia Play. The other settings won't really impact your joysticks.

Are both controllers identical?

[2018-08-29 21:15] Pauch1n commented on #1355
I guess that just it. Thanks for the time!

[2018-08-29 21:15] #1355 closed

[2018-08-29 22:05] blackman91 commented on #1361
Tested MvC2 on latest reicast beta Android 7 using 2 gamepads one connected via Bluetooth and one via usb, both players worked properly no issues.

[2018-08-30 09:57] Retrogiraffee opened #1364 "GPD G5A: Right analog stick for lt/rt doesnt work"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| Android | r7 3d59456 | ---- | ---- |
| Android 4.4.4 | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue_**
On my GPD G5A in Reicast

[2018-08-30 15:50] kyledolichev commented on #1301
My hardware is an HP Elitebook 8440p with the i915 driver.... its an intel i5 ironlake M 520.
I only use Void MUSL, no Void GLIBC, but I do however have Artix & Devuan GLIBC.

[2018-08-30 16:17] kyledolichev commented on #1301
This is what I'm getting building it on my desktop, Artix Linux w nonfree NVIDIA drivers.

[code]

[2018-08-30 18:56] blackman91 commented on #1364
Try the latest playstore beta, subscribe here:
http://builds.reicast.com/

[2018-08-30 18:59] dmiller423 commented on #1301
look at your config file,  check the dynarec options / nvmem stuff , or if it's disabled in the build

[2018-08-30 19:32] baka0815 commented on #1301
The config is new:
[code]

There is no BIOS
[code]

And evdev tries to use the power button
[code]

Looks like you need to configure one or two things...

[2018-08-30 19:37] dmiller423 commented on #1301
[code]

[2018-08-30 19:56] gameblabla commented on #1301
As dmiller remarked, it will not run any games without the bios currently. (it will crash if you use reiost rn, redream has more mature HLE bios emulation)
Place dc_boot.bin and dc_flash.bin there and try again.

[2018-08-31 23:44] gameblabla opened #1366 "Reicast's cpu core crashes before even booting the bios"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Devuan Unstable | master | dunno | built from source |

**_Description of the Issue_**

On some computers on any linux distributions (namely my Ryzen mobo with a

[2018-09-01 00:30] gameblabla commented on #1301
As of latest commit, the crash now no longer happens on my new desktop too.. Not sure what commit fixed it exactly but looks like the cleanup was useful. So @kyledolichev , i would suggest you give it a try again so it works for me across all linux distros now.

[2018-09-01 15:43] kyledolichev commented on #1301
The emulator just crashes & won't even open up if the BIOS isn't configured? -_-
Emulators with front-ends typically have an option where you pick your BIOS file, but even ones without front-ends will at least let you select your BIOS from the command line without giving you errors.
Is this emulator even relatively stable & functioning?

And, the 'epic fail' is what I got when I tried the emulator

[2018-09-01 17:08] luserx0 commented on #23
I can take care of:
- the Linux and BSD packages,
- the Ubuntu ppa setup,
- the creation of a snap stable channel and maybe later on a beta one
- the maintenance and revitalization of the current snap edge channel  (Issue #1138)

Of course it all depends, on what we want to go after concerning 3rd party stores.

[2018-09-01 17:29] baka0815 commented on #1301
The emulator is working really well if you provide all necessary files (like BIOS).

[2018-09-01 18:07] gameblabla commented on #1301
As of latest commit, it works pretty well with the bios set in the right directory. (It wasn't working for some hardware before) Sadly though, HLE BIOS emulation is not as advanced as redream's one... (if non-existant) so if that's really an issue to you, then maybe that will fit your bill.

Redream right now does not have a GUI like redream's for example though. That might change but for now it's

[2018-09-01 19:31] Retrogiraffee commented on #1364
Thanks! I subscribed and will check out the newest Version.

Thanks to all who keep this project running!!!

[2018-09-02 16:02] skmp commented on #1225
Just a heads up here, https://www.meetup.com/emudev-org/events/254297351/

[2018-09-02 19:26] baka0815 commented on #1225
Sorry, I won't be in Greece that day. :)

[2018-09-03 17:03] baka0815 commented on #1322
SDL works for me if I apply this simple patch:

[code]

However I'm getting two windows, so it looks like ``SUPPORT_X11`` and ``USE_SDL`` break each other.

[2018-09-03 17:42] baka0815 opened #1371 "Make SDL input usable"
The SDL input backend currently is hardcoded (like the X11 keyboard backend), caputures the mouse and only works with the first joystick.
The following tasks should be done to make the experience much nicer:

- [x] Make keyboard work (#1370)
- [ ] Configurable key/button layout
- [ ] Allow more than one joystick
- [ ] Configurable maple devices (VMU, PurupuruPack, Mouse)
- [ ] Use [GameController]

[2018-09-03 17:43] baka0815 commented on #1322
I created a new (meta) issue to gather the SDL input todos: #1371

[2018-09-03 19:32] blackman91 commented on #301
https://github.com/reicast/reicast-emulator/pull/1367

[2018-09-04 13:42] skmp opened #1372 "libdreamcast split"
Following up on monday's meeting

Proposal:
- [ ] Split is after r8 release. We need to decide on a day. How about next monday?
- [ ] We'll do a branch in reicast to not break master
- [ ] Everything under `core/` will be moved to the libdreamcast repo, as is
- [ ] Reicast will be updated to compile using subtrees/submodules/some other sane way
- [ ] We need to figure out how to implement/migrate

[2018-09-04 15:16] skmp commented on #1372
After discussing w/ @dmiller423, there's the counter proposal to keep everything in a fat repo, rename `core/` to `libdreamcast/` and `shell/` to `reicast/`. This way we don't have to re-do work for CI, or further complicate our repo structure.

[2018-09-04 15:18] skmp commented on #1372
@dmiller423 updated the ticket. Better now?

[2018-09-04 15:38] skmp commented on #1372
Yeh yeh

[2018-09-04 21:48] blackman91 commented on #898
These changes fix cannon spike on Android:
https://github.com/reicast/reicast-emulator/commit/6190c5e

https://github.com/reicast/reicast-emulator/commit/958447f

Any chance the changes can be added to standalone? Cannon spike is still not playable on standalone reicast.

[2018-09-05 06:38] blackman91 commented on #1364
Can confirm this happens on latest beta build too.

[2018-09-05 11:10] asiekierka commented on #10
Framebuffer reads and writes would be useful for simple homebrew development debugging.

[2018-09-05 12:39] luserx0 commented on #1246
@PsyMan Would you like to coordinate this one?

[2018-09-05 12:42] luserx0 commented on #7
I'm taking this one on me

[2018-09-05 14:51] rcl0ng commented on #1361
I tried the playstore beta with some success. My wife and I got to level 2 on 'Zombie Revenge' when the controls started to go in unintended directions. Same problem with multiplayer for years, now. Also, 'Mortal Kombat Gold' is broken in this build.
I hope this helps, I hope you can replicate my results and if there's anything else I can test out, let me know.

[2018-09-05 16:28] luserx0 commented on #1343
@MrPsyMan Opinions?

[2018-09-05 17:34] luserx0 commented on #1332
Reported as fixed on @flyinghead 's bracnhes
Any info?

[2018-09-05 18:01] AbandonedCart commented on #1332
https://github.com/reicast/reicast-emulator/commit/5bdc362da33e10176b2187f58e7c7a01e70bfd49

https://github.com/reicast/reicast-emulator/commit/1e67f9be0b217d14e12e6c6500f2c55e4bf4a63a
https://github.com/reicast/reicast-emulator/commit/1e661a4d459927e99e6b8212715ed409ece5fc41

[2018-09-05 18:06] AbandonedCart commented on #1343
This is not a proposal. It's user-end suggestions for "known" fixes found via libretro, @flyinghead's branch, etc. You may want to look at https://github.com/reicast/reicast-emulator/pull/1298

[2018-09-05 18:09] flyinghead commented on #1343
With the exception of Psychic Force that I haven't tested, this list is accurate.

[2018-09-05 18:12] AbandonedCart commented on #1343
Psychic Force may just apply to Moga / Nvidia controllers (the only two I tested), but the fact that they are optional UI- / config-based options means that shouldn't be a concern.

[2018-09-05 18:27] AbandonedCart commented on #1343
@MrPsyMan It means the game developers may not have added support for playing the game using a joystick. The config option is to have the joystick send the equivalent of dpad input values.

[2018-09-06 20:07] blackman91 commented on #513
That would be amazing, just check this namco gun emulation of Resident Evil Survivor on mobile:
https://youtu.be/K94Eo8S42vw

[2018-09-06 21:03] baka0815 commented on #513
We could use the mouse for that on Desktop.

[2018-09-09 04:35] blackman91 commented on #899
This is fixed now, if you have this problem try latest reicast beta:
http://builds.reicast.com/

Great job reicast team.

[2018-09-09 04:49] blackman91 commented on #1020
Yep like like xeno crisis:

https://www.kickstarter.com/projects/1676714319/xeno-crisis-a-new-game-for-the-sega-genesis-mega-d?lang=en

[2018-09-12 07:55] skmp commented on #1261
Welp, I tagged r8 as we're long overdue on this. I hope it works well enough!

The detailed release log was generated by `git log --merges --pretty=format:"- %b [%h, %an]" --abbrev-commit r7..r8`. We want to keep that handy somewhere

[2018-09-12 07:56] skmp commented on #1261
As soon as the build bots push the new apk, I will do the release in google play!

[2018-09-12 08:02] skmp commented on #1261
Of crouse, the build got broken for some random reason.

https://travis-ci.org/reicast/reicast-emulator/builds/427559767

I'll investigate later....

[2018-09-12 11:18] baka0815 commented on #1261
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

Maybe we should use ``--info``?

And, as I said on discord, the git command only lists the one who did the merge, not the one who did the work. :-)

[2018-09-12 11:23] skmp opened #1375 "Fix the snapcraft build"
snapcraft build is broken because of c++11 usage

Just found out today, we haven't been pushing snapcraft builds since Aug21.

We need to figure out how to fix this

build log
https://build.snapcraft.io/user/reicast/reicast-emulator/331060

:(

[2018-09-12 11:51] baka0815 commented on #1375
I can't see the issue:

[2018-09-12 11:54] skmp commented on #1375
I guess it is private to members of the project? Did you try logging in to snapcraft via github?

Anyways

The error seems to be
[code]

I've attached the log file here [snapcraft-log.txt](https://github.com/reicast/reicast-emulator/files/2374974/snapcraft-log.txt)

[2018-09-12 11:54] baka0815 commented on #1375
Looks like it was this commit: https://github.com/reicast/reicast-emulator/commit/1a4f597bd814915f1bd6f188c575cdfead4c73bc#diff-68060335a9647442c21edb5aa3cefc17

[2018-09-12 13:08] skmp commented on #1261
Removed the names and commit IDs from the log, fixed build.gradle, respun as r8.1. It's out now.

[2018-09-12 13:08] #1261 closed

[2018-09-12 13:10] skmp commented on #1372
Alright, r8 is out. Let's start work on this!

[2018-09-12 13:11] skmp commented on #952
(closing this as it is most likely fixed. Please open a new ticket if it still an issue)

[2018-09-12 13:11] #952 closed

[2018-09-12 14:42] Emulatorer commented on #1208
latest release reicast_r8.1-6-g93affdd7 can't locate or read any games what happed 😢

[2018-09-12 18:28] Retrogiraffee commented on #1364
Hm. I just installed lates beta: r8.1-6-g93affdd7 and now the Browser starts in the "mnt/external/dc" folder (app-folder) - i can change to my folder "mnt/internal_sd/Dreamcast" and "select directory" - the Directory "mnt/internal_sd/Dreamcast" is then showing under "setting", "Games path". But the Browser is not showing any Games. Thats bad.... And it seems reicast doesnt save the settings. It st

[2018-09-12 19:50] Emulatorer commented on #1208
![screenshot_2018-09-13-03-44-27](https://user-images.githubusercontent.com/37603562/45449464-c92fd300-b6c4-11e8-831f-8b2bf1f5ed1d.png)

[2018-09-13 01:08] AbandonedCart commented on #1208
@Emulatorer Nobody was doubting you. Check the reference between your posts.

[2018-09-13 01:31] AbandonedCart commented on #1364
@Retrogiraffee https://github.com/reicast/reicast-emulator/pull/1376

[2018-09-13 01:37] Emulatorer commented on #1208
@Abandonedcart OK tnx waiting for the fix 😅

[2018-09-13 10:42] AbandonedCart commented on #1375
The error says it is undefined, not that it doesn't exist.

[2018-09-13 12:31] baka0815 commented on #1375
However, can't we just skip the initialization and revert to ``Disc* rv;``?

[2018-09-14 00:08] AbandonedCart commented on #1375
That could probably work, since a value is **always** set (preventing it from slipping by uninitialized)

[2018-09-14 04:08] blackman91 commented on #1208
Congratulations on reicast r8.1 release reicast team, you do great job:
https://www.reddit.com/r/emulation/comments/9fkpvx/reicast_r81_released/

[2018-09-14 08:31] AbandonedCart commented on #1208
@blackman91 This issue is for feedback about the Google Play Beta and 99% of that reddit thread was about the fh/mymaster branch and libretro. You are welcome to post it on the forum, though.

[2018-09-14 10:57] genos1213 commented on #1208
I still get the black screen issue that other people were having when trying to launch the BIOS or a game. I'm using a custom ROM Oreo on a Galaxy S5.

[Log.txt](https://github.com/reicast/reicast-emulator/files/2383031/Log.txt)

[2018-09-14 14:59] AbandonedCart commented on #1208
Unfortunately, that one doesn't have as easy of a fix. It appears to be a memory mapping issue.

[2018-09-14 20:43] Huseinmk commented on #1208
Device : Samsung Galaxy grand prime
Os : Android KitKat 4.4.4
APK version : r8.1 from play store
After pressing ( About ) option the app freezes .

[2018-09-16 18:45] AbandonedCart opened #1378 "App Reviews for Discord / Slack"
Stumbled onto a [service](https://appfollow.io) for automatically posting reviews to Discord / Slack daily.

Example output in Discord:
<img width="721" alt="screen shot 2018-09-16 at 2 32 52 pm" src="https://user-images.githubusercontent.com/1173913/45599740-1e1e6280-b9bf-11e8-9b43-ef7ea6e891a6.png">

There is also a self-hosted node application available on [Github](https://github.com/TradeMe/Re

[2018-09-16 21:52] RaduNastase commented on #1343
Any configuration for the characters sprites glitches in Capcom vs SNK 1? Thanks!

[2018-09-17 01:52] AbandonedCart commented on #1343
@RaduNastase Do you have the link for that in one of the other versions of reicast?

[2018-09-17 04:13] RaduNastase commented on #1343
What do you mean AbandonedCart? What link should i provide?

[2018-09-17 09:19] bsauvage1 opened #1379 "Can't build for iOS - Apple LLVM 9.0 error"
Newbie here.... warning!

Trying to compile in Xcode 9 (MacOS High Sierra iMac Pro), targetting ios 11.2 ipad pro:
Command /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang failed with exit code 1

Seems some issues like this normally fixed by tweaking compiler flags, but I can't seem to find which one please ?

Thanks

[2018-09-17 10:34] baka0815 commented on #1379
That's not much information you're sharig here. Do you have a log file of the failed build?

[2018-09-17 10:40] bsauvage1 commented on #1379
my apologies - as I said, newbie!

Here you go, I hope that helps.

[Reicast build log.docx](https://github.com/reicast/reicast-emulator/files/2388203/Reicast.build.log.docx)

[2018-09-17 14:33] AbandonedCart commented on #1379
[Reicast.build.txt](https://github.com/reicast/reicast-emulator/files/2388952/Reicast.build.txt)

[2018-09-17 14:39] AbandonedCart commented on #1343
@RaduNastase The hardcoded fix for "characters sprites glitches in Capcom vs SNK 1" that needed a corresponding setting.
The list is only known settings (meaning ones that have been around for a while and already gone through testing). They are being ported from code that has been around for a while, but was never part of reicast because they were hardcoded workarounds.
If you are just looking for

[2018-09-17 14:41] AbandonedCart commented on #1379
Long and short, the error is that it can't read the arm assembly file.

[2018-09-17 14:53] bsauvage1 commented on #1379
@AbandonedCart thanks vm - apologies, Xcode initially saved as rtf, not recognized by Github, then I used TextEdit to convert it but it didn't give me the txt choice... hence the docx. If there's a less convoluted way to directly send a txt debug file please let me know and I'll do it going forward if needed.

So is this something that needs to be fixed by a commit, or something I'm doing wrong wh

[2018-09-17 17:57] skmp commented on #1171
I guess this got ... refactored. Closing since it's no longer relevant.

[2018-09-17 17:57] #1171 closed

[2018-09-18 09:31] knight-ryu12 opened #1380 "[BUG?] Linux Crashes with Trace Trap and SIGSEGV"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| Linux | origin/master | eacbae5b | No |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the I

[2018-09-18 09:33] knight-ryu12 commented on #1380
Using Archlinux AUR Build `reicast-git`, should be no problem but hmm?

[2018-09-18 10:39] baka0815 commented on #1380
Have you tried setting the correct permissions for your user?
[code]

[2018-09-18 12:06] knight-ryu12 commented on #1380
I think that's bad idea and it must be irrelevant.
it's block device. points to evdev event…

2018年9月18日(火) 19:39 Christoph <notifications@github.com>:

[2018-09-18 13:48] baka0815 commented on #1380
Well, in your configuration (``emu.cfg``) you have probably set evdev_device_id to "0" which would be "event0" and you don't have permission to use this evdev device.

Try granted the user the group necessary to open the devices and see if that works or (note recommended) try running reicast with sudo to see if that works.

[2018-09-18 14:16] knight-ryu12 commented on #1380
to be honest, getting this kind of error ith no cinfig edited should be
fixed.

thanks for recommendation, will try.

2018年9月18日(火) 22:48 Christoph <notifications@github.com>:

[2018-09-18 14:37] skmp opened #1381 "Proposal: Switching to Time-based releases & version numbers"
I think this has been discussed in the past, and there were no objections.

Proposal
---

Aim for a release on the first Monday of each month. Make milestones for 3 releases ahead, then [Mid Term Goals](https://github.com/reicast/reicast-emulator/milestone/4) for 3-9 months ahead, and [Long Term Goals](https://github.com/reicast/reicast-emulator/milestone/2) for 9+ months ahead. Plan for a soft "f

[2018-09-18 14:38] delize commented on #1208
The biggest issue I have is:
1) Either the game list fails to load from over a network share, usually takes about 4 force closes to resolve.
2) If the game list doesn't load, nothing else loads either (Settings, PG Settings, About, etc)

Details:
nVidia Shield: 7.1.0(29.6.259.0)
APK: 8.1 from Play Store

[2018-09-18 21:26] baka0815 commented on #1381
No objections here.

[2018-09-19 02:35] AbandonedCart commented on #1381
Might be good to start considering how many people you have with experience in a particular category when coming up with a timeline, too. Setting 600 goals for Android and 2 for Windows when you have 6 people that are experienced in Windows and only 2 1/2 for Android isn't very realistic. A large portion of the contributor list has been on hiatus for what seems like years.

[2018-09-19 05:06] OGJunerenP opened #1382 "Sonic Adventure 2 Crash and On-Screen Gamepad resizing issue"
What are we gonna do with it?

[2018-09-19 05:12] OGJunerenP commented on #1382
![screenshot_2018-09-19-12-53-52-780_com reicast emulator](https://user-images.githubusercontent.com/36287987/45732149-a003cb00-bc0d-11e8-8d1d-992e5c76b2e5.png)
Here's the Screenshot.

[2018-09-19 05:51] blackman91 commented on #1208
Major bug on latest beta:  when you enter the touchscreen gamepad editor if you try make any button bigger it gets all distorted on Android 7:
![screenshot_20180919-004428](https://user-images.githubusercontent.com/6578180/45733351-0bb24d80-bba6-11e8-972b-7513a297b8d2.png)

[2018-09-19 09:54] baka0815 commented on #1380
In evdev.cpp we're checking if the ``fd`` is lower than 0:
https://github.com/reicast/reicast-emulator/blob/eacbae5b30bcf64f75733a4fe761df9aeb64ce71/core/linux-dist/evdev.cpp#L509
However since ``fd`` is never initialized when the controller can't be read it might be ``0`` and the code tries to happily read from an invalid device.
We should initialize fd to ``0`` to avoid this. I will look at this

[2018-09-19 11:09] baka0815 commented on #1380
That can't be true. If evdev was disabled, reicast wouldn't printout those messages.

Did the workaround work for you?

[2018-09-19 13:39] skmp commented on #1381
That's a good point. I think tickets shouldn't be assigned to a milestone unless there's a willing developer to work on them.

[2018-09-19 13:47] skmp commented on #1381
Alright, will follow up within the week with an MR updating the docs for this.

[2018-09-19 13:49] AbandonedCart commented on #1382
Moved to https://github.com/reicast/gamedb/issues/80 and next time, please fill out the form. It is there to make sure you give us all the info we need and format things for you.

[2018-09-19 13:49] #1382 closed

[2018-09-19 13:53] skmp opened #1383 "Migrate to CMake for linux, windows, android"
(To be imported from asana)

[2018-09-19 13:57] AbandonedCart commented on #1208
Just the latest beta did this? Or did the one before it do it, too?

[2018-09-19 14:08] skmp opened #1384 "Re-organize the issue tracker"
Follow up from #1381

We need to
- [ ] Go over tickets and roughly assign them to milestones (specific release, mid term, long term). This is more of a "guideline" right now, as we'll have to coordinate w/ developers to see if there are devs available
- [ ] Investigate how to best use github's project management tools. We have Issues, Labels, Projects, Milestones and Discussions. How do we want to

[2018-09-19 14:13] skmp opened #1385 "Proposal: Define & document processes"
Right now, pretty much everything is ad-hoc. As we scale to more contributors, and we have more contributor churn I think it makes sense to define and document the processes we want to implement.

I'll write down my ideas in a PR to document both roughly the existing structure, as I understand it, as well as ways that it can be extended (eg, #1381).

My thinking is to aim for an agile/scrum style

[2018-09-19 14:14] skmp commented on #1381
Will follow up for documentation via #1385

[2018-09-19 14:14] #1381 closed

[2018-09-19 14:17] skmp opened #1386 "Release 18.10 Discussion"
Hello team,

What do you think can be merged to master by Monday 1st of October?

What issues do you think should be resolved by then

Cheers~

[2018-09-19 14:18] skmp commented on #1386
You can see the tickets assigned right now in the [milestone](https://github.com/reicast/reicast-emulator/milestone/6)

[2018-09-19 14:19] skmp commented on #535
Closing in favor of #1383

[2018-09-19 14:19] #535 closed

[2018-09-19 14:29] skmp commented on #340
@hooby3dfx I assume you no longer plan to work on this?

[2018-09-19 14:31] OGJunerenP commented on #1382
Oops, sorry about that.

[2018-09-19 14:32] skmp opened #1387 "Review merged PRs over the past year and scan for known issues"
I haven't been paying attention, and quite a few questionable fixes have been merged over the past months. I will go over the PRs we had in the past year and create follow up tickets as needed.

[2018-09-19 14:35] skmp opened #1388 "Review, cleanup and create follow up tasks on high level tickets that are stale"
Some of them are

#1242
#1150
#455

[2018-09-19 14:36] skmp opened #1389 "Write a progress report for Jun/Jul/Aug/Sept"
It's been many many months, we need to summarize the work done, and document the release changes.

[2018-09-19 14:37] skmp commented on #1389
@luserx0 You said in the past you'd like to do this. Do you have the time/comitment to do it before oct 1st?

[2018-09-19 14:38] baka0815 commented on #1386
I will at least take a look at #1380.

I **might** resubmit CHDv5 (#1363) support, but I won't promise that.

[2018-09-19 14:39] skmp opened #1390 "Investigate GitLab as an alternative to GitHub"
Seems to have far nicer issue tracking options, allows for nested groups on projects, and is open source.

[2018-09-19 14:39] baka0815 commented on #340
It's also not implemented for SDL afaik (#1371).

[2018-09-19 14:40] skmp opened #1391 "Document project infrastructure"
Automations, Integrations & Services used

[2018-09-19 14:51] AbandonedCart commented on #1383
https://blog.kitware.com/creating-mac-os-x-packages-with-cmake/

[2018-09-19 15:03] AbandonedCart commented on #1390
Gitlab goes down rather frequently and runs more like an open-source project itself.

[2018-09-19 15:09] AbandonedCart commented on #1387
Are you sure you will have the time for that?

[2018-09-19 15:10] skmp commented on #1387
By the end of next month, yes. We haven't had that many merges that affect the emulation side that much, and I just want to scan over, not do a thorough review. The RA one contains at least a few worrisome changes that I do not want to let slip through.

[2018-09-19 15:15] baka0815 commented on #1390
What would be the reason to migrate?

There is an article on t3n (https://t3n.de/news/github-vs-gitlab-lohnt-wieso-871190/, German) which analzes GitHub vs. GitLab.

Here are some keypoint:

GitHub | GitLab
------------ | -------------
\+ well known and widely used | \+ UI is cleaner, mobile view (the latter is true for GitHub too, I think)
\+ reliable platform | \+ many project statistics
\+ inte

[2018-09-19 15:30] AbandonedCart commented on #1387
https://github.com/reicast/reicast-emulator/pull/1296/commits/a3f585ea1cb43687d64d9afa0a5cdfde8d8c0f1c
https://github.com/reicast/reicast-emulator/pull/1298
https://github.com/reicast/reicast-emulator/pull/1318/commits/3e7dea537a4f4fbc90f6eb416fb312ce2beed237
https://github.com/reicast/reicast-emulator/pull/1334

It's kind of obvious. Not entirely sure why it took this long to come out and say it,

[2018-09-19 15:37] AbandonedCart commented on #1390
Their integration is their cash cow. It has a free plan, but it is also where they make their money.
They go down with 500 errors at least once every other week. The actual downtime varies.
Self hosted is **extremely** minimal and a resource hog. It ties back into a lot of their paid services.

The only real reasons to favor them are if you want a UI-based self-hosted repository (as opposed to  si

[2018-09-19 17:02] blackman91 commented on #1208
Not sure about the previous one because it didn't detect the bios but the resizing works fine in latest master 00ecf2f.

[2018-09-19 17:18] AbandonedCart commented on #1208
The betas are built automatically from master. Looks like there is nothing to do here then.

[2018-09-19 17:36] AbandonedCart commented on #1384
The "catch-all" beta feedback issue is a train wreck.

[2018-09-19 17:37] blackman91 commented on #1208
Not anymore apparently, latest beta version from playstore is r8.1-11-geacbae5b and the latest master still r7 00ecf2f, the bug is present in latest playstore beta but not in that master build.

[2018-09-19 17:38] AbandonedCart commented on #1208
And the changes are already submitted to resolve that.

[2018-09-19 20:27] baka0815 commented on #1390
Sounds like a change because of change kind of situation, which I find kind of unnecessary.

[2018-09-19 22:42] skmp commented on #1386
@AbandonedCart Just got an email from google with "Action required: Update your Android targetSdkVersion by November 1st". I've noticed a lot of android PRs, so not sure if this is an issue still or not?

[2018-09-19 22:58] skmp commented on #1390
Several people have suggested it, so I figured it is a good idea to investigate. Investigation doesn't mean we necessarily plan a move.

Personally I use gitlab daily at work, and I somewhat prefer its ticket tracking features.

[2018-09-20 00:13] luserx0 commented on #1389
@skmp Yes I can do it. The only problem is that I'm around for the past 1 month, so you'll have to be a little more specific on what the progress report should contain :)

[2018-09-20 02:12] skmp commented on #1385
Opened #1393 for release naming, schedule and planning

[2018-09-20 07:33] MrPsyMan commented on #1383
I'm unfamiliar with asana skmp

[2018-09-20 07:40] MrPsyMan commented on #53
We want a framework setup for this and leave implementation for later.

Setting up as mid term goal for now.

[2018-09-20 07:47] MrPsyMan commented on #155
The actual function for this is already there. Only thing missing is the UI on android supporting it.

We want the UI supporting this as soon as we split into lib/frontend.

[2018-09-20 07:52] MrPsyMan commented on #932
This is a really bad idea considering that "normal"  drives cannot read GD-ROMs and that most rips have issues.

Putting as a long term goal, but don't expect it soon.

[2018-09-20 07:56] MrPsyMan commented on #1031
Adding the features is relatively easy. Properly using them is another subject.

Reicast is not cycle accurate and it won't be any time soon. It's not part of the project goals, not aso far at least. So do not expect these added or properly working any time soon.

Closing and putting on hold indefinitely...

[2018-09-20 08:02] baka0815 commented on #155
It's also only available on Android at the moment, but we don't have other GUIs atm...

[2018-09-20 08:04] MrPsyMan commented on #155
Works on pc build (assuming building it works). I remember putting it on one of the f keys.

[2018-09-20 11:45] flyinghead commented on #1343
Surf Rocket Racers needs Div Matching disabled as well.

[2018-09-20 13:55] AbandonedCart commented on #155
@MrPsyMan "We want the UI supporting this as soon as we split into lib/frontend."

What UI are you referring to?

[2018-09-20 13:58] MrPsyMan commented on #155
All UIs visible while running a game. On all supported platforms.

[2018-09-20 14:01] AbandonedCart commented on #155
Alright. "Only thing missing is the UI on android supporting it" implied that it was just Android missing the UI and the post directly before it **was** the UI, so I was making sure they were separate statements.

[2018-09-20 14:05] MrPsyMan commented on #1343
Regarding the division related issues, if I recall correctly the actual cause is inaccurate fpu emulation.
A "proper" fix is making fpu emulation more accurate (Record of Lodoss War for example does division by zero when it hangs if I recall). nullDC did have a setting for improved fpu accuracy back then which fixed such issues. Someone has to test such cases though.

The street fighter irq issue

[2018-09-20 14:07] AbandonedCart commented on #1383
https://asana.com/

It is **yet another** team management program, not unlike the countless others.

Has cmake been verified to work with Android Studio as well as gradle or is it going to end up some elaborate lateral move just to make two platforms use the same command?

[2018-09-20 14:12] AbandonedCart commented on #1343
@MrPsyMan "Bypass Div Matching" is nullDC's safe Dynarec setting.

[2018-09-20 14:15] MrPsyMan commented on #1343
I see. Guess @skmp didn't do a proper fix back then...

[2018-09-20 14:19] AbandonedCart commented on #1343
Well, it's not like anything is written in stone. A proper fix can always replace a temporary workaround. Until then, this one allows the game to be played. When reaching a larger audience, you have to remember that people tend to only see "working" or "not working" and things like "well a proper fix can be added, but isn't ready yet" sounds like "blah, blah, I can't fix it" to a user.

[2018-09-20 14:28] AbandonedCart commented on #1343
Again, it is a **temporary** solution to boot the game. @flyinghead already has a better one.

[2018-09-20 14:33] MrPsyMan commented on #1343
I see. It could be gdrom dma. We had some issues relative to how we treat gdrom timings in the past (ie: soul calibur would crash when reading too fast and code veronica would duplicate one specific item at some point).

[2018-09-20 14:42] MrPsyMan commented on #1343
Particularly the sfa3 issue might be trickier to properly fix (I mean without side-effects) if you consider how the gdrom is a mechanical system and issues on it are handled through scsi sense codes by interpreting what the laser "sees". Ever wondered why some rips are literally making the gdrom make constant grinding noises? Yeah it's that bad. Also notice the changes in reading speeds when files

[2018-09-20 14:48] AbandonedCart commented on #1343
So which is it? Use a temporary workaround or do nothing until a permanent solution?

[2018-09-20 14:57] MrPsyMan commented on #1343
My suggestion is to remove the hack completely.

As for a "fix". As you said, @flyinghead has a more sane approach. As long as it's setup to not break anything else (not knowingly at least) I'm ok with having it as a mid-term selectable workaround.

When the approach gets better and/or has proven to not break anything else, we just take the option to disable it out.

[2018-09-20 15:10] AbandonedCart commented on #1343
It's nice to see at least one other person finally gets what I have been saying all along, even if I had to waste an hour letting you get to that conclusion on your own.

Again, it's not as though I didn't make sure reversing it was as simple as https://github.com/reicast/reicast-emulator/pull/1394

[2018-09-20 16:46] #1380 closed

[2018-09-20 16:57] baka0815 commented on #1383
We could do bitbucket, osfn, sourceforge,...  SCNR

I understood it that way that @skmp already has something on asana which should be ported over?

We already have make and cmake for Linux, so it would at least be good to consolidate rhis (imho). If we can also add Windows to that, fine by me.

However I'm also ok with one build system for each platform (cmake - Linux, VS - Windows, gradle - Andr

[2018-09-20 18:38] blackman91 commented on #1208
Nice job mostly fixed but if you make the dpad big the right button goes all  to the left:
![screenshot_20180920-132209](https://user-images.githubusercontent.com/6578180/45839590-6a78e380-bcda-11e8-9c1b-74a0c3fffb85.png)

[2018-09-20 19:50] AbandonedCart commented on #1208
The specific code for that was more or less reverted to the way it was (for years). Are you actually trying to make the dpad that size to use it or was that just to find an issue? If it is just to find issues, it probably won't be addressed right away. After all, it doesn't seem like there is a lot of demand to make the dpad 1/2 the screen width in the last 3 years given the lack of reports about

[2018-09-21 10:50] luserx0 commented on #1375
- **i386 and amd64 builds restored in a functioning status**:
  * Tried adding the g++ directives "-std=c++0x" and "-std=gnu++0x" to our makefile; all nullptr build issues were solved but I was getting new ones :(
  * Tried changing the nullptr value to an initialized nullptr_t or sth; that's the stupidest thing I did. It got me straight up more build issues
  * At last, @baka0815 proposal made th

[2018-09-21 10:55] AbandonedCart commented on #1375
@luserx0 If you're going to bash some platform, make sure to do it as yourself and not as a representative of the team unless you intend to have it reviewed first.

As for the fix, maybe next time you should trust that when two of us have already agreed that something is the likely solution, you should probably test that **first** and not as a **last** resort.

[2018-09-21 11:13] luserx0 commented on #1375
Thanks for your kind input.

[2018-09-21 16:12] luserx0 commented on #1383
https://github.com/inolen/redream
Anthony here has a pretty exemplary setup of CMake, readily extensible and well-documented.

A milestone we should definitely handle here is incorporating Doxygen (and/or other CMake family tools to our infra i.e. CTest).

@AbandonedCart CMake supports most (if not all of our targets). This was prerequisite research in order for this issue to open. Sorry for not r

[2018-09-21 16:13] luserx0 commented on #7
WIP as of this week

[2018-09-21 16:17] AbandonedCart commented on #1383
@luserx0 I was asking about things like instant run (see Discord) but found out that it supports it as a full replacement for gradle (not just something that builds)

[2018-09-21 16:28] luserx0 commented on #1375
PR Submitted, issue closed

[2018-09-21 16:32] luserx0 commented on #23
@skmp @MrPsyMan @dmiller423 @AbandonedCart @baka0815
Any follow-ups on this?
Any requests?

[2018-09-21 16:34] luserx0 commented on #1138
Have we actually released a stable version of snap? Do you remember @skmp?
I find the goals about size reducal and integration with GH PRs unnecessary (too-much-of-a-hassle-I-would-say)
Why? Because the goddamn thing is slow and it breaks easily (i.e misplacing reicast.png breaks the whole build). Reducing size would have to tailor the build further and using it with our GH doesn' make sense since

[2018-09-21 16:35] AbandonedCart commented on #23
APKPure automatically syncs to Google Play already.
Aptoide requires a store, has a horrid API, and crashes a lot (besides being mostly hacks).
TapTap isn't bad, but I'm not sure about their stance on emulators with BIOS requirements.
Samsung might allow it, but I've never submitted to them.

That sums up all the big names and "well-known" for Android.

[2018-09-21 16:35] luserx0 commented on #1148
Closing in favor of #1389
A review for these months could take place

[2018-09-21 16:35] #1148 closed

[2018-09-21 17:18] baka0815 commented on #1375
If you specify something like "fixes #1375" in the pr description, the issue is automatically closed when thr pr is merged, tjere is no need for the extra step to close the pr manually.

[2018-09-21 19:01] dmiller423 opened #1398 "user paths will always be used even if they don't exist"
@luserx0 : How about you handle this?   Simple C++ path checking

</ Everyone else please ignore horribly formatted issue >

!LoadRomFiles(get_readonly_data_path(DATA_PATH)))

string get_writable_data_path(const string& filename)
{
	/* Only stuff in the user_data_dir is supposed to be writable,
	 * so we always return that.
	 */
	return (user_data_dir + filename);
}
string get_readonly_data_path(c

[2018-09-21 19:14] AbandonedCart commented on #1375
@baka0815 I was wondering how that happened before. Thanks for that.

[2018-09-22 06:17] OGJunerenP opened #1399 "Changing On-Screen gamepad position lead to crash"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| Android 7.0 | Google Play Store | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description

[2018-09-22 16:09] johnny-mac commented on #1301
Hey gameblabla, did you get Reicast to work on Void MUSL?

[2018-09-22 16:10] johnny-mac commented on #1301
[code]

[2018-09-22 17:05] johnny-mac commented on #1301
So GLXBadFBConfig & libev aren't working. libevdev.so and libevdev.so.2 are both there in Void, so why aren't they being found by Reicast?

[2018-09-22 20:27] gameblabla commented on #1301
It worked for me on Void Linux Musl last time. However, it expects to load some config files in /usr/share folders if i'm not mistaken. It will crash if it can't load those files.

[2018-09-22 20:31] Retrogiraffee commented on #1364
@AbandonedCart i tried with newest beta (r8.1-28-g6ad13268 (431475743))
The good news:
- All settings/changes are saved now.
But no matter if i chose "l/r" or "a/b" or "none" - the right analog stick is doing nothing. If i don't use the physical-settings, the right analog stick pauses the game when i click the analog stick. But moving around with right analog stick does nothing (even with or witho

[2018-09-22 21:36] AbandonedCart commented on #1364
Unfortunately, I don't have access to the hardware to figure out if it's the handling or the hardware sending a button code instead. Fortunately, it only duplicates an existing button, so it shouldn't be too much of an inconvenience until it can be resolved.

[2018-09-23 08:07] baka0815 commented on #1301
``libev support not compiled in`` is no reference to evdev.

[2018-09-23 13:09] MrPsyMan commented on #1384
I'm quite lost here @skmp

All in all, until the migration to cmake is finished and the split to libdc/frontend is done and both are thoroughly tested for regressions, additional planning is not viable.

[2018-09-23 18:59] MrPsyMan opened #1402 "Games we Want to Focus on"
The following is a list of games we want to focus our time on fixing (when the state of the project allows it), based on their status on various aspects.

The original plan was to put them on a spreadsheet or just upload them on some document... Well, I hate spreadsheets and I love user input, so this seems like the better place to do it.

Remember, do not post issues with specific games in here (

[2018-09-23 19:47] MrPsyMan commented on #1402
Been thinking of putting Marvel versus Capcom 2 and Space Channel 5 up there but the list is becoming too big already and some variety on the game selection over more good games of the same kind seems like the better option.

Any thoughts on this?

[2018-09-23 21:13] AbandonedCart commented on #1402
Marvel vs Capcom 2 has a pretty big following (since their newer offerings are massively pay2play). Dead or Alive is a personal favorite, but most fans moved on to the massive number of platforms that supported DOA5.

[2018-09-23 21:43] skmp commented on #1402
That liat sounds familiar!

How many of these are not in any platform? Crazy taxi is already on android (https://play.google.com/store/apps/dev?id=7891990035506213180) so not sure it deserves a spot.

What about more unique or whacky ones like seaman, rez, segaga, etc? In another direction, what about weird japanese ones like Air or L.O.L.?

[2018-09-23 21:50] MrPsyMan commented on #1402
Dunno... I just found it funny if crazy taxi would run better on reicast than it does as a standalone game.

Regarding the Japanese ones, games with heavy ingame dialog are a big no for casuals.
On the other hand we love Japan too, so we want to make people there happy too.

As for rez and seaman, they do look like sane options. The question is, what do we take out on the list, which ones from the

[2018-09-23 22:37] AbandonedCart commented on #1402
Jet Set Radio, Power Stone, and Sonic Adventure always pop up in anything about Dreamcast.
Typing of the Dead and Seamen matter for the peripherals.
Lightgun has a few options, so maybe just pick one that uses it.
Rayman is over-ported, so it won't matter much to drop it.
I think only 1 is needed between Skies and Gradia, but Skies gets more reports (if that matters)

[2018-09-23 22:42] MrPsyMan commented on #1402
The problem with skies and grandia is the completely different way they play.

Seaman is indeed a good candidate for uniqueness, and so is Rez.

Rayman seems to be getting the axe so far. Any other suggestions on what to drop? We also want to decide on the number of games on the list. 25 already seems to much here as an initial breakdown.

[2018-09-23 22:47] AbandonedCart commented on #1402
Honestly, some decisions might be hard but a realistic number is more like 10.

[2018-09-23 22:48] AbandonedCart commented on #1402
Resident Evil: Code Veronica was more or less disowned by hardcore fans, so you could probably afford to ditch it.

[2018-09-24 04:06] RaduNastase commented on #1402
Personal opinion: Street Fighter 3rd Strike can be played flawlesly on any platform (including android) through Final Burn. I'd replace it with Marvel vs Capcom 2/Capcom vs Snk (same fix should make both games perfect) which can not be yet played on many platforms.

[2018-09-24 10:34] skmp commented on #1031
(since it's part of long term goals, why not keep this open? Otherwise we'll just forget it)

[2018-09-24 10:35] skmp commented on #1031
@GeekyFerret do you have some more functional specification of what you want implemented? what is re-recording? what is TAS input? I assume frame-advance means running the emulator only for a single frame? we already support avi recording, for linux at least

[2018-09-24 10:37] baka0815 commented on #1031
We do? Where is that?

[2018-09-24 10:43] MrPsyMan commented on #1031
Fine. It's a very long-term goal though, keep that in mind.

[2018-09-24 10:45] MrPsyMan commented on #1402
OK, so far 3 out, 1 in. Keep suggestions coming.

[2018-09-24 11:16] skmp commented on #1031
@baka0815 looks like it is not in master. `skmp/webui-gles-stream` should have an option for it though

[2018-09-24 11:33] luserx0 commented on #1398
C++17 Introduced this, https://en.cppreference.com/w/cpp/filesystem filesystem lib. Can I use it somehow?

Doing this for Lunix at first (Unix and BSD included) would make sense. I'm not sure we can have a POSIX way of setting defaults, but that's expected.

I'm gonna use the set_user_config_dir, set_user_data_dir, add_system_config_dir, add_system_data_dir functions located on top of stdclass.cpp

[2018-09-24 12:03] baka0815 commented on #1398
We can't use C++17 currently as AppVeyor still uses VS 2013.

[2018-09-24 13:18] luserx0 commented on #455
@skmp I parsed this text into the CONTRIBUTING doc I'm creating for the docs PR.
This issue can be closed. If you want to change our license as you've mentioned, open a new ticket (and make a damn blogpost <3)

PS: I like [WTFPL](https://en.wikipedia.org/wiki/WTFPL)

[2018-09-24 13:19] luserx0 commented on #793
Done.

[2018-09-24 13:28] luserx0 commented on #1140
@pold500 @dmiller423 @skmp  @AbandonedCart Any ideas?

[2018-09-24 13:57] pold500 commented on #1140
@psy-fidelious for your knowledge, pimpl idiom is successfully used in C++ too. via reference to a class member or unique_ptr.
@luserx0 my idea is to put everything in classes through composition. so we don't rely on externs which are placed in random places of code.

[2018-09-24 13:58] AbandonedCart commented on #455
Actually, changing to a license like that **after** many of the contributors signed over their code in a CLA is exploiting the CLA. The current license ensures their code is only reused in the context of reicast without special permission, it is not packaged in proprietary programs, and that there is proper reference given for use of the code. You more or less throw all of that out and claim that

[2018-09-24 15:24] har-pi opened #1403 "Handle in-source FIXMEs"
Our codebase contains a lot of FIXMEs references.
Investigation is required and reporting of their status

-- i.e. in core/webui/server.cpp:
[code]

[2018-09-24 15:36] luserx0 commented on #1117
#1403 Is part of the issues
The rest I'm gonna start resolving tomorrow and submit them in "theme"-patches

[2018-09-24 15:45] dmiller423 commented on #1398
AppVeyor  is not fixed to VS2013, you can specify ... i think we switched to 2015 as of a few days ago officially since it allows multi-targeting in project file to work in vs2017 as well.   Still, the problem here isn't related really @luserx0 , the problem is that things just aren't done in the right place.

  The code for checking is fine, but check for the files not for the directory,   It che

[2018-09-24 15:54] dmiller423 commented on #1140
It's not a bad idea, but it does nothing for us at this time ..
The entire emulator needs an overhaul and refactor,  why just wrap globals and still use mostly C-style code everywhere else?   Unless we do the rewrite,  I see no real benefit.  We'd just end up w. a global Globals.var or .getVar().  ,  or have to pass a context, or make a singleton and query it to get its instance and do  Globals::i

[2018-09-24 16:36] baka0815 commented on #1398
Nope, #1400 was still build with v120 which doesn't know inline and therefore failed at first.

[2018-09-24 16:46] AbandonedCart commented on #1398
You can change "120" to "140" in appveyor and it builds 2015.

[2018-09-24 16:53] AbandonedCart commented on #1140
@dmiller423 makes a very valid point. Partial rewrites just to disguise the core issue are something you do to look busy.

[2018-09-24 17:13] baka0815 commented on #1398
Sorry for OT then: how?

[2018-09-24 17:45] psy-fidelious commented on #1140
@pold500 the difference is that in C you can hide the contents of the struct itself in a C file, only exposing the interface in the header (struct declaration + functions operating on struct  pointer). In C++ if one wants to expose the interface (methods) they need to also expose the contents of the class, which means include headers for any contained classes. You can choose to reference or alloca

[2018-09-25 08:42] skmp commented on #1140
Added to the `Mid Term Goals` milestone. @pold500 if you have ideas for this, can you write them here?

[2018-09-25 08:55] skmp commented on #1385
@luserx0 hey, please don't close my tickets, especially when they are not done :)

[2018-09-25 10:27] pold500 commented on #1140
@psy-fidelious lol, no. Please go read some article about pimpl idiom in C++, you really need to educate yourself on the topic and don't make a wrong statements.

@skmp ok, I'll make an experimental pr.

[2018-09-25 11:06] pold500 commented on #1140
@dmiller maybe I didn't express myself clear. I'm not going to wrap C globals, I'm going to change structure of the code, in significant way.

[2018-09-25 11:33] skmp opened #1405 "Do the 18.10 Release"
I've written down the steps I follow in https://github.com/reicast/reicast-emulator/blob/skmp/docs-galore/docs/Processes.md#making-a-release.

@AbandonedCart are there any open loops on the android side that are blocking us?

[2018-09-25 13:55] johnny-mac commented on #1301
Well what is it a reference to? I have libev....

And what do you mean something with my OpenGL driver? What version of OpenGL does reicast require?

[2018-09-25 13:57] dmiller commented on #1140
You've got the wrong person.  @dmiller (me) has nothing to do with this
project.

On Tue, Sep 25, 2018 at 6:06 AM PavelD (Github) <notifications@github.com>
wrote:

[2018-09-25 15:39] MrPsyMan commented on #1383
@dmiller423 @luserx0 when is the cmake migration gonna be complete? According to your estimations are we on track for 18.10?

[2018-09-25 15:44] MrPsyMan commented on #1384
@skmp we also overcomplicate things so far. There's no need for us to go through hell and back in order to do a submission (of code, issues, docs, etc.).

[2018-09-25 15:51] MrPsyMan commented on #1405
Cmake seems plausible here, so does issue tracker reorganization. We"ll see...

[2018-09-25 16:39] psy-fidelious commented on #1140
@pold500 forgive my lack of knowledge I will promptly go and educate myself on the matter further.

[2018-09-25 21:32] pold500 commented on #1140
@psy-fidelious It's OK. My apologies for my selfish and entitled tone. I rephrased my comment.

[2018-09-26 11:18] vladone97 opened #1410 "Sonic Adventure 2 freezing after Green Forest"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 7.0 | Google Play | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue_**

Sonic Adventure 2 froze on the Hero story,

[2018-09-26 11:20] MrPsyMan commented on #1410
Are you running a gdi or cdi image of the game?

[2018-09-26 11:26] vladone97 commented on #1410
But I used the same image on older versions of Reicast and it was working back then.

[2018-09-26 11:29] MrPsyMan commented on #1410
Then we want the testing team to confirm this. @baka0815 any thoughts on this?

[2018-09-26 12:52] TradeDraft opened #1411 "Save States Crashing Reicast when I Re-Enter Reicast after Save Stating"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue_**

[2018-09-26 12:54] MrPsyMan commented on #1411
This is a retroarch issue. Direct your report to them.

[2018-09-26 14:08] flyinghead commented on #1410
There is one already https://github.com/reicast/reicast-emulator/commit/1a4f597bd814915f1bd6f188c575cdfead4c73bc
Personally I dislike the idea of having a pop up every time I load a CDI. Some are bad but most CDIs are fine.

[2018-09-26 14:17] MrPsyMan commented on #1410
I can't say I like the idea, but it's better than keeping users in the dark.

[2018-09-26 14:21] AbandonedCart commented on #1410
In Android, the popup is a logcat warning. It's there if you look, but non-invasive.

[2018-09-26 14:31] MrPsyMan commented on #1410
So users are left in the dark...

I'd rather annoy users a bit to help them, rather than having a bad rip ruin their gaming session.

That's just my opinion though.

[2018-09-26 18:01] blackman91 commented on #1411
Update to RetroArch latest nightly

[2018-09-26 23:14] MrPsyMan commented on #1410
Homebrews and the likes are in cd images so we don't really have a choice.

[2018-09-26 23:17] MrPsyMan commented on #1402
Really, this is NOT a one man decision. We want to discuss what we work on first when the time comes.

[2018-09-27 01:45] skmp opened #1414 "More accurately model DMA behavior (non-instant dma)"
Currently, almost all DMAs are done instantly, with the exception of GDROM (found to fix some games) and as  of #1412 AICA. I think I've seen some other code around it, too.

There's several details on the interaction between the SH4 DMAC / DDT mode, and the holly DMA engine that are not modeled at all.

IMO we need to
- [ ] Investigate how the different DMA implementations work right now
- [ ] Fi

[2018-09-27 03:43] AbandonedCart commented on #1384
It seems like there needs to be some focus on organizing time, not just issues and documents. There shouldn't be a need to keep starting conversations over because of delays in response time. This is a combination of both organizing issues so the previous content is readily available and dedicating enough time to skim over it before attempting to resume discussion.

[2018-09-27 04:45] blackman91 commented on #1208
Updated to latest beta:
![screenshot_20180926-234307](https://user-images.githubusercontent.com/6578180/46123818-2019ca00-c1e6-11e8-99fc-4e0d02b6af2c.png)

But Reicast crashes or close itself when pressing settings on Android 7.

[2018-09-27 05:57] AbandonedCart commented on #1208
Interesting. It was build against and tested on two Android 7 devices.

[2018-09-27 06:37] blackman91 commented on #1208
Tried uninstall and install again but still can't enter the reicast settings, here is a quick video of the bug:
https://youtu.be/d4E8Ak2-nd4

[2018-09-27 08:18] MrPsyMan commented on #1414
Something to note here, both aica and gdrom dmas are more or less implemented in a hacky way that attempts some sort of simulation of their timings.

Debugging the issue in the past pointed into a relation to gdrom error handling, including scsi sense, which can cause delays and aborts, affecting if/when irqs are raised.

[2018-09-27 09:10] Emulatorer opened #1417 "Latest Build has a problem with UI in Android"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
|---|---|---|---|
| Android 5.1 | Playstore Beta | | |

**_ScreenShots_**
![screenshot_2018-09-27-17-08-14](https://user-images.githubusercontent.com/37603562/46135630-297e5300-c235-11e8-861c-7fce6

[2018-09-27 09:12] baka0815 commented on #1410
What about:
* Hide CDI behind a separate choice in Windows open dialog (like "GD-ROM images|*.gdi, *.chd;Homebrew|*.cdi")? And do the same on Linux once we have a UI there.
* Add a separate option to Android to "enable CDI images" with a warning when set.

?

[2018-09-27 09:18] AbandonedCart commented on #1410
You'd more or less replace the handful of issues that are a direct result of a CDI image being a bad image with hundreds of people asking why CDI is broken.

[2018-09-27 09:57] TradeDraft commented on #1411
Tried That

[2018-09-27 10:02] blackman91 commented on #1411
Report it here:
https://github.com/libretro/reicast-emulator/issues

[2018-09-27 10:04] TradeDraft commented on #1411
https://github.com/libretro/reicast-emulator/issues

Sure Will

[2018-09-27 10:08] baka0815 commented on #1411
As we don't have save states (atm) in main reicast and it's a bug report for libretro, I'm closing this.

[2018-09-27 10:08] #1411 closed

[2018-09-27 14:35] AbandonedCart commented on #1417
It looks like the background isn't loading for you. Unfortunately, there is not enough information in the screenshots to figure out why.

[2018-09-27 15:05] AbandonedCart commented on #1332
This should probably be closed in favor of https://github.com/reicast/reicast-emulator/issues/1414

[2018-09-27 15:49] AbandonedCart commented on #1417
I was able to duplicate the issue. It appears to be specific to Android 5.0

[2018-09-27 16:40] AbandonedCart commented on #1417
Looks like while tint was made available in API 21 (5.0 is 22), the style option only works after API 24. Another one of Android's undocumented limitations, I guess. Either way, there will be a fix for this shortly that will make the theme compatible. Don't want anyone missing out ;)

[2018-09-27 18:13] blackman91 commented on #1208
Updated to latest beta, sadly I still get the same settings bug so I can't configure the directories to play.

[2018-09-27 21:08] Emulatorer commented on #1417
![screenshot_2018-09-28-05-04-16](https://user-images.githubusercontent.com/37603562/46174744-6419d700-c299-11e8-8e51-22d62c5cbca8.png)

it's OK now thanks!

[2018-09-27 21:14] #1417 closed

[2018-09-27 22:12] skmp commented on #1332
#1414 is only part of what needs to be done. I'll asign this to me as it is a meta-task

[2018-09-27 22:13] skmp commented on #1332
#1414 is only part of what needs to be done. I'll asign this to me as it is a meta-task

[2018-09-28 00:07] blackman91 commented on #1417
Emulatorer can you access the reicast settings?

[2018-09-28 02:35] Emulatorer commented on #1417
Yes! 😀
![screenshot_2018-09-28-10-34-04](https://user-images.githubusercontent.com/37603562/46184874-161bc800-c2c7-11e8-8dd2-d974cb1835ed.png)

[2018-09-28 05:00] blackman91 commented on #1417
That's so weird when I press the settings this happen on my device on Android 7:
https://youtu.be/d4E8Ak2-nd4

Not sure what is causing it, log shows nothing.

[2018-09-28 05:12] Emulatorer commented on #1417
hmm.. maybe because of your android version?

[2018-09-28 12:51] luserx0 commented on #1384
46 Issue labels? Inhuman! (In-developer actually)
Our first priority and approach imho, should be stripping down the issue labels to the needed bare minimum and then filing in gaps.

My request is a WIP (Work In Progress) label to be added, as it helps me personally to see what I'm working on (yes, I'm forgetful).

[2018-09-28 13:17] AbandonedCart commented on #1384
A really bad trend is rather than adjusting / updating existing (fill in the blank), a new (fill in the blank) is added and then some of the previous content filters back into it.

The duplicate labels and all of the really unnecessary ones (ie. labels for game stuff that is now handled by gamesdb) have been removed. The rest will require actually reviewing relevance.

[2018-09-28 18:56] AbandonedCart commented on #1378
After running this for an extended period, I was not all that impressed. It only posts the updates once a day and tends to miss a lot of them. It would be easier to plug directly into the Google Play Console API if the functionality is desired in the future.

[2018-09-28 18:56] #1378 closed

[2018-09-28 18:59] AbandonedCart commented on #1360
Things like an image being in a folder either are or aren't, so there is no alternate way to handle it. As for the ones with more than one way to handle them, they are resolved. This is really just an issue of Google accepting that or providing specific details to address the issues with their test hardware.

[2018-09-28 18:59] #1360 closed

[2018-09-28 19:04] AbandonedCart commented on #1297
It appears the remaining items are being inherited by other issues and were, for the most part, not related to Android Studio. It should be safe to close this one as no longer relevant.

[2018-09-28 19:04] #1297 closed

[2018-09-28 19:06] AbandonedCart commented on #1405
Outside of any random issues that pop up in testing, the big stuff appears to be handled on the Android side of things.

[2018-09-29 10:35] blackman91 commented on #1208
Updated to latest but bug is still there here is a log:
![screenshot_20180929-053201](https://user-images.githubusercontent.com/6578180/46244770-6ec39180-c3a9-11e8-9a96-24d8e9e3170f.png)

[2018-09-29 20:45] Blaze08 commented on #1208
i have the issue with this emu, The house of the dead 2 Verify failed, not only HOTD but the others too

issue spaces

[2018-09-29 20:46] Blaze08 commented on #1208
Blackmann91: Yeah same here i can't go to config because a bug

[2018-09-29 21:33] flyinghead commented on #1208
House of the Dead 2 fix:
https://github.com/reicast/reicast-emulator/commit/af5931c214a03fafd51005aae86db156b1de31ce

[2018-09-30 00:01] AbandonedCart commented on #1208
Log info for a crash will likely come from `AndroidRuntime`

[2018-09-30 00:13] blackman91 commented on #1208
But it does not crash it now just does this:
https://youtu.be/d4E8Ak2-nd4

Found this, the error looks almost the same as the one mentioned in the log I posted:
https://stackoverflow.com/questions/42505735/avc-denied-read-for-name-dev-rootfs-ino-1-scontext-uruntrusted-app

[2018-09-30 00:55] AbandonedCart commented on #1208
It is hard to tell. All that is posted here is a screenshot of a few lines from the log that could be for anything running on the phone at that time.

[2018-09-30 01:05] AbandonedCart commented on #1208
https://stackoverflow.com/questions/42505735/avc-denied-read-for-name-dev-rootfs-ino-1-scontext-uruntrusted-app
has a comment that claims he was able to solve it with
https://stackoverflow.com/questions/33162152/storage-permission-error-in-marshmallow/41221852#41221852
which adds an unnecessary check if the permission was already granted to
https://github.com/reicast/reicast-emulator/blob/master/s

[2018-09-30 01:37] AbandonedCart commented on #301
This is not compatible **yet** but that commit does provide 95% of the required code to include it (because it does not include all of the UI changes). The PR did port some of the code that was required to get it running, but there is still some verification needed that it doesn't change anything outside the scope of adding save states.

[2018-09-30 02:57] blackman91 commented on #1208
I checked the permissions on Android settings and they are enabled just to be sure I disabled them but the bug still occurs even with the permissions disabled or enabled. Can you enter the reicast settings on your Android 7 device on latest beta?

[2018-09-30 02:59] AbandonedCart commented on #1208
Android 5, 7, and 8.

[2018-09-30 07:46] devinator12 opened #1421 "Nvidia Shield Portable unable to run games."
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue_**

[2018-09-30 07:55] AbandonedCart commented on #1421
Is it only CDI files that aren't working?

[2018-09-30 07:58] devinator12 commented on #1421
I've only used CDI files in the reicasts lifetime.

[2018-09-30 08:17] AbandonedCart commented on #1421
CDI does tend to be a bit unreliable, even in the best conditions. Hopefully it is something that can be resolved, but there is always the slight chance you have just been lucky so far.

[2018-09-30 08:28] AbandonedCart commented on #1421
Is it booting to the BIOS instead of launching the game?

[2018-09-30 08:45] devinator12 commented on #1421
It's straight up crashing on me when trying to launch either a game or the bios screen.

[2018-09-30 09:17] baka0815 commented on #1421
``I/reicast (30102): Game Disk URI: ''``
Is it normal that this is empty?

[2018-09-30 09:56] AbandonedCart commented on #1421
On the BIOS, that is normal. On a game, it would mean the URI was dropped. I was hoping that was the case, but that would mean an Android 8.0 URI issue. Much easier fix.

[2018-09-30 15:50] AbandonedCart commented on #1208
After a bunch of tests on a bunch of devices, I managed to get one to do it once. It looked like loading the theme setting may have triggered checking for a theme change in just the right conditions, which would reload the view. I put in an extra check to make sure that doesn't happen if nothing changes.

[2018-09-30 16:57] blackman91 commented on #1208
That did it! thanks a bunch you rock man.

[2018-09-30 17:11] AbandonedCart commented on #1208
Glad to hear it worked. You definitely have something installed that is missing a runtime permission request, though. If you come across something that is failing to get sdcard access and was running at the same time you took that log, that is likely the culprit.

[2018-09-30 18:12] Blaze08 commented on #1208
@blackman91 using android kitkat 4.4.0 it just reopened onto the menu games and always come back to main menu

[2018-09-30 18:49] AbandonedCart commented on #1208
@Blaze08 Make sure to update to the version just published today. Should fix the menu issue.

As for the games, you may want to take a look at https://github.com/reicast/gamedb/issues because a lot of them sound familiar, including https://github.com/reicast/gamedb/issues/35 (Unreal and Dynamite Cop)

[2018-09-30 18:52] Blaze08 commented on #1208
i'm updated to latest beta sir, i've been testing now....

[2018-09-30 19:42] Blaze08 commented on #1279
this is same occuring on my device, is it possible to fix it? yeah when i turn off sound emu it just run fast forward and then turn on again lag and drop fps.... the issue is after that sound emu is disabled

[2018-09-30 21:45] RaduNastase commented on #1208
Finally updated from KK to Lollipop on my Note 3 Galaxy. Issue is that latest Playstore version crashes the instant i load a game or bios. Same goes for recent builds (tried a couple of them). An old Reicast build from around 2015 works well though.

[2018-10-01 00:32] RottenFoxBreath commented on #1208
Latest beta on Play Store just boots bios and won't run games. 8.1-74-g4b24d223.
Roll back to latest ci build on website works again.

[2018-10-01 02:39] AbandonedCart commented on #1208
The latest beta on the playstore and the most recent CI build are the same one.

[2018-10-01 04:30] RottenFoxBreath commented on #1208
I rolled back to that one:
03f935c	2018-09-28T19:20:10.000Z
That's the top of the ci builds for me.
That one works fine.
But the Play Store had 2 updates in the last day or two. It even asked me if I wanted to update a few hours ago again, to the version in my last post

[2018-10-01 04:48] AbandonedCart commented on #1208
If you go into the menu and hit send logs after attempting to load a game, it will print the log of the attempt. Without that, it sounds like games broke by double checking permissions and adding a few more settings to the per-game configuration. That is highly unlikely.

[2018-10-01 04:51] randomuser85 commented on #1208
Can access settings on both beta and the stable, the app just freezes. When I load the Bios or the games the screen also goes black. I'm using Xiaomi Mi6 running on 8.0 stock MiUi.

[2018-10-01 04:57] AbandonedCart commented on #1208
MiUi is a **highly** unstable custom firmware. A log will definitely be necessary to diagnose that issue.

[2018-10-01 05:14] randomuser85 commented on #1208
[
[log.txt](https://github.com/reicast/reicast-emulator/files/2432656/log.txt)
](url)

[2018-10-01 05:15] randomuser85 commented on #1208
Here it is: [log.txt](https://github.com/reicast/reicast-emulator/files/2432657/log.txt)

[2018-10-01 11:34] devinator12 commented on #1421
I've now done a device factory reset and still get the same result. I've also got a Sonic Adventure GDI and it also refuses to launch. Tested it on the S7 and it worked just fine there. Anyone else with a Nvidia Shield Portable having this issue?

[2018-10-01 11:44] MrPsyMan commented on #1410
You could just add a pop-up and give the option to run the game anyway.

[2018-10-01 18:36] blackman91 commented on #983
You can change the internal resolution on the reicast RetroArch core now to fix mvc2, btw what internal resolution does standalone reicast use?

[2018-10-01 18:46] flyinghead commented on #983
Reicast uses the native resolution of the device.

One solution would be to render to Framebuffer object (FBO) instead of directly to the screen. You can choose the resolution of the FBO independently of the target screen. Then you draw the FBO onto the screen with bilinear filtering etc. This is basically what libretro does.

It's not free however. First, this is not a trivial change. Next, it wi

[2018-10-01 18:46] AbandonedCart commented on #983
I think this is talking about two different resolutions. The original issue was talking about the device view, while I think you are asking about the emulator display.

[2018-10-01 18:47] flyinghead commented on #983
Oh and remember: some emulators make you pay for any resolution higher than 640x480 ;)

[2018-10-01 18:54] AbandonedCart commented on #983
It is possible to change the size of the emulator and then have the view stretch it to fit. It would be no different than what is currently done to resolve the screen edge junk. The difference would be instead of calculating the values to get a clean 4:3 based on the device, you set obligatory values for the emulator and then calculate their counterparts for the shell based on the device.

[2018-10-01 19:41] MrPsyMan commented on #983
I recall @skmp stating that rendering at lower internal resolution and stretching would be much slower (like 5-6 years ago).

Nowadays it should be viable.
Remember that some software requires the internal resolution, filtering and antialiasing of the actual hardware to look right, without errors. Even after that, you can only scale the image with an integer multiplier to avoid errors.

[2018-10-01 19:55] AbandonedCart commented on #983
For Android, those limitations don't necessarily apply.

[2018-10-02 05:11] AbandonedCart commented on #1343
This is being superseded by https://github.com/reicast/reicast-emulator/pull/1424

[2018-10-02 05:11] #1343 closed

[2018-10-02 05:30] AbandonedCart commented on #1421
I would have tested this on mine, but apparently some water got into the hinge just before storing it for a while. I finally had a chance to get it back out and the screen was fried. The Shield Tablet appears to work fine, but they are drastically different hardware.
What ROM are using? I am assuming it is custom, since the portable stopped at Android 5.1

[2018-10-02 05:35] AbandonedCart commented on #1410
Setting a pref for each game would get really messy, unless you are talking about having it appear every time you run a game. That would just get really annoying.

[2018-10-02 06:13] Devinator12 commented on #1421
I'm using 5.1. I've had no reason to load a custom rom.

[2018-10-02 06:30] blackman91 commented on #513
https://github.com/reicast/reicast-emulator/commit/601fafa

There is hope now guys.

[2018-10-02 06:32] baka0815 commented on #1410
Enter the menu and set the option, then get the message, once!

The setting is saved, so no need to enter the menu again. No need for a popup on every start or something.

[2018-10-02 06:32] AbandonedCart commented on #1399
Is this still an issue?

[2018-10-02 06:38] AbandonedCart commented on #1103
https://github.com/reicast/reicast-emulator/commit/15615693c573b66283e09340984e8d9ebee69ba0

[2018-10-02 06:38] #1103 closed

[2018-10-02 06:41] AbandonedCart commented on #1088
Moved to https://github.com/reicast/gamedb/issues/116

[2018-10-02 06:41] #1088 closed

[2018-10-02 08:07] AbandonedCart commented on #957
https://github.com/reicast/reicast-emulator/pull/1425

[2018-10-02 12:00] MrPsyMan commented on #1410
We could have the warning as a "hidden" option, enabled by default, for all non-gdi images.

Advanced users and the likes will be able to turn it off. Average joes are the ones who really need to be warned about this kind of issues.

[2018-10-02 13:17] luserx0 commented on #7
@skmp
Could you update this issue with the-up-to-this-point progress?

[2018-10-02 13:17] luserx0 commented on #1225
@skmp Current status? Could you update this issue?

[2018-10-02 13:35] randomuser85 commented on #1208
I downloaded Android Studio apk and that seems to be the only one working for me. I still can't access the settings, but bios and games load just fine.

[2018-10-02 18:53] Blaze08 commented on #1208
Confirm new latest beta house of the dead 2 (playable) with a bunch of flickering and lag drop fps, but playable awesome though, there are no different after i tested all in new beta still same, Otherwise thank you for fixing this "Verify Failed" Sign

[2018-10-02 18:58] Blaze08 commented on #1208
there are a bug or issue ingame from power stone 2 after i play in "Original" mode and then "Please insert a vmu!" why? i though the vmu normal though after i save the game... Vmu is normal and why played in original or arcade mode still written "please insert a vmu!" maybe i will send you a email in google play with screenshot

[2018-10-02 19:27] AbandonedCart commented on #1208
Did you try formatting the VMU? If you boot the bios and try to open it and it won't open, it needs to be formatted

[2018-10-02 19:29] AbandonedCart commented on #233
@Blaze08 This request is 4 years old. It's safe to assume it wasn't being prioritized over regular game functionality.

[2018-10-02 19:44] Blaze08 commented on #1208
still same sir even formatted data and delete data from bios,

[2018-10-02 19:48] Blaze08 commented on #1208
in reicast around build 2015 there are no sign like that, normal gameplay

[2018-10-02 19:51] MrPsyMan commented on #1208
Does the game have a menu to select 50 and 60 hz for you?

[2018-10-02 19:53] Blaze08 commented on #1208
No Sir there are no selecting 50 or 60 hz from the game,

[2018-10-02 19:58] MrPsyMan commented on #1208
I see.

Are you using a beta version from the master or from anotger branch?

[2018-10-02 20:01] Blaze08 commented on #1208
using from the master

[2018-10-02 20:05] MrPsyMan commented on #1208
Could be a maple dma issue.

You can try to start the game without a vmu, and then insert the vmu when the "insert vmu" message appears.
Do not expect much though.

[2018-10-02 20:06] Blaze08 commented on #1208
okay sir i try

[2018-10-02 20:14] Blaze08 commented on #1208
PG config doesn't allow me to controls, a bug? yeah sir doesn't support.... it just leaving it blank i can't choose config game in here PGC game doesn't want to open

[2018-10-02 20:15] Blaze08 commented on #1208
vmu is automatic with 1 mic integrated with it, i can't edit and or choosing this options

[2018-10-02 20:20] MrPsyMan commented on #1208
Bummer.

@flyinghead @AbandonedCart any clue?

[2018-10-02 20:27] AbandonedCart commented on #1208
@Blaze08 By 50 / 60 hz, it is referring to PAL / NTSC. Those should be things you will find in the settings and game config.

[2018-10-02 20:33] AbandonedCart commented on #1421
I'm sure you already realized, but older versions do tend to have bigger problems. That is the whole reason a new version was needed lol. The first few in the Android Studio conversion were especially bad.

[2018-10-02 20:42] Devinator12 commented on #1421
That goes for everything being developed in both android/pc world. Any suggestions on fixing this issue?

[2018-10-02 20:53] Blaze08 commented on #1208
![20181003034033](https://user-images.githubusercontent.com/43710044/46376221-03b5db80-c685-11e8-9c50-3c9123ab00b1.jpeg)

here screenshot there are no selecting pal/ntsc 50/60 hz only Vmu items in here

[2018-10-02 20:56] Blaze08 commented on #1208
![screenshot_2018-10-03-03-33-53](https://user-images.githubusercontent.com/43710044/46376387-67400900-c685-11e8-89db-0d4923b5aeb4.png)

look at marked red here "please insert a vmu"
 and i can't change ingame setting because doesn't support ???

[2018-10-02 21:05] Blaze08 commented on #1208
x
![20181003040233](https://user-images.githubusercontent.com/43710044/46376844-986d0900-c686-11e8-9441-f4b6163e6d9e.jpeg)
![20181003040218](https://user-images.githubusercontent.com/43710044/46376855-a28f0780-c686-11e8-9dc5-dad2caf5b15a.jpeg)
![20181003040241](https://user-images.githubusercontent.com/43710044/46376867-aae74280-c686-11e8-9087-20f988ee5bd1.jpeg)
![20181003040251](https://user-imag

[2018-10-02 21:07] AbandonedCart commented on #1421
At the moment, no. I will take another look once I finish out the cloud integration that's been broken for about a year :/

[2018-10-02 21:09] AbandonedCart commented on #1208
@Blaze08 You should probably be posting these to https://github.com/reicast/gamedb/issues since they are getting a bit large for the general beta thread.

[2018-10-02 21:10] Blaze08 commented on #1208
okay sir i will posting in there too

[2018-10-02 23:43] luserx0 commented on #1138
_I'll update to the initial points of the issue referencing numerically:_

1. Done, we currently don't support that many things, but I trust that I've "spammed" it enough
2. Testing a neon fix. -- Help needed
3. You can use **unsquashfs -l** on the resulting .snap file of a local build to check which files are included; then the **prime** keyword of snap can help choose which files should be inclu