[2018-04-24 18:20] skmp opened #1138 "Snap package for reicast"
I've configured http://build.snapcraft.io to automatically build master and publish to the edge channel.

`snap install reicast --edge` will get the latest master build. We should document this somewhere so that users can find it. Once things are more stable we can make a 'stable' release that will appear in the ubuntu store

TODOs:
- [ ] Update README.md on how to use the snap package, `snap inst

[2018-04-24 18:27] LoungeKatt commented on #1054
https://github.com/reicast/reicast-emulator/issues/1059
https://github.com/reicast/reicast-emulator/issues/1057
https://github.com/reicast/reicast-emulator/issues/1054
https://github.com/reicast/reicast-emulator/issues/250
https://github.com/reicast/reicast-emulator/issues/96

Are any of these the same issue? There seem to be a few for that game.

[2018-04-24 18:40] skmp commented on #365
After 3+ years, it feels like the tracker kind-of-works-okay for a dev forum, any objections to using it like that?. There's also the forum at http://dcemulation.org/phpBB/viewforum.php?f=86, towards we should re-direct users that just need support/community. If you register there, poke me and I'll add you to the reicast staff team.

I idle at both the irc and slack channels, though neither of the

[2018-04-24 18:43] skmp commented on #427
(Closing this, open a new ticket if more linux issues. For general support use http://dcemulation.org/phpBB/viewforum.php?f=86 please)

[2018-04-24 18:43] #427 closed

[2018-04-24 19:16] LoungeKatt commented on #365
![Discord](https://cdn.neow.in/news/images/uploaded/2017/12/1512670052_discord87mil_story.jpg)

[2018-04-24 19:16] skmp opened #1139 "Fix ngen_mainloop to not always boot from hardcoded pc [$50]"
Looking at #917, I noticed that `ngen_mainloop` ignores the PC passed from the context and instead always boots from 0xA0000000 (`mov ecx,0xA0000000). This really shouldn't be the case.

<bountysource-plugin>

---
There is a **[$50 open bounty](https://www.bountysource.com/issues/57533289-fix-ngen_mainloop-to-not-always-boot-from-hardcoded-pc?utm_campaign=plugin&utm_content=tracker%2F500311&utm_me

[2018-04-24 19:23] skmp opened #1140 "Restructure the codebase to not use globals"
Currently, the codebase uses globals for any kind of state. While this is easy to read and fast for armv7/x86, it gets more of a pain with aarch64/x64, and also makes testing much more involved

Redream used the ['c-with-context-param'](https://github.com/inolen/redream/blob/master/src/guest/arm7/arm7.c#L22) approach to solve this. Doing this makes initialization much more explicit, and thus, verb

[2018-04-24 20:27] skmp commented on #365
That’s more of a gamer oriented platform, isn’t it?

[2018-04-24 20:49] Mangekyo3D commented on #1140
Inlining low-level performance critical functions will definitely help there. Otherwise, I expect the overhead will be negligible. classes vs structs is (for me) a matter of preference with a few caveats: Classes do force you to include other headers in your class header file when you use composition instead of aggregation. In C you can avoid this by using a pimple idiom, keep the definition in yo

[2018-04-24 20:52] LoungeKatt commented on #365
https://discordapp.com/open-source

[2018-04-24 21:00] skmp opened #1141 "JIT/Core restructuring, refactoring and improvements masterlist"
Large parts of the JIT code are archaic and extremely hard to understand. We also need support for more platforms

Here are various proposals on how to improve things. Many of these already have separate tickets,

Small-ish tasks
- [ ] Implement more instructions for x64 (see rec-x86 and rec-x64 for details)
- [x] Use context parameter for arm7di jit instead of globals (#1109)
- [ ] Implement paus

[2018-04-24 21:29] skmp commented on #473
I was thinking of doing a OS_UNIX and then introducing `UNIX_FLAVOR == FLAVOR_ANDROID/BSD/LINUX/OSX/IOS` to handle the *nix forks. How does that sound?

[2018-04-24 21:33] skmp commented on #28
(We do have a basic OSX build now that works, so closing this)

[2018-04-24 21:33] #28 closed

[2018-04-24 21:42] myfreeweb commented on #473
Yeah, that's good

[2018-04-24 21:48] LoungeKatt commented on #473
If you were cloning the hierarchy of android, the platform would be the variant. the flavor would be things like x86 / x64

[2018-04-24 21:53] skmp commented on #473
We already do have HOST_CPU=CPU_* for arch differentiation though.

[2018-04-24 21:54] skmp commented on #27
We have a working linux build now, so closing this. Let's use #23 as tracking for releases, and separate issues per packaging format/platform when it comes to that.

[2018-04-24 21:54] #27 closed

[2018-04-24 22:00] LoungeKatt commented on #473
There are a lot of ways to say the same thing and it seems like reicast uses all of them.

[2018-04-24 22:04] skmp commented on #53
This has been partially implemented for the interpreter by re-using nullDC's mmu implementation. Not tested though.

[2018-04-24 22:08] skmp commented on #114
Is this still an issue?

[2018-04-24 22:12] skmp commented on #394
4 years later, I think we should add them as options now. If anyone is willing to pickup this I can help identify which #defines do what

[2018-04-24 22:13] skmp commented on #360
@hooby3dfx Is this still relevant now?

[2018-04-24 22:19] skmp commented on #967
Closing as this seems resolved now. Please re-open if it is still an issue.

[2018-04-24 22:24] skmp commented on #1001
Should be fixed now. Re-open if it still happens

[2018-04-24 22:24] #1001 closed

[2018-04-24 22:28] skmp commented on #1003
Is this still an issue? Is this using mainline reicast or some other version bundled with some other project?

[2018-04-25 01:47] Yoshimaster96 commented on #775
How do I enable NAOMI when building? Also, does Monkey Ball work with this emulator?

[2018-04-25 04:24] ppsspp213 commented on #114
I check with a more recent build later today but the touch screen editor
option is grayed out an unpressable r7 0dba81b 🤔
On 24 Apr 2018 11:08 p.m., "Stefanos Kornilios Mitsis Poiitidis" <
notifications@github.com> wrote:

[2018-04-25 20:28] KrossX commented on #1113
I'm KrossX in many places and if it wasn't available I would make use of my creativity and use KrossX1, KrossX2, ...., KrossXN, etc. I'm from Argentina down in the bottom half of the planet where we get the other season so, Xmas decorations and food don't make no sense!

I never did much coding but I got into open source nullDC trying to make some change. The code looked understandable so I gave i

[2018-04-29 05:51] Emulatorer opened #1143 "Missing Touch Controller in KOF The Evolution after Dreamcast Intro"
Im Using reicast r8 someone give me the link of this emulator I tried to play KOF The Evolution but after the intro of Dreamcast the touch controller is gone?

Note: If this issue is already reported I will close this emedietly

Android 5.1
Mali-450

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/57722783-missing-touch-controller-in

[2018-04-29 05:52] Jinzombie commented on #1143
![screenshot_2018-04-29-13-52-12](https://user-images.githubusercontent.com/37603562/39403696-805527a2-4b71-11e8-8b39-96b79f4ea88c.png)

This is an official version?

[2018-05-01 00:42] LoungeKatt commented on #1143
It is an official version, but the [0dba81b] refers to a hashtag for referencing how recent the build was compared to the source. That build refers to https://github.com/reicast/reicast-emulator/commit/0dba81b99abcf909937d6473bb7e5fc83bf33e6d, which is from Oct 1, 2014. There is a good chance the issue may have been resolved, since it is nearly 4 years old.

[2018-05-01 01:44] Jinzombie commented on #1143
OK Sir thank you I will close this and wait for the official update in PlayStore hopefully 😇

[2018-05-01 01:52] LoungeKatt commented on #1143
You can also get more recent test builds from http://builds.reicast.com/

[2018-05-01 08:01] Jinzombie commented on #1143
I try build a50861b but the issue of touch controller in KOF The Evolution still there :(

[2018-05-01 20:29] rrrh commented on #1138
The "arm64: failed to detect arch" part is interesting to me. Will have a look what else I can do for the other action points.

[2018-05-02 18:02] d-holder commented on #1069
I apologise, I thought that maybe it was mildy implied that I indeed was using customised settings as I couldn't find a means of which to reassign this feature to another button.

The version of android on my Nexus 7 is 5.1.1. As of yet, the only thing I have noticed is that whatever I assign to the Select button in the configuration settings as acts as a left dpad input. However I am still unable

[2018-05-02 23:29] brand175 commented on #768
![img_0591](https://user-images.githubusercontent.com/20964160/39554052-89630ba0-4e25-11e8-9029-b3299752d759.PNG)
This game on the Dreamcast on an iPhone 6 runs like a dream. Except for the fact that theirs no way in slowing down the speed since it's too fast. I noticed that the joystick only works with the MFi controller and the LT andf RT buttons don't work. Anyways this is a great early Alpha @

[2018-05-03 02:52] JoeMatt commented on #768
Yeah the game runs too fast, though in an odd way. Like in Tekken the seconds clock is correct but the audio is too fast, then gaps. I was working on it with another dev who has more experience in this domain. I tried a few different techniques, timestamp based audio ring buffer might work. It took work and time to get it integrated since CoreAudio's doc are crap and there were bugs in Apple's old

[2018-05-03 09:03] LoungeKatt commented on #1069
Based on the typical person reporting an issue, "couldn't find" typically only implies you looked.

I am still a bit confused about the issue. It sounds as though you are assigning something to the select button, but it instead acts as the left dpad button and no matter what you assign to the left dpad button, it acts as the quick touch menu.

Did you get the same results with the defaults? Have y

[2018-05-03 11:58] MaquinaDelMisterio commented on #768
@brand175 Hey, saw you were able to install the app. I tried it but it gives me and error saying that the gpu type is not compatible.
¿What do you do to install it?

[2018-05-03 23:04] mk8itra1n commented on #768
@brand175 if you have the .ipa is there any way you or anybody else can upload it to this thread. My Mac is out of commission for now so I can’t build it myself. Thx!

[2018-05-04 04:28] brand175 commented on #768
@mk8itra1n I'm not sure if the devs of reicast would like people distributing the unfinished ipa to the public. Thats why i'm not posting a video about how to obtain an ipa. If they say it's ok. Then i'll upload it. For now I can take game requests and i'll test the games myself. If you got any games you want me to test i'll play them on my iPhone 6 and iPad Pro 9.7 inch for you.

[2018-05-04 21:28] mk8itra1n commented on #768
@brand175 alright I understand. Can you try out Sonic Adventure 1 & 2 and see how they run?

[2018-05-04 22:06] rrrh commented on #1040
Errrm. shouldn't the path (compiled in) for the bios be like ~/.reicast/data/.. instead of ~/.local/share/reicast/data? Maybe a f#@ked up build? (The ~/.local/share irritates me)

@skmp Guess you should close this one if nobody objects in the next few days.

[2018-05-04 22:49] LoungeKatt commented on #768
@brand175 it's better to post a legitimately built ipa on an official site than some shady video telling you where to download what may be malware hidden behind ads. Here it is helping people test, while videos are usually trying to blindly distribute pre-release code or worse, make a few pennies on it.

[2018-05-05 01:39] brand175 commented on #768
@mk8itra1n  Ive already played those games already. Sonic adventure 2 doesn’t get past the press start thing. It kicks me back to the bios menu. The games ive currently done: Soldier of Fortune, Shenmue, Sonic Shuffle, Sonic Adventure 1 & 2. @LoungeKatt when you said “Here it is helping people test”. Do you mean right here in the Github issue comments section.

[2018-05-05 03:02] LoungeKatt commented on #768
or on the reicast forum, which is probably an even better place for it.

[2018-05-05 03:24] JoeMatt commented on #768
I'm a little confused, is the disussion on posting a build from my fork? Was any of that merged into main? My fork is a nice thing to look at but I wouldn't consider it playable until I work out the audio timing issues. It's on my radar, but I have a lot of projects right now I'm working on.

I've actually been doing the next stage of work on a branch of Provenance, since I'm more familiar with my

[2018-05-05 03:41] LoungeKatt commented on #768
@JoeMatt Yeah, I dunno. I merged it into a local test but I've been a little distracted with moving my entire server lol. Trying to redirect some of this to the forum, since it takes more time to load this issue than any page in the source itself. I think people just want anything that will boot.

[2018-05-05 04:58] brand175 commented on #768
Instead of using google drive or dropbox. I zipped the file and dragged it onto github. I'll also put it on the reicast forum.
[reicast-ios.zip](https://github.com/reicast/reicast-emulator/files/1976338/reicast-ios.zip)

[2018-05-05 06:43] skmp opened #1144 "Contributor bounties thread"
I was chatting w/ some people from retroarch, and apparently there are a few bounties for reicast bugs. This is a meta-issue to track and discuss bounties as announced on the internet

[2018-05-05 06:43] skmp commented on #1144
@twinaphex do you have any links handy?

[2018-05-05 09:05] skmp commented on #768
Let's keep dev stuff on the issue tracker. The forum is more for
user-support and discussions, but to get bins people should visit github or
the designated download locations

On Sat, May 5, 2018 at 6:58 AM, brand175 <notifications@github.com> wrote:

--
~skmp

[2018-05-05 11:13] LoungeKatt opened #1145 "General debugging of reicast for iOS"
Continuation of https://github.com/reicast/reicast-emulator/issues/768#issuecomment-386791518

(Summary of most recent comments)
@JoeMatt

@brand175

[2018-05-05 11:14] LoungeKatt commented on #768
Continued in https://github.com/reicast/reicast-emulator/issues/1145

[2018-05-05 11:14] #768 closed

[2018-05-05 13:39] braindx commented on #1145
I was looking at the speed syncing issues a while back too, maybe one of the Reicast devs more familiar with the inner workings can help me out here...

From what I recall, the interpreter has CPU_RATIO defined as 8 which affects how often interrupts get fired off into the other systems and how often various systems that are scheduled based on clock cycles get triggered. It seemed to me that it wo

[2018-05-05 15:44] d-holder commented on #1069
So to explain my process from installation, after setting everything up:

I go to input and sync my controller with the automatic settings. I test all the buttons and all work except left on the dpad, which acts like pressing back on the main tablet buttons.

I then use customise physical controls to set up the buttons. Again, all buttons and stick work fine, including the other 3 dpad inputs, but

[2018-05-05 15:49] d-holder commented on #1069
To add, I tried just removing the select button setting, however that didn't work and left still opens the quick menu.

[2018-05-05 16:06] DecMaster commented on #1145
I was able to start Reicast for the first time on my iPhone 6s with the ipa of @brand175, thanks a lot !
If I can be helpful in testing some games or functionnalities in return, it will be with pleasure. Thanks to the dev team of Reicast by the way, I will never say it strongly enough.

I first test Sonic Adventure 2, and in contrary of @brand175 I was able to bypass the start menu normaly and rea

[2018-05-05 17:45] brand175 commented on #1145
The music player in the bios works.

[2018-05-05 18:51] rrrh commented on #1038
From my understanding there is no JIT backend for aarch64. ARMv8 should be backwards compatible with ARMv7 - so compilation should be possible using the linux 32bit code-path.

[2018-05-05 18:54] Silent-Hunter commented on #1038
Ah okay. Unfortunately the battery swelled up, so I cannot test this. Sorry.

[2018-05-05 18:58] rrrh commented on #1038
Ouch - Bad news! Can I close this issue then, and you check back for an aarch64 backend in the near future?

[2018-05-05 19:03] Silent-Hunter commented on #1038
Yes, definitely! I don't know if I will have another aarch64 computer anytime soon but I will try it again if I do.

[2018-05-05 19:10] rrrh commented on #1038
Thanks. Closing this issue with the remark: "Batteries not included"

[2018-05-05 19:10] #1038 closed

[2018-05-06 03:01] LoungeKatt commented on #1069
Seems like they just swapped those keys on the gamepad board. Shouldn't be too difficult to at least add a workaround.

[2018-05-06 14:40] MaquinaDelMisterio commented on #768
@brand175 thanks. i used your ipa file.

[2018-05-07 01:49] crocket opened #1146 "reicast fails to load .gdi"
version : a50861b249b83abbdc2a9281434b75b25520baa5
OS : Gentoo Linux
[reicast.log](https://github.com/reicast/reicast-emulator/files/1978267/reicast.log)

![2018-05-07_mon_01 46 25](https://user-images.githubusercontent.com/748856/39681276-211ddbfc-51e4-11e8-8714-b636ede6f9b4.png)
![2018-05-07_mon_01 46 34](https://user-images.githubusercontent.com/748856/39681277-21478484-51e4-11e8-8c9a-cefdbb17e

[2018-05-07 07:39] Souzooka opened #1147 "Fix VS2017 build errors"
When attempting to compile a x64 build of the Reicast master branch for Windows in Visual Studio 2017, the compiler generates C2894 errors ("templates cannot be declared to have 'C' linkage") with the external dependency xtr1common file.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/58039006-fix-vs2017-build-errors?utm_campaign=pl

[2018-05-07 08:25] crocket commented on #1146
I don't know about the region, but the same bios files work well with reicast-libretro.

[2018-05-07 10:37] LoungeKatt commented on #1146
Other variations of the emulator may not "respect" the region of the BIOS, but neither configuration is wrong. Unfortunately, whether or not it works with reicast-libretro doesn't mean much if that is the issue.

[2018-05-07 11:02] LoungeKatt commented on #1147
It probably has something to do with the source only being updated for VS 2015.

[2018-05-07 13:01] crocket commented on #1146
How can I check the region? Where is the region stored? The ROMs? The BIOS files?

[2018-05-07 15:53] LoungeKatt commented on #1146
It would be the region where you purchased the Dreamcast or the region listed on the disk / jacket of the game. Keep in mind, we have to assume you made a personal backup of your BIOS and games. That is the only legal way to play to them with an emulator (and the only thing we can support). If you got them from the internet, then you will most likely find your answers by going back to that site.

[2018-05-07 22:27] brand175 commented on #768
@MaquinaDelMisterio @mk8itra1n  I added a trigger fix for MFi controllers. You can get the updated ipa at https://github.com/reicast/reicast-emulator/issues/1145.

[2018-05-07 23:45] LoungeKatt commented on #1145
In https://github.com/reicast/reicast-emulator/blob/master/shell/apple/emulator-ios/emulator/EmulatorView.mm, it should be the extern u8 rt[4],lt[4];

[2018-05-08 00:46] brand175 commented on #1145
That would of taken me 3 weeks just to figure that out. I'm pretty sure that change was only for the touchscreen. I'll add that change to the MFi Controls section and update the ipa tomorrow.

[2018-05-08 05:35] mk8itra1n commented on #768
@brand175 Awesome! I’ll install in onto my X and I’ll let you know how it works over in the new thread #1145

[2018-05-08 05:43] LoungeKatt commented on #768
To prevent others that may not know this thread has moved, the last couple messages are being removed so the link stays at the bottom.

[2018-05-08 05:54] LoungeKatt commented on #1145
@brand175 @mk8itra1n The old thread was 263 comments, so this thread was added to cut the excessive load time. A reference was left at the end of that thread, so everyone can find this one.

I renamed this thread, so there should be no confusion about the conversation being moved here.

[2018-05-08 15:12] brand175 commented on #1145
@mk8itra1n  Any new about the IPhone X test yet. Would it be possible to make a short video since ios 11 has in built screen recording. I also tried to install the reicast on my iphone 4 but it said that the ios version is too low. I wonder if it would work on a iphone 5.

[2018-05-08 20:50] mk8itra1n commented on #1145
@brand175 I tested the build out on my X. It works on a game by game basis for me. Some games the Lt and Rt work and others like Sonic Adventure there is no response when i touch those controls. I am jailbroken on iOS 11.1.2 so i should be able to get a built in screen recording onto this thread. I believe this emulator should work on a iPhone 5 at the lowest.

[2018-05-08 21:04] JoeMatt commented on #1145
Doubt it would run on an iPhone 5 since it doesn't have GLES 3, weaker GPU generation in general even if GLES 2 is the target (it's not right now but could be).

But we know it runs, there's not much point in reporting anything and cluttering up this ticket until the clocking issues are resolved.

On that note, I pushed my WIP code for Provenance-Reicast with timestamped ring buffer.

https://gith

[2018-05-08 22:28] brand175 commented on #1145
@mk8itra1n  The Rt and Lt button only works on the MFi controller. I only set the Rt and Lt for the extended gamepad profile. Which has more buttons than the other MFi controllers. Also @LoungeKatt I couldn’t the trigger fix to work. I’ve tried your way and then adding it to the mfi extended gamepad.  Do I have to change the *button to a *axis along with the GCcontrollerAxisInput.

[2018-05-09 01:05] rrrh commented on #1010
@gannon345, can i close this issue (is it still a issue?) just to clean up a bit and settle the fog/smoke?

[2018-05-09 01:09] skmp commented on #1010
Yeah, has the information been transcribed to appropriate tickets?

[2018-05-09 01:28] skmp opened #1148 "April/May/June/July/Aug Update"
Hello Team,

---

As many of you probably know, I've been thinking of setting up a legal entity/non-profit over the past 3-4 years to handle donations, expenses, contributor sponsorships and such. Overall the rough research has been completed, and I'm looking in the non-profit forms of ggmbh, or non-profit cooperative, both under Swiss Law. We need to decide on who wants to be part of the legal en

[2018-05-09 02:09] rrrh commented on #1011
Hi @aperfeito
Is this still an issue for you?

What kind of Board, BSP and Vendor are you working on?

[2018-05-09 02:27] rrrh commented on #1148
Check: "Verein" and "Genossenschaft" in the OR (Obligationenrecht)

[2018-05-09 03:09] LoungeKatt commented on #1148
I'm going to be taking a step back in my involvement. I think this helped to put things in perspective and make me realize I have been placing too much focus on this project and neglecting my personal projects. I have invested more time in this than anything else and cannot afford to take on any more work. As for the legal side of things, I have not been overly involved in the core ("at risk") com

[2018-05-09 03:13] LoungeKatt commented on #1145
I believe you do. I'm still a little rusty with iOS. It's been a few months of strict Android lol.

[2018-05-09 03:27] JoeMatt commented on #1144
Yeah but who has enough experience in all those disciplines in some of the most niche and difficult aspects of each. CoreAudio alone is a major pain, I've written about 5 commercial core audio based apps and it still gives me nightmares.

[2018-05-09 03:46] LoungeKatt commented on #1144
I don't know what to tell you, honestly. It's the same reason I don't bother with it lol

[2018-05-09 03:56] JoeMatt commented on #1144
I agree, hate to get the people’s hope up that such an enigma exists though. Maybe set some realistic expectations would be more engaging for the community.

Who knows, maybe there is such a person lurking in the shadows

[2018-05-09 07:06] yurimerath commented on #1145
Is Shenmue 2 working yet with descent sound and speed using touch screen controls? Iphone 6 would do It?

[2018-05-09 07:48] skmp commented on #1145
Let’s move general discussions and speculation  to the forum to avoid
overloading the tracker.
http://dcemulation.org/phpBB/viewforum.php?f=86 please :)

On Wed, 9 May 2018 at 10:06, yurimerath <notifications@github.com> wrote:

--
~skmp

[2018-05-09 07:50] brand175 commented on #1145
@yurimerath I haven’t tested it yet. Touchscreen controls are not fully implemented yet and would probably take some time. I think the Provenance version of reicast may have fully working controls but I can’t compile it due to the Xcode version I have plus other errors. I’m pretty sure that version also has better framerates than the other one. Also I know where to store the code for the touchscre

[2018-05-09 08:02] brand175 commented on #1145
@skmp I’ll just post the link to the forum that I created a few days ago on Reicast for iOS. Hopefully this comes to good use.

http://dcemulation.org/phpBB/viewtopic.php?f=86&t=104564&sid=35c81a33078e63a6f7f195708f50f7a0

[2018-05-09 08:03] skmp commented on #1145
Ahh there’s even already a thread. Nice!

On Wed, 9 May 2018 at 11:02, brand175 <notifications@github.com> wrote:

--
~skmp

[2018-05-09 12:37] twinaphex commented on #1144
You dont have to touch Coreaudio at all in a libretro core, which is what the bounty is for. Honestly, a lot of the codebase doesnt cater to platform specific APIs when making a libretro core.

[2018-05-09 12:56] crocket commented on #1146
On the commit b4631f6715ab7ee8483ebcef37a97f6e3194602e, this issue didn't exist.
But, b4631f6715ab7ee8483ebcef37a97f6e3194602e had a problem with gdi path parsing which was supposed to be fixed with https://github.com/reicast/reicast-emulator/pull/1098

[2018-05-09 17:08] aperfeito commented on #1011
Hi rrrsh.

No anymore look below:

Plataform:
Linux- HP ChormeBook 14 G3
Your emulator now running under Linux distro ARCHLINUX
Kernel version:3.10.18-24-ARCH
Processor : TegraTK1 Board Nyan-Blaze
GPU: Keppler model GK20A
Xorg server with HW acceleration Version 17.1
4GB of Memory
________________________________________________________
Two extreme situation with your emulator:
The Worst
When I ch

[2018-05-09 17:08] #1011 closed

[2018-05-09 19:55] rrrh commented on #445
Closed (since 3 years old), please reopen if problem still exists.

[2018-05-09 19:55] #445 closed

[2018-05-09 20:09] rrrh commented on #662
Please reopen if still an issue

[2018-05-09 20:09] #662 closed

[2018-05-09 20:16] #851 closed

[2018-05-09 20:33] rrrh commented on #691
@Vlakipn Is this still an issue?

[2018-05-09 20:35] #696 closed

[2018-05-09 22:56] brand175 commented on #1145
I fixed the triggers for the MFi controller. I made a bunch of changes and I don't exactly know what I did. But what I do know is the the GCcontrollerButtonInput stays the same as well as *button. I'll update the github code once I figure what I did to make it work. I didn't change much.

[Reicast MFi Trigger fix.zip](https://github.com/reicast/reicast-emulator/files/1989764/Reicast.MFi.Trigger.fi

[2018-05-09 23:01] braindx commented on #1145
@skmp From the GitHub history it seems like you wrote most if not all of the rec-cpp system. Would be able to weigh in on its current state and whether my understanding of it as stated above is correct? Additionally, if you have any insight as to the CPU_RATIO define and how that affects the synchronization/timing of various other subsystems it would be greatly appreciated. If you prefer to discus

[2018-05-10 00:13] LoungeKatt commented on #24
An iOS version exists (at least in source), so we shouldn't need this issue about starting one.

[2018-05-10 00:13] #24 closed

[2018-05-10 00:13] #104 closed

[2018-05-10 00:16] LoungeKatt commented on #490
Archiving this since it is 3 years old and the issues it referenced were closed.

[2018-05-10 00:16] #490 closed

[2018-05-10 00:20] #573 closed, assigned to nobody

[2018-05-10 00:38] yurimerath commented on #1145
brand175 thanks and keep up the good work! Where can I get this provenance version with the recaist core and how do I configure It? (Where to put the bios files etc) I’m gonna test shenmue 2!

[2018-05-10 01:33] LoungeKatt commented on #1145
@yurimerath
https://github.com/reicast/reicast-emulator/issues/1145#issuecomment-387542021

[2018-05-10 08:46] yurimerath commented on #1145
I want the IPA

[2018-05-10 11:05] LoungeKatt commented on #1145
@yurimerath The point was that there currently is no IPA, but you can build one yourself. If you would like help building it, then I recommend asking on the reicast forum. This thread is for trying to debug and improve the source.

[2018-05-10 11:10] skmp commented on #1148
I see. Will you stick around the following weeks during the android studio merge or shal I take over that work?

[2018-05-10 11:27] skmp commented on #696
@rrrh mind leaving a comment withn the reasoning when closing tickets? This one is obviously old and osbolete, but leaving reasoning makes it easier to track the issue trail a few years down the line

[2018-05-10 11:38] LoungeKatt commented on #1148
I'll be taking a step back, not closing my account.
The work is already done, though. It's been idle for nearly a month now.

[2018-05-10 11:49] skmp commented on #1148
Kk

On Thu, 10 May 2018 at 14:38, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-05-10 11:50] publicorderkeeper commented on #696
It is too bad that this issue hasn't been fixed. I've been waiting and hoping till this very moment...

[2018-05-10 15:59] Lemmy8 commented on #1145
Hey guys,
okay so i managed to build @JoeMatt ´s Provenance branch through XCode and send it to my iDevices. Those are iPad mini4 (10.2 Jailbroken), mini4 (11.2.1 non-Jailbroken) and iPhoneX (11.3 non-Jailbroken)
Bios files are in the right place and 3 roms to test (SonicAdventure 2, SonicShuffle and VirtuaTennis2).
On all 3 devices both Sonic games show black, then crash the app, Tennis gets stuc

[2018-05-10 16:48] LoungeKatt commented on #1145
@Lemmy8 @JoeMatt did warn of that version being heavily under construction at the moment and will likely have resources set up to help debug it when it is ready. For now, we should probably try to focus on just the build that would be a likely candidate here to prevent confusion and give him some time to prepare for user feedback.

[2018-05-10 17:04] LoungeKatt commented on #1145
@brand175
[code]

[2018-05-10 20:55] Lemmy8 commented on #1145
@LoungeKatt sure, i had hopes that the Provenance implementation runs comparable to the standalone but fixes input issues. But yes, it's too early for testing. Please keep up the great work, this is coming along soo promising after all those silent months 😀

[2018-05-11 04:07] brand175 commented on #1145
@LoungeKatt  I just discovered that the Trigger fix that I did for the MFi controller from a few days ago isn't  fully analog. And the very first one I did was (I think it may not be 100% analog. I tested a different game to test the triggers and I noticed that the newer one didn't work for that game but it did on the other). I'll test your code tomorrow and see if anything works. I'm hoping that

[2018-05-11 15:29] skmp commented on #1147
I guess we need to migrate sooner or later

[2018-05-11 16:36] skmp commented on #1147
@Souzooka do you want to tackle this issue? We would appreciate your contribution :3 :3 https://github.com/reicast/reicast-emulator/#contributing

[2018-05-11 22:54] JoeMatt commented on #1145
It seems there's a lot of community interest now but everyone is working on their own bug fixes. I have a busy schedule at the moment but I promise I'll fix my fork and make a proper pull request as soon as possible, hopefully this week, and incorporate some of the changes posted here. Then hopefully everyone can work together on a coherent branch.

Maybe the admins want to make a specific feature

[2018-05-11 23:10] brand175 commented on #1145
@LoungeKatt   I tested your code and it doesn't work. I haven't tried it with the property. Neither MFi or touchscreen triggers work. I also couldn't reproduce the trigger fix. I believe that I just removed && value. I'm going to test that change in a few days and see if it makes your code work. Their must be a way into adding an axis system to it just like the joystick since it works fine when ad

[2018-05-12 00:27] JoeMatt commented on #1145
Well if you're trying to get analog values

[code]
Still only sets a boolean value
You'd need something like
[code]
But you probably need to normalize value to something since it's a float 0 to 1.0. I think it's 0 to 255 according to the Windows code. Then set to 0 on the key up.

[2018-05-12 03:31] LoungeKatt commented on #1145
@brand175 The code I posted wasn't going to work out of the box. I posted the "javadoc" about the triggers and only "connected" the controllers between the different endpoints. You don't want an axis system because that overcomplicates it. As @JoeMatt said above, you are looking to pass the degree of pressure in a linear fashion. It will be much the same as the Android code, but would need to have

[2018-05-12 17:30] rrrh commented on #952
Hi @jojotango
May I ask if this is still an issue? Wanted to have a look at the issue but both pastbins are "page removed" over time.

[2018-05-12 23:57] leftmostcat commented on #1040
`~/.local/share/` is the standard XDG data directory.

[2018-05-14 01:05] 1ReimuReimu1 opened #1149 "(Android) Can't use touch controls/Broken checkboxes."
So I went to try out this emulator, only to find any and every checkbox was broken, just being a black square, and the touch controls not showing up, instead just a glitchy mess on either end of the screen. Have yet to try a game though.

Device: SM-J727V
Android Version: 7.0 Nougat
Reicast build: whatever the latest Ci build was a few minutes after the writing of this was (5/13/18) 9:12 PM.

EDIT

[2018-05-14 01:29] LoungeKatt commented on #1149
Which branch was it?

[2018-05-14 01:53] 1ReimuReimu1 commented on #1149
Let me check

[2018-05-14 01:56] LoungeKatt commented on #1149
Was the version you downloaded listed under the heading "master" (that is the branch)?

[2018-05-14 01:58] 1ReimuReimu1 commented on #1149
I downloaded from http://builds.reicast.com

[2018-05-14 02:30] LoungeKatt commented on #1149
Let me try going about this a different way.
Try http://reicast-builds.s3.amazonaws.com/builds/heads/lk/android-studio-50a96cd/reicast-android-debug-50a96cd.apk

[2018-05-14 02:58] 1ReimuReimu1 commented on #1149
![](https://i.imgur.com/W3qGm6W.png)

[2018-05-14 03:26] LoungeKatt commented on #1149
Click "OK"

[2018-05-14 05:48] LoungeKatt commented on #1149
Have you changed any of the settings?
Did the BIOS / game work in the past?

[2018-05-14 06:29] opendata26 commented on #1123
Can someone remove specific game tag

[2018-05-14 09:58] blackman91 commented on #1046
Also enabling compatibility mode makes the shoulder buttons work but it makes reicast unable to differentiate between dpad and the left analog, with compat mode disabled the analog and dpad input is correct but the shoulder buttons do not work, any fix for this?

[2018-05-14 10:06] 1ReimuReimu1 commented on #1149
First time using this emulator, so no to the question of did it work before, and im keeping away from settings because the checkboxes are broken in such a way as I dont know if they are checked or not

[2018-05-14 15:08] LoungeKatt commented on #1046
Currently, no. It has only been reported using an OUYA controller. Is the issue with an OUYA controller?

[2018-05-14 15:27] 1ReimuReimu1 commented on #1149
I got a controler that works, so close maybe? Unless its a major issue in the future. Games work btw.

[2018-05-14 22:05] blackman91 commented on #1046
Nope, it is a saitake I use on Android 7, I am on latest dev build, happens with the 8bitdo SF30 pro controller too. Also what does the native gamepad mode option does? It seems it makes reicast crash on Android 7.

[2018-05-15 00:58] brand175 commented on #1145
Code works fine @JoeMatt. Thank you.

[2018-05-15 02:14] LoungeKatt commented on #1046
It's for the Xperia Play, which would only allow using the touchpads with specialized native code. It is not intended for Android 7, since the Xperia Play stopped at an ICS beta.

Latest dev build? Which one?

[2018-05-15 02:29] LoungeKatt commented on #1145
Alright, to avoid reinventing the wheel with one-shot builds, there is now a branch that integrates all of @JoeMatt's "finished" changes (left out the final audio commits for the time being). Making test builds from it is fine, but we should make sure everyone can see it.

https://github.com/reicast/reicast-emulator/tree/jm/xcode-port

[2018-05-15 05:28] natehaxx commented on #1138
well i am running an Tegra X1 inside my nintendo switch with aarch64 , and right now the snap build fails any guess ?

[2018-05-15 06:03] blackman91 commented on #1046
The latest apk from here:
http://builds.reicast.com/

I have tested several gamepads and it appear the R1 and L1 won't work if I don't enable compat mode, even remapping the reicast lt and rt to face buttons doesn't work. Also it seems that in the reicast root folder inside the shared_prefs folder you can change the options that are not togglable on Android 7 by editing a xml file, any way you cou

[2018-05-15 08:02] LoungeKatt commented on #1046
Sounds like the master branch. You want builds from the lk/android-studio branch to fix not being able to toggle the options. It won't fix the triggers, but includes all of the other Android fixes since last year.

[2018-05-15 11:31] skmp commented on #1046
Speaking of the android studio branch, can you re-open the MR for it?

On Tue, 15 May 2018 at 11:02, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-05-15 13:09] LoungeKatt commented on #1046
Still fails for posix_memalign
[code]

[2018-05-15 18:10] blackman91 commented on #1046
Nice, where can I download these lk/android-studio branch reicast builds?

[2018-05-15 19:10] blackman91 commented on #1046
Thanks a bunch, the options work now! also enabling the option enable personal design in input settings fixed my issue of the shoulder buttons and the analog not working, really nice job devs.

[2018-05-15 19:12] blackman91 commented on #1000
It seems this does not happen in the stable version on the play store, regression?

[2018-05-15 19:15] 1ReimuReimu1 commented on #1149
Fixed, why is buttons.png in the data folder of the internal storage and not bios folder

[2018-05-15 19:15] 1ReimuReimu1 commented on #1149
Close this

[2018-05-15 19:18] #1149 closed

[2018-05-16 12:29] blackman91 commented on #1046
Just curious what are the differences between all those lk Android studio branches? These guys seem to want to know too:
https://www.reddit.com/r/EmulationOnAndroid/comments/8jod8t/psa_reicast_settings_bug_on_android_7_and_up_has/

[2018-05-16 15:18] LoungeKatt commented on #1046
@skmp Not sure what needs to be done to remove branches from the build page, but here are all the ones that reference deleted branches that are either merged or failed tests:

lk/a-s-w
lk/a-w-s-2
lk/android-studio-compat
lk/android-studio-core
lk/android-studio-update
lk/cleanup
lk/windows
lk/xcode

[2018-05-16 22:41] blackman91 commented on #899
As of today the same happens in the reicast dev builds but the text is fine in the stable version.

[2018-05-16 23:16] brand175 commented on #1145
Heres an updated ipa (touchscreen triggers now work).

[Reicast Touchscreen Trigger Fix.zip](https://github.com/reicast/reicast-emulator/files/2011135/Reicast.Touchscreen.Trigger.Fix.zip)

[2018-05-16 23:46] blackman91 commented on #1144
I would definitely contribute to a bounty to make cannon spike playable on reicast:
https://github.com/reicast/reicast-emulator/issues/898

It works on nulldc.

[2018-05-16 23:51] skmp commented on #1144
@twinaphex can people submit bounties somehow?

On Thu, 17 May 2018 at 02:46, blackman91 <notifications@github.com> wrote:

--
~skmp

[2018-05-17 00:06] rrrh commented on #1138
Do you have any more information on the "and right now the snap build fails" part.

[2018-05-17 00:35] twinaphex commented on #898
Sure, I just made one for the Cannon Spike compatibility. I will be asking @hunterk to drop some money into it just to get the ball rolling, hoping for others to chip in too.

Users can create a Github issue here -

https://github.com/libretro/reicast-emulator/issues

I can later attach the bounty label to it then. Users can then go to Bountysource, input the URL of the Github issue, and then atta

[2018-05-17 00:40] twinaphex commented on #1144
Sure, I just made one for the Cannon Spike compatibility. I will be asking @hunterk to drop some money into it just to get the ball rolling, hoping for others to chip in too.

Users can create a Github issue here -

https://github.com/libretro/reicast-emulator/issues

I can later attach the bounty label to it then. Users can then go to Bountysource, input the URL of the Github issue, and then atta

[2018-05-17 00:47] twinaphex commented on #1144
A question before I start creating bounties and adding some initial seed money -

Since a lot of the visual problems with these games come down to unemulated GPU features, what should be the nature of these bounties?

Enduser-oriented where the main subject is game-specific and trying to basically get it to render correctly which could be part of a much larger problem? This could bring unrealistic

[2018-05-17 00:56] skmp commented on #1144
I think we can start with game-specific ones, and we can move the money to issue-specific ones once the initial research is done. We can use a bug thread per bounty once work on them begins, and we can track them via tickets, merge them to other tickets etc. How does that sound?

[2018-05-17 01:28] LoungeKatt commented on #898
This may still be a fog issue. In a really simplified way of describing it, sometime it is easier to just remove the effect without actually changing the rendering.

[2018-05-17 01:34] blackman91 commented on #273
So how do you change the dc_nvmem.bin? I have the red dreamcast logo but it seems all the games only go up to 50 fps.

[2018-05-17 01:36] skmp commented on #1144
@LoungeKatt I think people should track the approximate hours worked, so that we can fairly split the bounties. How does that sound?

Eg, If you solve multiple issues you get extra cash, if you want to, but you can leave it to the pool for other issues if you think it was "easy" or didn't take long enough

[2018-05-17 01:57] skmp commented on #1144
@twinaphex I created the "bounty requested" and "bountry granted" labels so we can experiment with the tracking. To users: Please mark bounty requests with the "bounty requested" label

[2018-05-17 01:58] skmp commented on #898
@twinaphex We can use this ticket to track the progress. Can you cross link from the bounty page?

[2018-05-17 01:59] LoungeKatt commented on #1144
It's going to be fun to watch this unfold. All I can picture is that scene in Office Space where the two guys interview everyone to determine their role in the company.

[2018-05-17 02:01] LoungeKatt commented on #273
It's been a long time, but I think it was a HEX edit.

[2018-05-17 02:02] skmp commented on #1144
Lol. Well, ideally the game specific stuff will be moved to the gamedb sub project. But that takes time.

[2018-05-17 02:05] LoungeKatt commented on #1145
There are still a couple changes required to make sure this doesn't prevent other platforms from building. I've got a few done, but I need to jump back into translating BDM for a bit.

Everything that was done is already added. I stopped at
[code]

[2018-05-17 02:06] LoungeKatt commented on #1144
"Yeahhhhh... I'm gonna need you to come in on Saturday....."

[2018-05-17 02:08] skmp opened #1150 "Reicast @ Hack4Glarus summer edition (06~08.07.2018)"
I will be participating at the [Hack4Glarus summer edition hackathon](https://www.facebook.com/events/199003247383696/) with reicast as a project. I know some other reicast members might also join, and wanted to make an open call.

If you are interested in joining, please fill in the [form]( https://docs.google.com/forms/d/e/1FAIpQLSeku90cUufMGJqdvkXUWaGNUqqcymsHT5i1A8y03Tv1y7AeOw/viewform) and pu

[2018-05-17 02:32] skmp commented on #1148
Other important stuff happening or getting organized this month: #1150 #1144 #1138 #1093

[2018-05-17 04:25] blackman91 commented on #899
Comparation:

Reicast from the playstore:
![screenshot_20180516-231514](https://user-images.githubusercontent.com/6578180/40156654-5e6c6ebe-5960-11e8-8083-47b4c78cc011.png)

Recent dev builds:
![screenshot_20180516-230937](https://user-images.githubusercontent.com/6578180/40156665-6c850420-5960-11e8-846a-7b9ddfbf1753.png)

[2018-05-17 04:31] blackman91 commented on #899
Could you add the same labels to this issue too please, it is a similar regression:
https://github.com/reicast/reicast-emulator/issues/1000

[2018-05-17 04:46] skmp commented on #1144
/me passes @loungekatt some pop corn

[2018-05-17 04:47] skmp commented on #1150
Try skyscanner :p

[2018-05-17 05:32] blackman91 commented on #273
I got over the 50 fps cap by changing the broadcast and region dc in reicast settings to NTSC-J and using the corresponding bios. Teated with power stone 2 on Androis Android 7 and it definitely works.

[2018-05-17 15:03] opendata26 commented on #1123
Also tried on Nougat, works there

[2018-05-17 18:19] LoungeKatt commented on #1123
Is this a rooted device?

[2018-05-17 19:31] LoungeKatt commented on #1123
SELinux doesn't matter. Root access does.

[2018-05-17 19:33] opendata26 commented on #1123
How does root affect it?

[2018-05-17 19:35] LoungeKatt commented on #1123
It's native code performing memory operations. Root means you have a bit more flexibility. The specific ROM being used can also have an impact.

[2018-05-17 19:42] opendata26 commented on #1123
Should I try without root

[2018-05-17 19:44] LoungeKatt commented on #1123
No. You want root.

[2018-05-17 21:12] opendata26 commented on #1123
Ahz on both other roms (n + m ) I have no root

[2018-05-18 11:07] blackman91 commented on #887
Please reupload, link dead.

[2018-05-18 13:42] LoungeKatt commented on #887
You can also save the image directly from the post

[2018-05-18 21:08] blackman91 commented on #1144
Idea: Can we create a bounty to fix reicast closing the game if you press the recent apps or home buttons on Android? That seems more doable.

[2018-05-18 21:17] twinaphex commented on #1144
Alright, here is how I currently spent the first $66 -

Spread it across two issues -

Shenmue 1/2 crashes (dynarec-related) ($50)

https://github.com/libretro/reicast-emulator/issues/28

Cannon Spike graphical glitches ($10)

https://github.com/libretro/reicast-emulator/issues/27

I will soon be spending another $50 entirely dedicated to Reicast issues.

[2018-05-18 21:46] mudlord commented on #1121
Do you really need libpng, why not stb_image.c?

[2018-05-18 22:15] williansti commented on #887
@blackman91 @LoungeKatt sorry my friends, as i did not see interested in mod, i ended up erasing it in cleaning my mediafire, a time ago, If anyone ever got download, please resubmit here

[2018-05-18 22:19] williansti commented on #887
It's been a long time since I've used reicast, i'm going to make time for this month to, test a new version and recreate this mod in an improved way.

[2018-05-18 22:40] twinaphex commented on #1144
Added another bounty -

**Implement volume shadows ($40)**

https://www.bountysource.com/issues/58559302-implement-volume-shadows

[2018-05-18 22:55] LoungeKatt commented on #1144
@blackman91 I think the idea is to motivate fixing more long-time, universal, deep-seeded issues.

[2018-05-19 10:30] LoungeKatt commented on #1144
At least one person got really motivated. Almost looks like a conspiracy, lol.

[2018-05-19 10:37] flyinghead commented on #1144
I don't want any money. Just these missing features enabled/fixed ;)

[2018-05-19 11:16] LoungeKatt commented on #1144
@flyinghead Well whatever motivated you, just don't forget to circle back and sign the CLA.

[2018-05-19 11:32] LoungeKatt commented on #1144
Speaking of which, there should probably be some plan for how to handle the reicast CLA when one of these is submitted directly to libretro. @skmp @twinaphex

[2018-05-19 11:43] flyinghead commented on #1144
CLA signed

[2018-05-22 18:12] Latiosdude opened #1153 "Graphical glitches in Sonic Shuffle"
On some of the dialogue and menus in Sonic Shuffle, I get quite a few graphical glitches in the latest Android build under lk/android-studio

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/58693115-graphical-glitches-in-sonic-shuffle?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=issues&utm_source=github)** We accept bo

[2018-05-22 18:30] Latiosdude commented on #1153
https://drive.google.com/file/d/16SrlrisD0KTetiXzF_d1u9DrKwQ988Xw/view?usp=drivesdk

https://drive.google.com/file/d/1HXr5fbvq80ksBB-ebxmTce6-ePQbGIk2/view?usp=drivesdk

https://drive.google.com/file/d/1-K8qnNV-q5_T2v3P4PDuiY_OwcpzkMAz/view?usp=drivesdk
^^
Links to screenshots of the graphical glitches

[2018-05-23 20:50] blackman91 commented on #1020
Can confirm this happens on latest too.

[2018-05-23 23:35] LoungeKatt commented on #1020
And does switching to RGB in reicast fix it, as well?

[2018-05-24 05:21] blackman91 commented on #1020
How do you switch to RGB in reicast?

[2018-05-24 13:27] LoungeKatt commented on #1020
It should be in the experimental settings section.

[2018-05-24 14:37] rcaridade145 commented on #1141
For tests maybe we can reuse the extensive tests lxdream has.
Would something like play-codegen be usable/desirable https://github.com/jpd002/Play--CodeGen ?

[2018-05-24 14:49] rcaridade145 commented on #1144
Concerning "Depth buffer solutions" i remember redream did something on that department.

Wonder if this would fix Cannon Spyke.

[2018-05-24 15:05] 1seam1 commented on #1020
rgb never fixed the issue for me

[2018-05-24 16:17] LoungeKatt commented on #1141
The short answer is that it would be more trouble than it's worth to use it.

The long answer involves citing how the project is bottlenecked by piping every change through a single individual, the most assertive of the contributors being extremely inexperienced, and much of the code being overly specialized for the project. It would probably be easier to build from scratch.

[2018-05-24 16:27] rcaridade145 commented on #1141
@LoungeKatt  all valid points :)

[2018-05-24 16:29] LoungeKatt commented on #1144
Keep in mind, redream also converted to closed source. From the atmosphere in their Discord, using the older, public versions of their code for other projects is not something they endorse. Out of respect for their project, it is best to contact them and request permission to use that code with a clear explanation of how it will be used and proper credit for using it.

[2018-05-24 16:37] LoungeKatt commented on #1020
Good enough. Thanks.

[2018-05-24 16:38] rcaridade145 commented on #1144
True and i totally agree. I only remembered reading about that on one of their progress reports.

[2018-05-24 19:32] blackman91 commented on #1020
I tried the 3 options vga, hdmi and component in cable types but none fix the issue, it is just a white screen but the game sound works like described by op.

[2018-05-25 22:32] WolfSama commented on #1000
This matter can be solved BUT when you come to rescue the queen in teed there is no way to pass that level,he game will crash,i try with r6 official and some builds,this game is impossible to finish,i try with Qui Guon Jin,but in the end of the level the game will crash,just tell me if you have a solution for it.

[2018-05-26 04:16] LoungeKatt opened #1154 "Star Wars: Episode 1 - Jedi Power Battles Crash"
From @WolfSama:

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/58858733-star-wars-episode-1-jedi-power-battles-crash?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=

[2018-05-26 08:02] WolfSama commented on #1000
Well if be possible clear this game please let me know how because he will crash in teed palace level before the level  tatooine no matter the question of fps or whatever configuration of r6,i try some builds without sucess,maybe reicast should have some more optmizatios setings.

[2018-05-26 08:18] flyinghead commented on #1144
It does.
Before:
![cannonspike1_bad](https://user-images.githubusercontent.com/16261910/40574160-06d8e482-60ce-11e8-8aaa-1e1c1ee42451.png)
After:
![cannospike1-good](https://user-images.githubusercontent.com/16261910/40574163-0e32e8e0-60ce-11e8-89ea-4c6fcfa716c3.png)

As well as many many other games.

[2018-05-26 11:49] LoungeKatt commented on #1000
@WolfSama Your issue is different, so it was moved to https://github.com/reicast/reicast-emulator/issues/1154

[2018-05-26 14:12] rcaridade145 commented on #1144
Nice :) @flyinghead

[2018-05-26 19:51] LoungeKatt commented on #1144
https://github.com/reicast/reicast-emulator/projects/2

Started a project for adding bounties and their status.
That should be a little easier than having an issue, along with multiple other issues, that could easily get buried or lost among still more issues.

[2018-05-26 20:04] LoungeKatt commented on #548
https://github.com/reicast/reicast-emulator/issues/94
https://github.com/reicast/reicast-emulator/issues/1049

Leaving these here as a reference, so this can serve as the main issue.

[2018-05-28 00:14] RetroRampage37 opened #1155 "On-screen buttons not alligned correctly"
I'm using an LG V20 and when I'm trying to use the on-screen buttons, they aren't alligned correctly.  The best way to describe it is the "hotbox" for A B X Y and both triggers are to the right of the button's icon.  So for example, instead of pressing on the B icon, I have to touch the space to the right of it for it to register the button press.

[2018-05-28 06:04] LoungeKatt commented on #1155
What version are you using?
Have you tried editing the onscreen buttons?

[2018-05-28 06:13] LoungeKatt opened #1156 "Issue Submission Template"
We need something to give people an idea of what is relevant to debugging an issue.
[code]
We have a lot of "yeah, so i had this issue that I didn't have like 20 years ago and now I do have and need fixed" reports that take 10 messages getting the info and steps. It will resolve the huge gaps in getting to the issue and people getting frustrated that the first reply isn't something new to them.

[2018-05-28 12:09] baka0815 commented on #1156
Is it possible to detect bad dumps? Like the hash of the rom?
Or is that impossible due to different dumping tools all producing "good" results with different hashes?

If that's possible it would be good to add that info too.

[2018-05-29 15:04] LoungeKatt commented on #1156
That is a bit beyond the scope of a general template. If it is a game issue, that would be a follow-up question or something to include in the subtext of "any steps tested" as "have you verified the game works?"

[2018-05-30 07:57] baka0815 commented on #1156
Ok, fair enough.

[2018-05-30 09:21] rcaridade145 commented on #1156
I agree @LoungeKatt . Personally even for a end user i find that the compat list used by xenia, cxbx-reloaded ,play! is the way to go.

[2018-05-31 14:00] shinshura17 commented on #571
Hi. I just recently installed R7 onto my Samsung amp Prime 2. I put all the files where they need to be and it's not working.

[2018-05-31 14:22] LoungeKatt commented on #571
This is a known issue with outdated versions.

[2018-05-31 14:37] skmp opened #1157 "June team coordination chat"
Hello team,

Was thinking we should do a coordination chat some friday in june.

Can you please fill in your availability at https://doodle.com/poll/53hhz9ydu9hmpbmr?

Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59072342-june-team-coordination-chat?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=issues&utm_so

[2018-05-31 15:19] shinshura17 commented on #571
@Loungecatt, is there a way to correct it? How would I go about fixing this problem or would I have to try and get one of the other builds?

[2018-06-01 02:43] ElTioRata opened #1158 "Crash - External Storage"
When I go to select the directory is my games, I tap in the "folder" called ".." then, my reicast crashes. Also, there isn't option to change language.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59098267-crash-external-storage?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=issues&utm_source=github)** We accept boun

[2018-06-01 03:50] LoungeKatt commented on #1158
What version?
Do you have a log?

Language is automatically set by device locale.

[2018-06-01 21:33] ElTioRata commented on #1158
The latest version on Google Play.
This is the log I think.
https://www.imgur.com/HEDq8Pw
https://www.imgur.com/iprprld

[2018-06-01 22:37] brand175 commented on #1145
@mk8itra1n @Lemmy8 @DecMaster @yurimerath  I added touchscreen joystick functionality without the joystick itself. I didn't bother in trying to figure it out or even try. I'd rather have it as a d-pad which makes it more easy for me to put it together. Also Xcode is garbage. I place the joystick d-pad in the bottom left corner and no matter where it goes. It places it towards the up-left corner or

[2018-06-01 22:59] LoungeKatt commented on #1158
The Google Play version is rather old. The versions on http://builds.reicast.com/ under the lk/android-studio branch are meant for newer versions of Android and have updates for external storage.

[2018-06-01 23:01] LoungeKatt commented on #1145
@brand175 What was giving you trouble a "real" joystick?

[2018-06-02 00:27] brand175 commented on #1145
@LoungeKatt  I tried the joystick first but it wasn't working. I've never done or seen constraints in Xcode before. The joystick has one center x and one center y constraint while the dpad had 10. It literally took me 2 hours just to find the add constraint button. There's probably more to the joystick. Need to add UIEvent,UITouch or something. I added the button tags and stuff (img_vjoy) in the E

[2018-06-02 01:35] brand175 commented on #1145
@LoungeKatt I added the triggers to the right joystick on the MFI controller before @JoeMatt posted a solution. I also tried to use your add on for the touchscreen thing which didn't work at all. Before @JoeMatt ever posted the trigger fix, I came across a trigger fix (Left and Right Triggers on the controller) for the MFI controller but i set at 127 instead of 255 (correct value) and it was fully

[2018-06-02 04:30] LoungeKatt commented on #1145
@brand175 You are focusing on the wrong part of what I was trying to tell you. It really had nothing to do with who contributed what, but that did help to prove a valuable point.

Upload your source. Any claim you make is proven by it. Any trials are recorded and not lost among various local copies. Anyone attempting to help with an issue knows your progress.

[2018-06-02 04:46] LoungeKatt commented on #1145
https://github.com/pyzhangxiang/joystick-ios
This is one example of someone's implementation of a virtual iOS joystick.

[2018-06-02 05:06] JoeMatt commented on #1145
I thought I'd chime in because I was tagged and I'm still loosely following,
my update is,

- Provenance (my front end app) is still being wrapped up for next release (1.5)
- Provenance is currently working on a virtual Joystick that is better than what's out there, in prototype now with design team, will happily copy that over to Reicast native front end once we finish (yay FOSS)
- Hope to finish

[2018-06-02 20:38] welsby commented on #1089
Also noticed this on latest build, looks like the map has some sort of z-index issue going on causing black flickering on the top right of the screen.

[2018-06-03 14:20] LoungeKatt commented on #899
One image per issue is plenty. The point is to aid a text explanation, not replace it.

[2018-06-03 14:33] LoungeKatt opened #1162 "GLES 3 core update"
Many newer devices include Vulkan, but that is more a long-term support goal. As a fallback, they use EGL 3. We currently have core support for EGL 2 with an optional duct-tape EGL 3 wrapper from like 2012.

It is likely that at least half of the complaints about graphical issues that worked on the Play version are because that version explicitly limited the emulator to EGL 2. It seems like going

[2018-06-05 15:58] anothername99 commented on #1144
What do you all think about software rendering?

ParaLLEl (N64 emulator for libretro) recently received a multi-threaded software renderer. It's the most accurate renderer that I know of and it's pretty fast on Coffee Lake CPUs. A software renderer also eliminates any portability problems related to GPUs/graphics APIs on the host.

If anyone expresses interest in writing one for Reicast, I'll be v

[2018-06-06 03:20] LoungeKatt commented on #1144
I think the idea was to post a new issue explaining what you wanted and tag it with "Bounty Requested" (and possibly point to it here).

Also, there was some work put into adding software rendering. It just needs a lot of attention.
https://github.com/reicast/reicast-emulator/blob/master/core/rend/soft/softrend.cpp

[2018-06-06 04:54] blackman91 commented on #898
So this is apparently fixed now:
https://youtu.be/BoDjdQDBZKw

Nice! Amazing job guys, are those fixes available on the standalone too?

[2018-06-06 10:01] rcaridade145 commented on #1144
I for one would replace the X code with SDL. Is that desirable?
At least it would reduce the flickering (double buffering) and be more portable imho.

[2018-06-06 10:56] LoungeKatt commented on #898
https://github.com/reicast/reicast-emulator/pull/1151
https://github.com/reicast/reicast-emulator/pull/1152
^ These are the improvements being cited in the video.

[2018-06-06 13:21] baka0815 commented on #1144
+1 for changing X specific code to SDL.

[2018-06-06 14:19] LoungeKatt commented on #1144
I vaguely remember Play! and Dolphin using it, both of which require only the newest mobile hardware and still unable to perform at reasonable framerates. I am sure we can cause plenty of regressions without the need to rewrite the entire core.

[2018-06-07 00:26] Yoshimaster96 opened #1164 "How do I setup Naomi BIOS for Naomi build on Linux?"
What the title says. Where do I put the BIOS(es), and what are their filenames?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59345235-how-do-i-setup-naomi-bios-for-naomi-build-on-linux?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2018-06-08 06:01] blackman91 commented on #84
Anyway to fix this on Reicast for Android, it happens in both r6 and r7.

[2018-06-08 08:51] LoungeKatt commented on #84
According to the other posts, turning dynarec off may help bypass the freezes for now.

[2018-06-09 14:46] skmp commented on #84
Sounds like really a combination of factors. Disabling div matching fixes it as a workaround - if anyone is up to trying that it would be great. We could make the div a flag as a temporary fix.

[2018-06-09 14:47] skmp commented on #1164
Should follow the same naming as nullDC iirc. I don't think I changed that code. ~/.reicast/data/* ?

[2018-06-09 14:52] skmp commented on #1144
I prefer to keep the minimal X backend, but I'm not opposed towards also having an SDL oslib implementation. @flyinghead the bounties are yours, if you don't want them, please donate them back to the project :p. @twinaphex donating back the bounties for other use or further bounties is possible, no?

@anothername99 there is already a software renderer, though written in sse2+ intrinsics and not fu

[2018-06-09 14:54] skmp commented on #1144
@LoungeKatt lol, love the bounty tracking view :D

[2018-06-09 14:59] skmp commented on #1089
Can you match that build to a git version?

[2018-06-09 15:02] skmp commented on #1162
Yes, we definitely need gles3 support. It's probably best to write a new renderer though, as the current one is somewhat tainted by GPL. Reicast already supports multiple renderers so it shouldn't be that hard

[2018-06-09 15:10] skmp commented on #571
So, we need to start moving on this. I managed to switch to part time at work, so I should regularly have time for reicast from next week. I generally try to get work done on fridays, but no promises yet :)

[2018-06-09 17:50] anothername99 opened #1166 "Software renderer [$1325]"
Reicast has an early software renderer: https://github.com/reicast/reicast-emulator/blob/master/core/rend/soft/softrend.cpp

This is part one in a series of bounties to get something that the average user wants to use. Here is what you need to do for this part:

- Make a copy of the current softrend
- Make it work per-pixel instead of per 4x4 quad
- Remove xmm/simd dependecies
- Make sure it works

[2018-06-09 17:51] anothername99 commented on #1144
@skmp I didn't see any open bounties about improved software rendering, so I opened one here: https://github.com/reicast/reicast-emulator/issues/1166

If you think this is ok, then I'll put in some money right away.

[2018-06-09 18:01] skmp commented on #1166
seems good to me. Maybe mention the the existing spfteend is not portable enough? I took the speed over portability approach in it

[2018-06-09 18:13] anothername99 commented on #1166
It isn't? I only have a PC so I wouldn't know anything about it if you're talking about CPU-architectures.

[2018-06-09 18:15] skmp commented on #1166
The sforend is pc only atm. I think a clean, slow impl would be a perfect
start. Also fifoci, dolphin style

On Sat, 9 Jun 2018 at 20:13, anothername99 <notifications@github.com> wrote:

--
~skmp

[2018-06-09 18:20] skmp commented on #1166
Added automated bounty source integration so you should be able to add a bounty and it’ll backlink automatically

[2018-06-09 18:21] anothername99 commented on #1166
Ok, does this look good?

"Added automated bounty source integration"

Nice!

[2018-06-09 18:22] skmp commented on #1166
Sure, looks like a good start. I’ll update the ticket in a bit qhen i get
home.

On Sat, 9 Jun 2018 at 20:21, anothername99 <notifications@github.com> wrote:

--
~skmp

[2018-06-09 20:15] blackman91 commented on #898
Awesome! Are those improvements going to be merged into the Android build? Finally Cannon Spike Playable portably.

[2018-06-09 20:16] skmp commented on #898
I think I merged both of the PRs today?

On Sat, 9 Jun 2018 at 22:15, blackman91 <notifications@github.com> wrote:

--
~skmp

[2018-06-09 20:17] skmp commented on #898
Yeah, both of them should be in the latest master build

[2018-06-09 20:28] blackman91 commented on #898
Nice! Are the improvements coming to the lk/android-studio branch too? The one with the settings fixed for Android 7 and up.

[2018-06-09 20:38] blackman91 commented on #898
I tried latest master on Android but I still get the same bugs in cannon spike, do I need to enable any particular setting.

[2018-06-09 21:15] LoungeKatt commented on #1164
Sounds right. I was recently digging around in there and vaguely recall that being the case.

[2018-06-09 23:58] blackman91 commented on #898
Tried latest master on another Android device where settings are accesible but no setting fixes the graphics:
![screenshot_20180609-153417](https://user-images.githubusercontent.com/6578180/41197075-08dfed30-6c17-11e8-90a7-e9de96402f11.png)

[2018-06-10 01:26] LoungeKatt commented on #898
[![2018-06-09T21:12:45.000Z](https://img.youtube.com/vi/GJFRMBUyt9/0.jpg)](https://www.youtube.com/watch?v=GJFRMBUyt9)

This is from Android Studio with 1151 and 1152 integrated.
It seems the issue with this game may not be directly related.

[2018-06-10 13:39] twinaphex commented on #1166
So I guess bounties are no longer going to go through the Libretro bounty system as we previously discussed?

[2018-06-10 14:33] twinaphex opened #1167 "Fix Shenmue 1/2 crashes [$150]"
The goal of this bounty is to get the game-breaking crashes fixed that happen in both Shenmue 1 and 2.

'Several major issues in self-modifying code detection (Shenmue 2).'

Talking specifically about Shenmue 1 right now -

Both dynamic recompiler and generic recompiler crash at several parts of the game. With dynamic recompiler, the game crashes directly after the intro when you get out of bed an

[2018-06-10 14:37] twinaphex opened #1168 "Fix DOA2 LE crashes/NBA 2K crashes. [$105]"
The goal of this bounty is to get these games working. DOA2 LE can crash when selecting a character in Time Attack mode or Survival. This does not happen with the older DOA2 US version.

EDIT: This is the bountysource URL - seems the integration still does not work right -
https://www.bountysource.com/issues/59487065-edge-cases-in-ta-parameter-parsing-nfl-2k-doa2-le

<bountysource-plugin>

---
The

[2018-06-10 14:40] twinaphex commented on #1166
I have moved my bounties from the libretro repo to the reicast upstream repo -

https://github.com/reicast/reicast-emulator/issues/1167

https://github.com/reicast/reicast-emulator/issues/1168

I increased the Shenmue 1/2 bounty from $50 to $100, and I added a new bounty and added $30 to it.

Unfortunately the Bountysource integration still does not seem to work right, so I manually linked to the

[2018-06-10 15:22] skmp commented on #1166
Thanks

On Sun, 10 Jun 2018 at 16:40, Twinaphex <notifications@github.com> wrote:

--
~skmp

[2018-06-10 15:52] anothername99 commented on #1168
Just to be clear, is this about making the dynarec more accurate, or is it about game-specific hacks?

I chipped in $50 anyway.

[2018-06-10 15:53] twinaphex commented on #898
Maybe it's the log2 depth commits?

[2018-06-10 15:55] skmp commented on #1168
It’s to make it more accurate. SMC detection was removed in 2008 to fit in
the psp feature set - nulldc has a full impl of it

On Sun, 10 Jun 2018 at 17:52, anothername99 <notifications@github.com>
wrote:

--
~skmp

[2018-06-10 16:59] LoungeKatt commented on #1166
FYI: https://github.com/reicast/reicast-emulator/projects/2 should be open for anyone with access to the reicast project to add / move / remove items.

[2018-06-10 17:01] LoungeKatt commented on #1162
The update would be universal, not just for one architecture. If it can be used, it would become available.

[2018-06-10 17:03] 7oxicshadow commented on #863
@vpontin This issue should now be resolved in the latest libretro core. (The fix is committed, just need the buildbot to catch up)

Better late than never :)

[2018-06-10 18:47] legluondunet opened #1169 "can not compile reicast from git source if git folder stored on a path with space"
Hello,
I tried to compile Reicast from git source today, but it wouldn't compile.
I found the cause: Reicast git folder stored on a path with space.
I moved the sources on a path without space and it compiled without .
It's a little bug, it will be easy for you to resolve it, isn't it?

Thanks.

config: Ubuntu 18.04

[2018-06-10 19:33] legluondunet commented on #863
I just tested the last Reicast git version, the issue is still present.

config:
Ubuntu 18.04
Nvidia

[2018-06-10 19:34] LoungeKatt commented on #863
Interesting, this issue isn't present on Android

[2018-06-10 19:47] 7oxicshadow commented on #863
@legluondunet the issue on the main reicast branch is understood and there is a pull request that should fix it.

I think there is currently discussions about how the dynarec process is handled in general so it won't be be introduced for a while.

[2018-06-11 01:30] anothername99 opened #1170 "(libretro) Save files bounty"
This bounty is about making the Reicast core be more in line with other cores regarding saving.

To complete this bounty:

- Make Reicast store its save files in the libretro savefiles directory.
- Add support for game-specific, rather than global, save files. This is supported by all the Beetle cores for instance and it makes a huge difference. Game-specific saves make organization easier and spa

[2018-06-11 02:43] skmp commented on #1169
Good luck figuring that one out :p

[2018-06-11 02:43] skmp commented on #1169
jokes aside, we need to take a second look in our build systems

[2018-06-11 02:44] skmp commented on #1162
@dmiller423 has also promised me to work on a vulkan renderer. I wonder if he has time these days.

[2018-06-11 02:48] skmp commented on #1170
Hmm, first one seems rather easy. Second one has some harder questions -- how to we handle multi disk games and (avoid) rips with bad meta-info?

[2018-06-11 02:51] skmp commented on #1170
Could do per game-id saves, which should be mostly alright. Would need some way to notify the host app of the game id.

[2018-06-11 02:55] skmp commented on #1164
@Yoshimaster96 did you figure it out? Would be nice to update our README section about it

[2018-06-11 02:56] skmp commented on #1157
Poke: @MrPsyMan @twinaphex @LoungeKatt @rrrh

[2018-06-11 02:58] skmp commented on #1157
(we can also discuss things here in a non-irc medium if that works best for you)

[2018-06-11 03:01] skmp opened #1171 "Reicast @ NSC2018 (01~09.09.2018)"
Hello team,

Like many of the past years I'll be organizing the nillware summer camp in 2018. At least me and possibly more reicast team members will be there, It'll happen around the first week of september in central greece. Ask here or PM for more details if interested.

Thanks

(Invitation for the event is still WIP, will update here as soon as things are more organized)

<bountysource-plugin>

[2018-06-11 03:07] skmp commented on #1150
4 weeks to go, if interested please register at https://docs.google.com/forms/d/e/1FAIpQLSeku90cUufMGJqdvkXUWaGNUqqcymsHT5i1A8y03Tv1y7AeOw/viewform :).

We'll likely have an FPGA dev board to play with, various phones and dev boards, and will plan to make a release Saturday night / Sunday morning.

For more details on the event in general visit https://www.facebook.com/events/199003247383696/, ask

[2018-06-11 03:47] skmp commented on #1156
@LoungeKatt Can you add a link to this to the readme maybe?

[2018-06-11 03:53] skmp opened #1172 "Vulkan Renderer"
We want a new, clean Vulkan renderer for Dekstop and Mobile. Anyone up for it? @dmiller423?

[2018-06-11 03:54] skmp commented on #1162
(Split the vulkan part to #1172)

[2018-06-11 04:32] anothername99 commented on #1170
I didn't think about multi-disc games. I don't think I've encountered one for Dreamcast. Anyway, Beetle PSX for instance has support for m3u playlists. They are plain text files with a format like this:
Game Name Disc 1.chd
Game Name Disc 2.chd

The save files would then be named after the m3u playlist (Game Name.m3u).

In general I think it's a lot less messy if we don't deal with meta info/inter

[2018-06-11 05:02] skmp commented on #1148
After chatting w/ @twinaphex today, I found that bountysource also supports regular donations, without us needing a legal entity, tax liability or fees, apart from a 10% fee on cashout. It's not an ideal paradigm, but looks fair enough to get started with.

I claimed the project that had been auto-imported from github, and this https://www.bountysource.com/teams/reicast should work. Can the core t

[2018-06-11 05:42] skmp commented on #692
(See the update in #1148 wrt bountysource)

[2018-06-11 06:51] skmp commented on #1158
@ElTioRata Can you use the `Android` label instead of adding "[Android]" next time, please? :)

[2018-06-11 06:59] skmp commented on #1144
@rcaridade145 want to create an issue for an update of the SDL frontend with a few specific tasks? I vaguely remember having an SDL frontend, but I don't think it was anywhere near complete. Add the "Bounty Requested" label so that we know it is on the bounty list

[2018-06-11 07:17] skmp commented on #1144
Alright, tried installing the gh integration and it's still not working :/ Will poke the bountysource people later in the week to see what's up with that

[2018-06-11 08:15] baka0815 commented on #1144
@Holzhaus tried to create some kind of a frontend if I remember correctly (https://github.com/reicast/reicast-emulator/tree/holzhaus/gui).

[2018-06-11 08:30] baka0815 commented on #1169
@legluondunet could you provide the log file of the failed build?

[2018-06-11 08:37] baka0815 commented on #1170
But then accessing the "memory card" via BIOS would no longer be possible, right?
Or am I missing something?

[2018-06-11 09:05] skmp opened #1173 "Investigate a fb bot to resolve simple support questions / FAQs"
(title says it all. We could auto triage most messages)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59510728-investigate-a-fb-bot-to-resolve-simple-support-questions-faqs?utm_campaign=plugin&utm_content=tracker%2F500311&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm

[2018-06-11 10:18] rcaridade145 commented on #1141
@skmp  In terms of tests for sh4 and arm  http://www.lxdream.org/hg/lxdream/file/765e514f99a6/test .
Afaik it isn't possible to run binaries/elf on reicast or is it?

[2018-06-11 11:48] LoungeKatt commented on #1156
It's actually something you set up to pre-fill a new issue. https://github.com/reicast/reicast-emulator/pull/1174

[2018-06-11 12:38] baka0815 commented on #1141
``Investigate why videos are choppy`` is done in #1165, right?

[2018-06-11 13:13] LoungeKatt commented on #1170
I feel like this obliterates the purpose of a VMU.
Playstation and other consoles with memory cards treated them like a mobile device treats an sdcard. It is an external storage area where data is saved in blocks.
The VMU, on the other hand, was a device in itself. One example would be the Soul Calibur limited edition, which included a VMU game that was more or less a themed Tamagotchi. Since this

[2018-06-11 13:18] LoungeKatt commented on #1173
By fb, are you talking Facebook?

I still recommend looking into Discord.

<img width="720" alt="screen shot 2018-06-11 at 9 16 42 am" src="https://user-images.githubusercontent.com/1173913/41233710-3946dbb8-6d58-11e8-800a-af01e07c63ea.png">

Tsubaki is a bot I put together to manage the channel when I'm not there.

[2018-06-11 13:20] LoungeKatt commented on #1173
And yes, it still includes the Github / travis integration

<img width="720" alt="screen shot 2018-06-11 at 9 19 10 am" src="https://user-images.githubusercontent.com/1173913/41233869-9e350752-6d58-11e8-8d09-68f62c3ca3c6.png">

[2018-06-11 13:42] rcaridade145 commented on #1141
From my background with agile methods i would suggest, focusing first on those that bring immediate value to the costumer (end user), perhaps that can increase the visibility of the work being done and bring more chances of bounties. This said, i'd consider:

- Get WinCE games and linux for dreamcast running in interpreter (#53, somewhat done)  - the most important
-Add support for SMC. nullDC use

[2018-06-11 13:53] rcaridade145 commented on #1167
One thing i believe we are doing wrong on the mmu side (https://github.com/fail0verflow/switch-linux/blob/master/arch/sh/include/cpu-sh4/cpu/mmu_context.h for reference) is not marking the dynarec as dirty when MMUCR AT states changes. @skmp you're more familiar with the codebase, did i miss something?

[2018-06-11 13:58] LoungeKatt commented on #1167
@rcaridade145 Why not give it a try? If it works, you could pack it up as a PR and cash out ;)

[2018-06-11 14:01] LoungeKatt commented on #692
[![Two Dollars](http://img.youtube.com/vi/FsxJfcFVnpo/0.jpg)](http://www.youtube.com/watch?v=FsxJfcFVnpo)

[2018-06-11 14:19] #1058 closed

[2018-06-11 14:20] BogdanTheGeek commented on #1058
Sorry for not responding, I can no longer test this.

[2018-06-11 14:32] anothername99 commented on #1170
I did overlook playing VMU games because you currently can't play VMU games in reicast-libretro at all. However, it could perhaps be handled by selecting a VMU mode when loading the Dreamcast game. A menu option, Load Content (Special), could perhaps be added to RetroArch, and in this case this option would lead to the VMU game being loaded instead of the main Dreamcast game. Since for example Cha

[2018-06-11 14:37] anothername99 commented on #1170
@baka0815 In reicast-libretro, you still need to select a Dreamcast game in order to be able to access the BIOS menu, so this wouldn't change. I don't know how the BIOS is handled in standalone Reicast though.

[2018-06-11 14:42] LoungeKatt commented on #1148
Being brutally honest, I think avoiding the legal entity hoopla and bounties are both for the best, but without completely denying any means for allowing some of the cost to be shared.
I understand that the whole premise to RA trying to link back to the main source with the bounty program is, at its core, an attempt to improve RA by improving the entire core. That is fine for that program because

[2018-06-11 15:51] LoungeKatt commented on #1058
Fair enough. Thanks for the report, though.

[2018-06-11 16:00] LoungeKatt commented on #1170
@anothername99 It sounds like you got the gist of it, but missed the correlation.
There are VMU games where the progress of said stand-alone game is reflected in the ROM. This means that while the game is stored in blocks XYZ of the VMU and the game save is blocks ABC, both *can* function completely independent of each other, but can also influence one another.
Circling back to the Soul Calibur ga

[2018-06-11 16:40] LoungeKatt commented on #1156
<img width="1000" alt="screen shot 2018-06-11 at 12 39 10 pm" src="https://user-images.githubusercontent.com/1173913/41244904-8b275964-6d74-11e8-992c-9c1236e3b0b7.png">

**_BAM_**

[2018-06-11 16:40] #1156 closed

[2018-06-11 17:35] anothername99 commented on #1170
@LoungeKatt But in your example, the VMU game still originates from Soul Calibur, and Soul Calibur is the only Dreamcast game that you would expect your VMU game to influence. In that way, they are directly related, even though it's possible to play the VMU game while your Dreamcast is turned off. So in this case, playing Soul Calibur's VMU game is a side-feature of Soul Calibur, and I think it wo

[2018-06-11 17:59] opendata26 commented on #1123
anyone looked into this, its pretty important

[2018-06-11 18:49] LoungeKatt commented on #1170
I think trying to explain may be a lost cause, but making it an option to enable per game saves over optional to disable it would keep expected functionality without preventing the feature.

[2018-06-11 19:02] LoungeKatt commented on #1123
Yes.

[2018-06-11 19:25] LoungeKatt commented on #1148
...and then there is the aspect of bounties directing progress versus aiding it. This is perhaps the biggest reason to make them "donations" over "payments" because a donation is an after-the-fact gratuity for what was done, where as a payment means a defined stipend for desired services.

[2018-06-11 22:21] spielvan opened #1175 "Graphic Bug in 3D Games"
*Any information not included may be requested when diagnosing the issue*

| Platform | Branch | Hash | Buildbot |
| ------ | ------ | ---- | -------- |
| Android 5.1.1 | Master? | 8c69dc8 | Yes? |

**_Description of the Issue_**

Games like Mortal Kombat Gold, Marvel Vs Capcom 2 ... have slight graphical bugs, in the case of Mortal Kombat Gold, when playing in the stage of Goro, Goro Lair, the 3D

[2018-06-12 02:39] LoungeKatt commented on #1175
The purpose of the template was so you could fill it in. It's hard to read when it is all the default text and all of your info is thrown into the middle of it.

That aside, your issue is **EXTREMELY** vague and part of somewhere around 50 other issues.
Do you have a specific issue that is not already a part of another one currently open?

[2018-06-12 02:55] LoungeKatt commented on #1175
https://github.com/reicast/reicast-emulator/issues/292
https://github.com/reicast/reicast-emulator/issues/431

[2018-06-12 07:14] legluondunet commented on #1169
@baka0815 not necessary, if you have a path like this:
/home/legluondunet/myemulators/reicast
it compiles ok
if you have a path with a space:
/home/legluondunet/my emulators/reicast
type "make"
it says it can not find "/home/legluondunet/my" folder

[2018-06-12 09:08] LoungeKatt commented on #1169
So the issue is not with running it, just building? That is fairly common.
It seems like this has a fairly simple workaround and is very low priority.

[2018-06-12 09:27] skmp commented on #1169
I would still love to see this resolved if someone has the stomach to go
through the makefiles

On Tue, 12 Jun 2018 at 11:08, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-06-12 10:58] rcaridade145 commented on #1167
@LoungeKatt I'm taking baby steps :) First thing i did was updating xbyak and testing some games reveal no problems.  Need to test Shemnue.

[2018-06-12 11:18] baka0815 commented on #1169
It's directly the first line: ``LOCAL_PATH := $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))``

If my reicast is in "/home/<user>/reicast emulator" and I try to run the makefile for Linux, I get the follwing in LOCAL_PATH: ``/home/<home> emulator/shell/linux``.
The ``/reicast`` part is missing.

[2018-06-12 11:20] skmp commented on #1169
prolly miss some “” there

On Tue, 12 Jun 2018 at 13:19, Christoph <notifications@github.com> wrote:

--
~skmp

[2018-06-12 11:23] skmp commented on #1148
Yeah, that’s why I don’t want us to rely mainly on bounties. It’s nice to
have inventive for hard tasks, however the project needs to have sober
technical guidance and leadership

On Mon, 11 Jun 2018 at 21:25, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-06-12 11:37] baka0815 commented on #1169
Looks like it should work using ``LOCAL_PATH := $(subst ${null} ${null},\${null} ${null},$(shell dirname "$(realpath $(lastword $(MAKEFILE_LIST)))"))``.

It "should" because I can't test the complete run (using cygwin here just to test, don't have a Linux box here).

[2018-06-12 12:07] LoungeKatt commented on #1148
It is basically the same thing with better spacing and the added comment on bounties redirecting focus. I think you got the same idea.

[2018-06-12 12:08] LoungeKatt commented on #1169
That looks really ugly.

[2018-06-12 12:10] skmp commented on #1169
make a PR and let the builbots run?

On Tue, 12 Jun 2018 at 14:08, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-06-12 12:19] baka0815 commented on #1169
@LoungeKatt you could break that up into different lines.

First get the directory preserving spaces (add ``""``) and then replace the space with an escaped space.
I'm no Make specialist, but that's what I found out.

[code]

[2018-06-12 12:20] skmp commented on #1148
that’s why i used a cla and not caa. The authors keep copyright, i only get a license.

Re legal entity - that’s why i want a non profit form, they have very strong legal requirements around openess of financial data and internal discourse which i think is a fair shield from adverse actors

[2018-06-12 12:48] baka0815 commented on #1175
@spielvan it would be nice if you could provide a screenshot showing the broken graphics.

[2018-06-12 14:41] LoungeKatt commented on #1175
@baka0815 it's best to establish if it is a duplicate **before** gathering a bunch of info here.
Rest assured, this is not my first time responding to an issue.

[2018-06-12 14:46] LoungeKatt commented on #1169
It's all the `${null}` stuff. It's unavoidable, but still looks ugly.

[2018-06-12 15:29] spielvan commented on #1175
@LoungeKatt I tried to fill in as much as possible, my apologies if I was not very objective, and my problem has basically been 100% related to graphic bugs, 90% of them in the background scenario, I do not have the related problem # 292 and # 431, how can I explain in Dreamcast 3D games Mortal Kombat Gold case scenario of Goro Lair, the player's closest part had to stay tarnsparente to be able to

[2018-06-12 15:36] spielvan commented on #1175
![2abe3c14-69b6-4d15-a139-14934128bd16](https://user-images.githubusercontent.com/17939556/41300709-c6a2ffd4-6e3c-11e8-8bbd-a2274b900b52.jpg)
![c28ee522-57b4-43d9-abc3-9e5c8370efad](https://user-images.githubusercontent.com/17939556/41300786-f3385512-6e3c-11e8-9b98-fa25060520bc.jpg)
![def1cfcd-22eb-43aa-bdfb-cd0c8c793df6](https://user-images.githubusercontent.com/17939556/41300800-fae94ee2-6e3c-11

[2018-06-12 16:16] LoungeKatt commented on #1175
The content was fine. I just had to move it into the right spots. Either way, I cleaned it up for this one.

I have a feeling this is related to https://github.com/reicast/reicast-emulator/issues/1162 if it wasn't related to the other two. It may also be related to what is happening in https://github.com/reicast/reicast-emulator/issues/898

If anything, at least there are a lot of different games

[2018-06-12 16:22] baka0815 commented on #1175
@LoungeKatt sorry, I thought that having the screenshots would help diagnosing if it's the same issue(s).

[2018-06-12 16:31] jasiu512 opened #1178 "LT and RT HID gamepad still not working"
Android 8.0
Huawei Mate 10 Pro
Gamepad MODECOM  Vulcan flare. It is the same model like IPEGA PG 9021.

I saw an earlier topic but I do not see a solution. Although the buttons can be defined in the emulator settings, they do not work during the game. Is there any solution?

[2018-06-12 16:36] LoungeKatt commented on #1178
Duplicate of https://github.com/reicast/reicast-emulator/issues/1039

[2018-06-12 16:36] #1178 closed

[2018-06-12 16:39] LoungeKatt commented on #1175
@baka0815 No worries. They ended up being needed, but the reason I held off was that if it was the same issue it would save the trouble of taking, uploading, posting, etc (especially on a data plan).

[2018-06-12 16:39] jasiu512 commented on #1039
Ok. Any chance to clear how to edit this line in this. XML file? What and where to change?

[2018-06-12 16:40] LoungeKatt commented on #1039
It has been fixed as part of https://github.com/reicast/reicast-emulator/pull/1163 and I believe the specific change was already integrated into master

[2018-06-12 16:44] spielvan commented on #1175
@LoungeKatt I'm going to enjoy what they were talking about Cannon Spike, I'm taking the European version to put on tests with today's reicast build.

[2018-06-12 16:45] jasiu512 commented on #1039
Ok. I will try latest.apk

[2018-06-12 16:57] jasiu512 commented on #1039
After updating apk file to newest version, LT and RT buttons don't work in games.

[2018-06-12 17:03] baka0815 commented on #1169
I just corrected the lines above, but that's not the only things that need changing.
There are also changes to be done to ``core.mk``and maybe others too.

[2018-06-12 17:23] blackman91 commented on #1039
Try enabling the option in input enable custom key layout, that works for me. Also if you can't change settings try the lk/Android studio builds here:

http://builds.reicast.com/

Scroll down to find them.

[2018-06-12 17:40] jasiu512 commented on #1039
Solved. Thank You very much. It is working now with lk/Android version. But there is a little delay between pushing button and action in game. But after all it is working.

[2018-06-13 09:03] skmp commented on #1109
@flyinghead Does this seem interesting to you?

[2018-06-13 12:32] skmp commented on #1148
Also, just to point out, there are various private versions of nullDC that would be much better starting points for me for a commercial product and without any of the licensing complications. While reicast is highly optimized for armv7, armv8 is where it is at right now, and doing an armv8 jit from scratch isn't that much of effort.

I'm not thinking or planning to do that, and redream is a much b

[2018-06-13 13:16] skmp commented on #94
This should be fixed now. Re-open if it is still an issue

[2018-06-13 13:16] #94 closed

[2018-06-13 13:27] skmp commented on #824
This should be solved by #1151. Please re-open if not

[2018-06-13 13:27] #824 closed

[2018-06-13 13:31] skmp commented on #1056
Closing this in favor of gamedb#1. Can you re-upload the screenshots there please?

[2018-06-13 13:31] #1056 closed

[2018-06-13 13:53] LoungeKatt commented on #1148
Personally, I trust you. It's good to put that out there, though. Hopefully it can help to ease anyone else's doubts about the purpose of everything (or at least be a reference if it comes up)

[2018-06-13 16:35] baka0815 commented on #1169
Ok, I gave it another go at the ``core.mk`` file and the next problem is with the ``$(foreach`` function.

But I got that fixed as well and now the path looks good.
However it won't compile because ``make: *** No rule to make target 'obj-dreamcast-x64-sse4_1/hw/arm7/arm7.build_obj', needed by 'reicast.elf'.  Stop.``.
This is the following line in the Makefile: ``$(BUILDDIR)/%.build_obj : $(RZDCY_S

[2018-06-13 16:36] rcaridade145 commented on #1167
@twinaphex @LoungeKatt I updated xbyak on my fork of libretro-reicast and tested it also on the  upstream project (Makefile unchanged)
![shemnue](https://user-images.githubusercontent.com/11843298/41364946-fd059b74-6f2f-11e8-81af-df5d2f20982e.jpg)

[code]

[2018-06-13 17:34] twinaphex commented on #1167
Very cool, you haven't been able to experience a crash yet when venturing further?

[2018-06-13 17:36] rcaridade145 commented on #1167
Need to play a bit more :)

[2018-06-13 18:21] rcaridade145 commented on #1167
@twinaphex Well played a bit more. Promised to help an old lady and gave tofu to a kitten :+1:
![shemnue3](https://user-images.githubusercontent.com/11843298/41370159-c45be76a-6f3e-11e8-95a8-8eae84c41d39.jpg)
![shemnue2](https://user-images.githubusercontent.com/11843298/41370161-c47dc77c-6f3e-11e8-9e24-c4b3b1c9ec38.jpg)

[2018-06-13 18:40] twinaphex commented on #1167
Awesome. Just out of interest, does this fix the crash on the second stage of Marvel Vs Capcom 2 too? Would be interesting if this fixes more games.

[2018-06-13 18:47] rcaridade145 commented on #1167
@twinaphex i can't test that game.  I have it in cdi but it seems reicast does not like this version. I'd be nice if someone could test a 32 bit build to see if it fixes some issues old version had with xbyak32

[2018-06-13 19:06] twinaphex commented on #1167
OK, is this the version I should be checking out?

https://github.com/rcaridade145/reicast-emulator/commit/48d4d5bd7aacfbbea67c0fd9c7c042f8423a549a

Or have there been alterations made since that fix the Shenmue 1/2 crashes? I tried checking out that latest commit but I can still get the crashes in Shenmue 1 when trying to walk outside the dojo.

[2018-06-13 19:10] twinaphex commented on #1167
https://github.com/reicast/reicast-emulator/issues/107

Can you try Shenmue 2 really quickly too?

For instance, try to replicate the crash this guy experienced and see if that no longer happens -

"Shenmue 2 in game after intro video and having photo taken then after arm Wrestle with Mexican man walk towards town and game FC and returns to path directory. I had to disable dyranec initially to get

[2018-06-13 20:55] rcaridade145 commented on #1167
@twinaphex No that is my latest version. Basically Ubuntu 18.04 reicast upstream  with soft renderer with those updates.

[2018-06-13 21:46] twinaphex commented on #1167
This is the error I still get -

https://hastebin.com/ofovomuhun.md

[2018-06-14 09:50] rcaridade145 commented on #1167
@twinaphex I'll try it later today. The compiler is MSVC?

[2018-06-14 14:48] twinaphex commented on #1167
No, mingw.

[2018-06-14 18:13] skmp commented on #1144
(Updated first post with relevant links)

[2018-06-14 19:56] LoungeKatt commented on #1167
@rcaridade145 Nice work so far. This has been an issue for a **long** time.

[2018-06-14 22:35] rcaridade145 commented on #1167
Tried today libretro with my changes and got the crashes. On Shemnue it crashes when loading Ryu's room.  Tried to merge  changes from reicast makefile but to no avail. Generic recompiler due to ifdef also seems to not be used even if it is set to 1 on the makefile.  The  quest continues..At least it works on reicast upstream.

[2018-06-14 23:16] twinaphex commented on #1167
Generic recompiler can be switched to at runtime by going to Quick Menu -> Options and changing CPU from 'dynamic_recompiler' to 'generic_recompiler'.

Even with generic recompiler, Shenmue 1 will crash, but only later on when you try to leave the house after the intro. With dynamic_recompiler it happens a lot sooner and it happens at the first loading screen directly after the intro.

The big cha

[2018-06-15 01:34] twinaphex commented on #1167
I'm trying to rebase most of the code in core/hw/sh4, core/hw/holly and core/hw/aica back to upstream code in hopes it will fix something.

[2018-06-15 01:37] twinaphex commented on #1167
How can we actually find out what Reicast crashes on since it hijacks the exception handler? How do you debug something like this?

[2018-06-15 01:52] twinaphex commented on #1167
This is the part it crashes at -

Unimplemented opcode: 00004E49 next_pc: 0C4223ED pr: 0C4223E3 msg: Unknown opcode
[libretro INFO] Fatal error : iNimp reached

Does this ring any bells?

[2018-06-15 06:32] retrobenny opened #1184 "No options for mapping analog stick as buttons or keys."
*Any information not included may be requested when diagnosing the issue*

| Platform                                                      | Branch | CIDL |
| Android Nougat Shield TV Pro OTA 6.3 | Debug | No?? |
| Installed OS and version (ie. Android 8.0) | Branch name (or Google Play) | Hashtag (delete if unknown) | Downloaded from build site? |

**_Description of the Issue_**

On a build from

[2018-06-15 07:10] blackman91 commented on #152
Can this be done easier now on newer Android os versions?

[2018-06-15 09:52] baka0815 commented on #152
@blackman91 Android is not the problem, the problem is global state in the emulator. It would be necessary to refactor big parts of the emulator with the possibility of regressions to erase global state.
I  don't say it's impossible, but it's a big thing to do.

[2018-06-15 10:00] skmp commented on #1167
o/ @rcaridade145. I'm late to the party, it's been a busy week. How are you trying to replicate this issue?

Afair, this is some SMC-related mess, at least for Shenmue and just updating xbyak shouldn't fix it. These issues are also known to be hard to replicate. @MrPsyMan do you have some time test around this?

IIRC Shenmue (and a few other games) do SMC without clearing the cache at all, and tha

[2018-06-15 10:04] skmp commented on #1167
Also, does this happen on arm and x86 or just x86?

(x86 smc detection)[
https://github.com/reicast/reicast-emulator/blob/7945372063ac9311a4bc2f16000a6eb7e344cc69/core/rec-x86/rec_x86_driver.cpp#L324] is much more complete than (arm smc detection)[https://github.com/reicast/reicast-emulator/blob/7945372063ac9311a4bc2f16000a6eb7e344cc69/core/rec-ARM/rec_arm.cpp#L2125]

[2018-06-15 10:17] rcaridade145 commented on #1167
@skmp I justed got the master as zip  updated xbyak and on shell/linux did make. I did not change any settings. Then i tried to replicate this on libretro.  Is that true by default on reicast x64 for linux?

[2018-06-15 10:33] rcaridade145 commented on #1167
@twinaphex On one of the many tests i did yesterday night it crashed @ 0x8C00XXXX . I believe it was when i set GENERAL_COMPILER:=0.  One thing that striked me was different was the use of -fsingle-precision-constant on more archs on reicast itself than on libretro.

[2018-06-15 10:45] skmp commented on #152
Android kinda kills the process on background so it is partially to blame
as well.

On Fri, 15 Jun 2018 at 11:52, Christoph <notifications@github.com> wrote:

--
~skmp

[2018-06-15 14:53] LoungeKatt commented on #152
If it were just Android killing the process, you would need to attach the activity to a (i forget the specific classification) notification that keeps it running and prevents task killer from sniping it.
Problem with that being that you are now running the full emulator alongside whatever other task.

[2018-06-15 14:55] LoungeKatt commented on #1184
Duplicate of https://github.com/reicast/reicast-emulator/issues/1103

[2018-06-15 15:51] skmp commented on #152
we can pause the cores so it’s alright?

On Fri, 15 Jun 2018 at 16:53, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-06-15 16:41] jpyper commented on #152
I'm not an Android developer, but as a Linux and Windows developer, I can suggest that the app could keep track of its visible state. When the app becomes unfocused, it could write a save state file that holds all the settings and state of the emulator (with game loaded), then reload that state file when the emulator regains focus or is loaded again.

Think of it kind of like how Firefox does sess

[2018-06-15 16:44] skmp commented on #152
Yeah, and there is already a ticket for this. As reicast is much higher
throughput than say firefox, it is much harder to implement these features.
And I am lazy. We emulate 100 milion of opcodes per second. Compare that to
how many tabs you open per second to see the difference in scale.

On Fri, 15 Jun 2018 at 18:41, John Pyper <notifications@github.com> wrote:

--
~skmp

[2018-06-15 19:09] blackman91 commented on #152
Good idea. Yeah the notification to prevent Android from killing the app and just pause the cores would be a great workaround, you would no longer lose progress just because you got a phone call.

[2018-06-15 19:21] twinaphex commented on #1167
We are testing the x64 dynarec here and an x86 x64 build, which relies on xbyak.

[2018-06-15 20:41] rcaridade145 commented on #1167
@skmp  @twinaphex this is what i'm getting

[code]
Is that section not the bios? Wonder why the unsupported warning

[2018-06-15 20:58] retrobenny commented on #1184
Oh sorry,I should've spent the time to dig through the mere 13 pages because it was just on page 2.

[2018-06-15 20:58] #1184 closed

[2018-06-15 21:17] blackman91 commented on #152
Just realized that using the app Happy Chick that uses Reicast illegally:
https://github.com/reicast/reicast-emulator/issues/452

You can press the Android home button or recent apps button and reicast doesn't lose its state and doesn't restart:
https://youtu.be/HH-wBw7H2Dw

Made a quick video about it, how is that possible?

[2018-06-16 12:06] skmp commented on #1172
Well, we def. need a higher bounty if this is to motivate someone. The vulkan renderer is a major undertaking, 100-150 hours of work I'd estimate.

[2018-06-16 17:52] LoungeKatt commented on #152
The workaround would be requiring users to disable the battery management on reicast and rolling the dice on whether or not leaving simply pausing and leaving it in the background would get killed.
Using a service with `startForeground()` is actually the proper way to run an app in the background that you don't want killed off by memory management.
Happy Chick has little concern for anything but h

[2018-06-16 17:55] LoungeKatt commented on #1184
It's not *exactly* identical, but the end result of both will add the same functionality.

[2018-06-16 19:30] twinaphex commented on #1167
@skmp @rcaridade145 Is this related?

https://github.com/flyinghead/reicast-emulator/blob/master/core/linux/common.cpp#L91

Does this need to be implemented for x64 in order to support SMC?

[2018-06-17 04:52] skmp commented on #1167
Does libretro have https://github.com/reicast/reicast-emulator/commit/e512b95445ed2f3509e7afc01b7664c3042e6376?

I don’t know if the x64 backend actually implement the dochecks flag

[2018-06-17 04:54] skmp commented on #1167
Yeah, https://github.com/reicast/reicast-emulator/blob/master/core/rec-x64/rec_x64.cpp#L160 Does not implement the force_checks option. That’s the SMC validation logic for the fallback path. See how the x86 does it, it’s a trivial implementation.

Also not sure if the generic jit implements it. It is less sloppy than the x64 jit, but still it got written over two sleepless nights so .... here be d

[2018-06-17 05:01] skmp commented on #1144
A simple guide on how to take on bounties (Proposal)
——

Find an issue that already has a bounty, or an issue that looks interesting to you.
Start posting on that ticket that you’re willing to look at it
Colaborate with the bounty posters and the rest of the team to get the issue resolved
If the issue is proving too difficult, it is up to you to advertise and look for further backers. The reicast

[2018-06-17 05:04] skmp commented on #1150
Oh, also, after discussing with @MrPsyMan We decided that #746 #571 (ala, r7 release) will be worked on. I hope we’ll have a new build by sat morning, and to push it through all channels. Testing and bug fixes would be very much appriciated up to then :)

[2018-06-17 06:01] twinaphex commented on #1167
Well, if we can correctly assume that Marvel Vs. Capcom 2 and Shenmue 1's crashes are due to the same issue (SMC), switching to the generic JIT fixes the crash/hang on the second stage in Marvel Vs. Capcom 2 when it happens. However, it cannot fix all the crashes in Shenmue 1. You can get in further with generic JIT vs. the real dynarec, but crashes can and still will happen at later parts.

[2018-06-17 06:07] twinaphex commented on #1167
https://github.com/reicast/reicast-emulator/blob/master/core/rec-x86/rec_x86_driver.cpp#L324

It's not clear to me what I should backport to x64 based on this, this is the only part (apart from the profiler part, but I think we can easily ignore that for now) where force_checks is used.

[2018-06-17 06:07] skmp commented on #1167
Rec-cpp also has no smc implementation, but the cache is small so the issue is far less visible

[2018-06-17 06:08] skmp commented on #1167
Yeh, just port the DoChecks function and it should be alright

[2018-06-17 06:09] twinaphex commented on #1167
You mean CheckBlock? There is no DoChecks function.

[2018-06-17 06:18] skmp commented on #1167
Yes. w/e it is named nowadays.

On Sun, 17 Jun 2018 at 08:09, Twinaphex <notifications@github.com> wrote:

--
~skmp

[2018-06-17 13:15] rcaridade145 commented on #1167
@skmp but that does not explain why i can run on amd64 on reicast master and not on libretro

[2018-06-17 16:27] sionco opened #1186 "Ferrari F355 Challenge Graphics Glitch with mirror"
*Any information not included may be requested when diagnosing the issue*

| Platform | Branch ||
| Android | Main |
| Tried from both Google Play and builds webiste.

**_Description of the Issue_**
When driving the image from the car's windscreen mirror covers the whole screen, meaning that you can only see backwards and can't see in front of you.

It is a shame, as everything else seems to displ

[2018-06-17 16:28] sionco commented on #1186
I think the same issue affects the sniper rifle in MDK 2,

[2018-06-17 18:13] rcaridade145 commented on #1167
@skmp

`rui@rui-desktop:~/Transferências/reicast-emulator-master/shell/linux$ readelf -a reicast.elf | more
Cabeçalho ELF:
  Magia:   7f 45 4c 46 02 01 01 03 00 00 00 00 00 00 00 00
  Classe:                            ELF64
  Dados:                             complemento 2, little endian
  Versão:                            1 (current)
  OS/ABI:                            UNIX - GNU
  Versão ABI

[2018-06-17 18:30] twinaphex commented on #1167
Does a similar ifdef need to be added too for 64bit?

https://github.com/reicast/reicast-emulator/blob/master/core/windows/winmain.cpp#L138

[2018-06-18 08:41] skmp commented on #1186
Now with tile clipping in these should be fixed. @MrPsyMan got a moment to
test?

On Sun, 17 Jun 2018 at 18:28, sionco <notifications@github.com> wrote:

--
~skmp

[2018-06-18 10:32] skmp commented on #1167
no, they would not. Rec cpp has 8k active blocks, x64 has 128k or so.

You know, you can trust me a bit, i’ve only written 95% of the code and
been debugging this codebase for 15 years now.

It is not compiler flags or something similar. I broke those game on
purpose by removing SMC to make things faster.

On Mon, 18 Jun 2018 at 12:26, rcaridade145 <notifications@github.com> wrote:

--
~skmp

[2018-06-18 11:04] rcaridade145 commented on #1167
@skmp I did not meant to be rude in any way.  If i did that i'm sorry.
And  do i have a lot of respect for the work that has been done.  I'm just trying to understand why reicast ok and libretro nok. When i mentioned flags i was referring to libretro.  Reicast uses f-single-precision float libretro does not.

[2018-06-18 11:55] skmp commented on #1167
No offense taken. single precision floats have never caused a hard core
crash, so that is extremely unlikely. Shenmue broke before I switched to
single precision. We already have an smc workaround for shenmue, even for
the psp version.

On Mon, 18 Jun 2018 at 13:04, rcaridade145 <notifications@github.com> wrote:

--
~skmp

[2018-06-18 12:48] twinaphex commented on #1167
Hopefully we can reach the consensus now that what @skmp suggested earlier (honoring the force_check bits in the Compile function of the x64 dynarec) should be honored. You can use the 32bit x86 version as a base for this, the emit functions just have to be converted to the xbyak equivalents and you might need to ask @skmp about which parameters you need to feed to the DoChecks function.

But this

[2018-06-18 14:05] rcaridade145 commented on #1167
@skmp Thanks for your input. One more question. You say that rec-cpp has 8k cache. If a block inside that cache becomes invalidated and the block size is X what must happen if the new block size is Y and X!=Y.

 @twinaphex :)

[2018-06-18 14:54] skmp commented on #1167
Blocks are variable length and not reused. A cache reset happens when we
run out of block descriptors

On Mon, 18 Jun 2018 at 16:05, rcaridade145 <notifications@github.com> wrote:

--
~skmp

[2018-06-18 18:30] barbudreadmon commented on #1164
The name must be naomi_boot.bin and the file must be in data directory. The few games i tried didn't work though (they complain about "board error" on the naomi screen then send me to the cabinet service screen).

[2018-06-19 00:48] skmp commented on #152
@LoungeKatt can you update this ticket with what you think should be done? Will make it easier for people that want to implement / post bounties

[2018-06-19 10:33] skmp commented on #1150
Me and @rrrh had a couple of days, looks like we will have two major tracks for the event.

@rrrh will most likely focus on an aarch64 backend, likely using vixl for emitting.

@skmp will try to get 256b running in an fpga implementation, either using j2/j4 from [j-cores](http://j-core.org/) or by writing a minimal verilog implementation of sh4.

Plus, r7

[2018-06-19 13:48] LoungeKatt commented on #152
Attach a service to the emu
Use `startForeground()` when necessary to keep it running
Handle application states

It's honestly a lot less complex than it sounds in paragraph form.

[2018-06-19 17:15] baka0815 commented on #1186
I just tested this and can confirm that the mirror is working.
![F355 working mirror](https://gist.githubusercontent.com/baka0815/b4442d6391f7f78b2df44a149f6c592d/raw/042c3ae84c486a2c64211e748fa46f1a9ec20da4/reicast%2520f355.png)

[2018-06-19 21:28] danboid commented on #1005
I don't know why this wasn't working for me last time I tried it but I have tried reicast for the second time today and it does let the user load roms simply by specifying the path.

[2018-06-19 21:28] #1005 closed

[2018-06-19 21:30] danboid commented on #1020
I can confirm this issue under latest git reicast as of today running under Ubuntu 18.04 x64

[2018-06-19 22:53] #1186 closed

[2018-06-20 00:09] danboid commented on #1006
Yes, this is still an issue. I've just tried Sonic Adventure under the latest git version of reicast under Ubuntu 18.04. The gdi file as downloaded off archive.org looked like this, which didn't load:

[code]

So I renamed the files and edited the .gdi file to look like this:

[code]

Then it loaded.

First I tried removing the brackets from the filenames, that didn't fix it. Next I tried removing

[2018-06-20 00:17] twinaphex commented on #1167
Yeah, we know now which function needs to be backported to the x64 driver in order to fix this, but it seems nobody has been able to do it yet.

[2018-06-20 00:56] danboid opened #1187 "libev / linux joystick support broke"
*Any information not included may be requested when diagnosing the issue*

| Platform | Branch | Hash | CIDL |

| ------ | ------ | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch name (or Google Play) | Hashtag (delete if unknown) | Downloaded from build site? |

Ubuntu 18.04 x64 running latest git code as of 20th June 2018

**_Description of the Issue_**

I have been unable t

[2018-06-20 01:09] danboid commented on #1187
I used reicast-joyconfig to create a custom mapping file for my joypad which I have set to have loaded via ~/.config/reicast/emu.cfg like so:

[code]

[2018-06-20 01:34] blackman91 commented on #898
Just tested it and it works in both Reicast Retrarch cores:
<img width="826" alt="reicastretroarch" src="https://user-images.githubusercontent.com/6578180/41632554-1b70a1b0-7400-11e8-811b-b09cae987104.png">

Still not working on standalone reicast for some reason.

[2018-06-20 01:38] blackman91 commented on #1162
The bugs referenced in this issue are fixed in both Retroarch reicast cores, just tested it so they should be fixable in standalone too.

[2018-06-20 03:54] LoungeKatt commented on #1167
@twinaphex Wasn't sure, since the last thing you mentioned was only the one-liner. I have enough on my plate without getting directly involved in this one, too. I am sure you guys can handle it, but figured whatever info I could offer with a quick glance was better than nothing.

[2018-06-20 09:13] sionco commented on #1186
on Android it doesn't.

[2018-06-20 10:54] LoungeKatt commented on #1162
@blackman91 That doesn't really change anything for this issue, except that those two issues can be fixed another way.

[2018-06-20 11:08] rcaridade145 commented on #1167
I'm not sure that implementing that per backend is the best way to go. @skmp  Would very much like your input here.  Would you consider appropriate an approach like https://github.com/mupen64plus/mupen64plus-core/blob/master/src/device/r4300/new_dynarec/new_dynarec.c  with its memory_map.

Reasoning would be implement a sort of view over the ram and if the block got invalidated by a write to a sec

[2018-06-20 11:36] barbudreadmon opened #1188 "Naomi support status"
## Why fixing naomi support would be a good thing
I thought i would open a new issue about this, because the old ones don't cover everything.

First, for the remainder, there are quite a lot of games that were never ported from naomi to dreamcast or any other console, you can find a partial list there : http://www.thedreamcastjunkyard.co.uk/2016/01/guest-article-expanding-dreamcast.html, the list

[2018-06-20 12:30] twinaphex commented on #1167
@rcaridade145 I think it would be more prudent to just implement this for x64 and then later on look at your memory map idea. I really think it's a bad idea to not go for the low hanging fruit here and instead add even more potential complications to what ought to be a simple and straightforward fix. Best to split that up into a separate issue and tackle one issue at a time.

[2018-06-20 12:43] twinaphex commented on #1167
I will add another $50 to the bounty if we can implement this DoCheck function in the most straightforward manner possible, and if that will fix the issues.

Just to clear up any confusion, I am not against the memory map ideas proposed. I just would like to see the main issues fixed first before we move onto something more ambitious.

[2018-06-20 13:45] rcaridade145 commented on #1167
@twinaphex gotcha.

[2018-06-20 14:08] twinaphex commented on #1167
OK, let me get that done as soon as possible.

[2018-06-20 14:49] skmp commented on #1167
Yes, using pages for protection is the best long term approach. Manual
checking is needed for some blocks cus they store both data and code
nearby.

nullDC implemented a hybrid approach with some bonus optimizations on top
like immification of memory constant pools.

Implementing the DoChecks is the first step for accuracy, and then we can
figure out how to optimize from there.

On Wed, 20 Jun 201

[2018-06-20 14:50] skmp commented on #1167
Also please note, there are a few platforms that have no mmu - eg, html5.

On Wed, 20 Jun 2018 at 16:49, skmp <skmp@emudev.org> wrote:

--
~skmp

[2018-06-20 18:01] barbudreadmon commented on #1188
Some more informations.

I tried nullDC-naomi with the `epr-21576h.ic27` bios, i got a black screen, so i guess it would make sense if this bios doesn't work in reicast-naomi either.

Then I tried nullDC with the `epr-21576d.ic27` bios, this one allowed me to launch some games in nullDC, the same combination of bios/roms doesn't work in reicast, but give me a different error message : "Error 01 Th

[2018-06-20 18:18] barbudreadmon commented on #1188
Good news ! I figured a fix.

Actually, it seems the `.lst` extension is omitted in https://github.com/reicast/reicast-emulator/blob/75189f0a783d89844e30caf4b69961230b3b8098/core/cfg/cl.cpp#L131-L151
Adding lst in the cdi/gdi/chd condition allowed me to launch a game successfully :).

[2018-06-20 18:20] rcaridade145 commented on #1167
@skmp  another probably stupid question but

`ngen_blockcheckfail:
	call rdv_BlockCheckFail
	jmp eax

###########################################

.globl ngen_blockcheckfail2
.type ngen_blockcheckfail2, @function

ngen_blockcheckfail2:
	int 3
	call rdv_BlockCheckFail
	jmp eax`

CheckBlock(block,force_checks?x86_ptr_imm(ngen_blockcheckfail):x86_ptr_imm(ngen_blockcheckfail2));
Both on fail and succe

[2018-06-21 01:00] LoungeKatt commented on #1167
https://github.com/reicast/reicast-emulator/blob/master/core/hw/sh4/dyna/ngen.h#L68 ?

[2018-06-21 01:05] LoungeKatt commented on #1188
If that is all it needs, that sounds harmless enough to fast track.

[2018-06-21 01:37] skmp commented on #1188
Lol people reverse engineering reicast xD. That’s dedication! Sorry for the
(total) lack of documentation and testing, got lazy.

If you have questions about how things work, why don’t you drop by #reicast
in freenode? I idle there a lot.

Good catch with the missing lst extension!

On Thu, 21 Jun 2018 at 03:05, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-06-21 01:40] skmp commented on #1167
because i wanted to get crashes on unexpectedly changed code so i‘d notice
it and add blocks to the blacklist

On Thu, 21 Jun 2018 at 03:00, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-06-21 03:33] twinaphex commented on #1167
Added another $50 to the bounty guys. So that is $150 in detail from me, and there is only 1 backer.

[2018-06-21 08:01] rcaridade145 commented on #1167
@skmp but in the end both will invalidate the code if force checks is 1 no?

[2018-06-21 08:06] skmp commented on #1167
No, it is a bit complicated. But this is a debug feature that is special
for x86. When the flag is false, you should not do any checks (see how the
arm backend does it).

On Thu, 21 Jun 2018 at 10:01, rcaridade145 <notifications@github.com> wrote:

--
~skmp

[2018-06-21 09:36] barbudreadmon commented on #1188
I didn't check further yet, there could be more issues, i'll let you know as soon as i get some time for this.

I'm working on an emulator myself (fbalpha, mainly the libretro version but i also help with the standalone version), so i'm kinda determined on doing as much as i can to fix this ^^. Not sure i'll have the skills to do it alone though, honestly i'm mainly good at tracking issues and fin

[2018-06-21 12:00] barbudreadmon commented on #1188
Here comes the next batch of informations.

The japan H bios still doesn't work, so i decided to use the japan G bios since he is next in line for the best compatibility.

Sadly, the controls are all over the place, fixing this will be tricky, because unlike dreamcast where everything is unified, there are several kind of controls in naomi. So i guess we'll need something to determine which game i

[2018-06-21 12:33] LoungeKatt commented on #1188
https://github.com/reicast/reicast-emulator/tree/master/core/hw/naomi

[2018-06-21 13:57] barbudreadmon commented on #1188
Either i don't understand how it works, or the code handling inputs is somewhere else. What about https://github.com/reicast/reicast-emulator/blob/master/core/linux-dist/evdev.cpp ? Seems to me like we should add something in https://github.com/reicast/reicast-emulator/blob/1f088f211d273b86875b91b567bd08a6a9fce0fe/core/linux-dist/evdev.cpp#L161-L193

Perhaps things like
`load_keycode(&mf, "naomi",

[2018-06-22 07:54] baka0815 commented on #1006
Looks like the issue could be line 112 in gdi.cpp:
https://github.com/reicast/reicast-emulator/blob/1f088f211d273b86875b91b567bd08a6a9fce0fe/core/imgread/gdi.cpp#L112

[2018-06-22 13:34] LoungeKatt commented on #1006
@baka0815 That wouldn't be the issue. That would still detect that the last character is a whitespace between both `somefile 0` and `"somefile" 0`
It's the next few lines that more likely need some tweaking.
[code]

[2018-06-22 13:49] LoungeKatt commented on #1006
I am curious of both of these have identical results in regards to this issue:

[code]

[code]

[2018-06-22 17:08] spielvan commented on #1188
One question, this latest version of Reicast for Android, is already supporting the Sega Naomi games? A hug

[2018-06-22 22:09] petervirtual commented on #164
Me too. I would happily test it also. All the the master builds have the symptoms I have described previously and I would really appreciate a fix for this too. Not sure I have the skills to contribute in any other meaningful way, but I would be willing to help out in any way I can.

[2018-06-23 02:01] conkerbad4day commented on #164
Well testing is another thing first it would be nice to see support from the team and try to fix unreal tournament.... that the only game i want and that the only one that fucked please dev we need a fix thank!

[2018-06-23 02:58] conkerbad4day commented on #164
Reicast is dead confirmed that dont care anymore and they wont fix u real tournament soon we cant play this gem im sorry dude people have been waiting 4 years for an actual fix nobody have came to at least try...this team is lame and bs us everytime i call it and idc anymore like they are.

[2018-06-23 03:43] LoungeKatt commented on #164
@conkerbad4day There are huge leaps being made to update the entire core of the emulator, many of which will indirectly address this issue. The project is far from dead and the team does care. If you feel otherwise, then I am sorry to hear that. If you would prefer, I would be more than happy to stop work on everything else to sit down and have a conversation.

[2018-06-23 04:14] conkerbad4day commented on #164
4 yeara or even 5 years mate not at least trying i mean it waa working before what problem is this but 5 years gape dont prove they support it i checked ok they r still alive but they do little and i wont support a team that have 5 years gap...i support dolphin daily update and no bs

[2018-06-23 04:43] LoungeKatt commented on #164
@conkerbad4day I am not sure what you mean by 4 or 5 years. The application is hosted on Google Play for convenience, but is not updated with a lot of semi-functional builds. Experimental builds are instead hosted on the continuous integration site (builds.reicast.com), but may require looking further than the master branch to see where all the progress is happening.
Dolphin has a team of 26 peopl

[2018-06-23 05:04] conkerbad4day commented on #164
Be supporting i mean paying you guy a beer anyway dolphin work well now thanks to those 26 people reicast is 12 people like you saying ok that great that doesnt change the fact that this problem is 4 years old even if 4 dude is actively doing something why dont he fix this so we close this damn problem ,i can help test compiled version but that about it im not crying over im just seeing the facts

[2018-06-23 10:14] baka0815 commented on #1006
Maybe I'll have time tomorrow to look into this.

[2018-06-23 12:14] LoungeKatt commented on #164
If I follow what you are saying, you have not supported the project in the past and do not plan to now because this issue has not been solved. You also assume that because this issue is not resolved, the "dev" doesn't realize people are interested in the emulator. You are comparing this to Dolphin, which coincidentally supports the specific games you desired.

Here are all of the issues actively b

[2018-06-23 12:21] LoungeKatt commented on #164
(Off topic conversation removed. Those involved may refer to their email notifications)

[2018-06-23 12:21] conkerbad4day commented on #164
Did i ever said they where similar?!? No... what im saying is that it seems rather long for a team of 12 guy to fix a little problem that was not here at first ofc it can happen but 4 years in my book is rather long all problem dolphin try to fix them in 1 years or less that seem like a reasonable wait but 4 years that so long iv seen the ticket and iv seen that unreal tournament is not the only p

[2018-06-23 12:38] LoungeKatt commented on #164
You keep referencing Dolphin, so you are implying that it is somehow similar.
Unreal Tournament is **FAR** from the only problem.
You keep referencing 4 years based on this issue alone.
That is 12 people total. That does not account for how recently some have joined or those that only work on a specific frontend exclusively. That number was only relevant in saying that compared to other projects,

[2018-06-23 12:46] conkerbad4day commented on #164
Im just assuming too fast maybe hahaha dont worry im not that interested in playing the game my son is well no worrys dude ur team can take wathever time you want i was just pointing out 4 years yes is long so pleaae dont worry about my statment comparing dolphin it was a stupid thing for me to do ....

Now what could it take to be a tester i got no pc at my hand and i wish to test evergame( i got

[2018-06-23 15:17] petervirtual commented on #164
I’m certainly impressed by all the hard work that goes into a project like this. Honestly, I wish I had the skills it takes to troubleshoot a bug like this one.

I would be greatful if the issue I have experienced and described previously in this thread could be fixed.

Any suggestions on how I could encourage the skillful and smart developers on this project to take a closer look would be greatly

[2018-06-23 20:10] blackman91 commented on #898
Are the log2 depth commits and fog changes coming to standalone reicast?

[2018-06-23 21:34] LoungeKatt commented on #898
It depends if they can be isolated into specific changes and still solve the specific issue after being added. Otherwise, it may be easier to start fresh attempting to resolve the issue directly.

[2018-06-24 10:35] baka0815 commented on #1006
It's all because the ``skipws``-flag is not reset...

[2018-06-24 12:14] LoungeKatt commented on #1006
Back when this was ported based on claims that RA could handle whitepsace and reicast couldn't, it was a simple oversight.
[code]

So rather than a lot of changes to initialize variables and then explicitly define whitespace outside the actual usage, couldn't you just add the `gdi >> std::skipws;` after `track_filename += last;` and be done with it? Or even duplicate the original implementation by

[2018-06-24 12:35] baka0815 commented on #1006
Ok, I resubmitted the fix in #1191.

[2018-06-24 14:49] LoungeKatt commented on #1006
https://github.com/baka0815/reicast-emulator/blob/41ee5707a827ed94327b4d18551bcadc3f06c524/core/imgread/gdi.cpp#L117 should also be moved above https://github.com/baka0815/reicast-emulator/blob/41ee5707a827ed94327b4d18551bcadc3f06c524/core/imgread/gdi.cpp#L116 (for consistency)

[2018-06-24 18:04] theboy181 opened #1192 "Error on load "Debug Assertion Failed""
I downloaded the Windows X64 off of the forums, and inserted the BIOS, and FLASH required in the DATA folder.

When I start Reicast it brings me to an OPEN window, I am thinking this is for the image files? When I open Bin files I get the error described in the title.
![image](https://user-images.githubusercontent.com/9299743/41822019-3412ba86-779e-11e8-8617-6771fcc0f9ba.png)

Am I doing something

[2018-06-24 19:32] Deivmsr commented on #898
I follow your work and I always try a new Reicast build. But LoungeKatt do you have plans to do that on this issue? Maybe it could help to correct the lack of shadow in the King boom boo boss of Sonic Adventure 2, because in the last implementation of the volume modifier of yours this problem in my Note 8 with Mali GPU this has not been solved.

[2018-06-25 14:33] #1006 closed

[2018-06-25 15:32] baka0815 commented on #1187
With #1182 merged, you can specify a config file in the ``~/.config/reicast/mapping/`` directory with the name of your evdev-device.
On the command line something like ``evdev: Found '<your usb device>' at '/dev/input/event16'`` will be displayed and your config name should then be ``~/.config/reicast/mapping/<your usb device>.cfg``

Look if you get any comment regarding a missing ``.so`` file on

[2018-06-25 15:35] baka0815 commented on #1146
This should be fixed by #1191 too.
The output in the log looks identical:
[code]

[2018-06-25 15:50] #1146 closed

[2018-06-25 19:05] blackman91 commented on #1188
It seems the Reicast Retroarch cores already have naomi support:
https://www.reddit.com/r/emulation/comments/8tizhz/retroarch_reicast_is_running_naomiatomiswave_games/

Why is the standalone lagging behind in all those new features and bug fixes?

[2018-06-25 20:40] LoungeKatt commented on #1188
@blackman91 reicast requires that the author signs off on submissions. That means we wouldn't simply wander over to another project and begin ransacking their source and copying code. For "common knowledge" one-liners, it is easy enough to simply credit the author, but anything significant is best done with the original author's consent and involvement.

It may help to remember that only so many t

[2018-06-26 06:06] danboid commented on #1187
"Look if you get any comment regarding a missing .so file on the command line.
This was the case for me since the libevdev2 package in Debian only contains an libevdev.2.so file, but reicast needs libevdev.so. In that case just create a symlink in your lib folder (/lib/x86_64/ f. e.)."

Debuntu is the most popular family of Linux distros so this could do with a better fix than requiring the user t

[2018-06-26 06:22] baka0815 commented on #1187
Sure, there are ways to fix that, but did it fix your problem?

[2018-06-26 11:35] skmp commented on #1188
Plus, in general, I don't like to see half-done/hackfixes merged in reicast, while @twinaphex has a more lenient policy around that.

[2018-06-26 11:36] skmp commented on #1167
So, is anyone actively working on this? Could get it done tomorrow but I'd rather someone else do it since there is a bounty on it

[2018-06-26 11:50] rcaridade145 commented on #1167
@skmp  I have been studying it and trying to learn the best way to implement it.  Looking at other projects and trying to learn.
In my opinion for rec-x64 and rec-cpp would be something like https://github.com/devmiyax/yabause/tree/master/yabause/src/sh2_dynarec_devmiyax .. If you can implement it ,please do :)

[2018-06-26 11:51] twinaphex commented on #1167
Yeah, I told @skmp too that I would be fine with the bounty still going towards you for your efforts, or if he prefers it goes to him and he then reallocates it to other bounties/issues that need it, I am fine with that as well.

I only care about seeing the issues finally resolved. I am fine with whatever you guys suggest.

[2018-06-26 11:53] skmp commented on #1150
(Updated the first post with more information)

[2018-06-26 11:53] skmp commented on #1150
@reicast/members Will any of you join remotely?

[2018-06-26 12:11] twinaphex commented on #1188
I don't think the Naomi changes is something that @skmp wants, because what I did was refactor the NAOMI_BUILD compile-time ifdefs so that Naomi can be enabled/disabled at runtime. In order to do this, I had to increase some array sizes and I had to introduce some conditionals along the way. So I don't think that is where skmp wants to go with mainline Reicast.

The reason I did it like this is be

[2018-06-26 12:16] rcaridade145 commented on #1167
@twinaphex @skmp At the end of the day i only care about the product (also an end user :) ) . So if goes to the person doing the implementation totally ok. If you decide to reallocate that for another project i'm ok also. Like you said "I only care about seeing the issue finally resolved".

@skmp One thing i noticed especially on libretro reicast is that when -flto  at the end of the build on Linu

[2018-06-26 12:16] skmp commented on #1188
Yeah. I don't want to get runtime ifs as they affect performance. I think the best short term solution for mainline is to do a build matrix (dc, naomi, dc-with mmu). Possibly the code can be refactored so the speed hit is negligent in the future.

[2018-06-26 12:52] LoungeKatt commented on #1167
Why not split it? Half to @rcaridade145 for his investment and half recycled into other issues?

Is there some method for allowing that?

[2018-06-26 12:57] LoungeKatt commented on #1188
@twinaphex @skmp Thanks for the clarification. I was trying not to get into that aspect because that is between you two.

[2018-06-26 13:18] skmp commented on #1167
@rcaridade145 if you want to work on it, I'm not in a particular hurry. We do want to push r7 out during #1150 so if it's not done by then I'll do it. Meanwhile, feel free to poke me at irc if you have any questions :)

[2018-06-26 13:38] rcaridade145 commented on #1167
@skmp I think its better for everyone that if could get it done by tomorrow you should :) It is better for everyone than waiting on my learning / implementation/ etc  :) Like i said first of all is getting the issue resolved :)

[2018-06-26 13:39] twinaphex commented on #1167
I agree with @rcaridade145.

[2018-06-26 13:43] rcaridade145 commented on #1167
@skmp  @twinaphex  Even because with that implemented i'm not sure if Libretro won't need more work. I can after all play the game on reicast standalone like the screenshots before show.

[2018-06-26 13:49] rcaridade145 commented on #1167
Btw @skmp you sent an e-mail. Not sure if had that info :)

[2018-06-26 13:50] twinaphex commented on #1167
I'm not sure if @skmp remembers too but there was another bounty I talked with him about before (libretro-specific) dedicated towards getting the x86/ARM dynarecs working in libretro. . I seem to remember he said if it wasn't done before a certain timeframe he would look at it. It is already a higher bounty so if preferable we could have this bounty already successfully completed before that confe

[2018-06-26 13:54] rcaridade145 commented on #1167
@twinaphex Have to commit my work on that by today but if you look at the Makefile on reicast and the one Libretro, on terms of x86, there are lots of -m32 missing.

[2018-06-26 13:56] twinaphex commented on #1167
Yeah, I see right now there is a guy in that thread who has a dynamic library for reicast 32bit. I will have to find somebody with a 32bit Linux machine (or set one up myself) in order to test.

[2018-06-26 13:58] rcaridade145 commented on #1167
@twinaphex Let's hope he can't get any picture due to 32 bit drivers lacking :)

[2018-06-26 14:05] twinaphex commented on #1167
BTW, when you tested Shenmue and you reported that it worked on your end, did you use a CDI rip or the GD-ROM original? I hear from @Shoegazr it can make a difference.

[2018-06-26 14:11] rcaridade145 commented on #1167
@twinaphex  cdi rip

[2018-06-26 14:16] twinaphex commented on #1167
OK, that could have been why you were not able to reproduce the crashes then.

[2018-06-26 14:21] LoungeKatt commented on #1150
I won't know until next week.

[2018-06-26 14:34] rcaridade145 commented on #1167
@twinaphex Ok. Still have to fix some issues caused by including libretro headers that i've identified last night. INLINE , MAX , MIN are being redefined because they are  also present on https://github.com/reicast/reicast-emulator/blob/master/core/types.h#L452 and for Linux that is wrong http://jijithchandran.blogspot.com/2013/12/force-inline-functions-in-cgcc.html

[2018-06-26 14:41] twinaphex commented on #1167
Things compile just fine for me on both Linux and Windows.

[2018-06-26 14:43] LoungeKatt commented on #1167
@rcaridade145 If you need to verify the compile, you can always submit it as a PR (and tag it don't merge) to use the automated builds.

[2018-06-26 14:46] rcaridade145 commented on #1167
@twinaphex @LoungeKatt  It compiles but the macros are redefined. If you try build it with clang for instance it is very much verbose about that.

[2018-06-26 14:53] twinaphex commented on #1167
I'll take a look at it.

[2018-06-26 16:16] twinaphex commented on #1150
Crossposting this by request -

https://github.com/libretro/reicast-emulator/issues/12

[2018-06-26 20:38] telmich commented on #1150
Something @skmp might not have mentioned: There's free food at the hackathon and very pretty mountains. So everyone should come just for slacking off! (we will later catch you in the mountains and bring you back to hackin' on reicast though, because we know better where you get stuck  - but I'm not going to tell this anyone yet...)

[2018-06-26 20:55] LoungeKatt commented on #1150
@twinaphex That is a somewhat misleading title. Looked like a much bigger issue.

[2018-06-26 22:17] danboid commented on #1187
This isn't the case under Ubuntu 18.04. /usr/lib/x86_64-linux-gnu already contains libevdev.so which is a symlink to libevdev.so.2.1.20. I have just rebuilt the latest git and it still says

[code]

[2018-06-27 06:10] flyinghead commented on #898
Most problems with this game are Z depth issues, that can be solved using the log2 depth scaling. Fog is used on some levels but doesn't affect playability that much I believe.

[2018-06-27 09:33] skmp commented on #898
log2, or any other transform that is non linear, causes problems with
intesecting geometry. nullDC had four depth handling modes iirc. One
linear, one non linear, an fp32 mode and a per-pixel non linear fallback
(slow, but almost pixel perfect)

On Wed, 27 Jun 2018 at 08:10, flyinghead <notifications@github.com> wrote:

--
~skmp

[2018-06-27 10:10] xchimp opened #1193 "Reicast OIT Crashes to Desktop"
*Any information not included may be requested when diagnosing the issue*

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
|Windows 10 64bit | Reicast OIT |  | Downloaded from within RetroArch |

**_Description of the Issue_**

When launching any game using the Reicast OIT libretro core, RetroArch loads the game to a black screen for a second, then crashes to the desktop.

**

[2018-06-27 10:57] baka0815 commented on #1187
The message you get seems to be from libwebsocket
https://github.com/reicast/reicast-emulator/blob/e6afd22f985defcb584aececf5ad93b55999021b/core/deps/libwebsocket/private-libwebsockets.h#L470

It is supposed to be displayed if ``LWS_USE_LIBEV`` is not set. However I don't find any part in the source defining this.

[2018-06-27 11:36] Deivmsr commented on #898
I do not understand programming, I'm just a user, but would not it be possible to add these depth options? It is very bad you need a simple shadow in Sonic Adventure 2 to progress in the game and realize the lack of it. If you had an option to enable / disable this feature it might help, theoretically.

[2018-06-27 13:28] flyinghead commented on #898
I'm not familiar with nullDC but at first look it seems the z scaling was applied in the fragment shader. If the scaling is not perspective-correct then you get weird graphical issues (like straight lines not being straight...)
The log2 scaling I'm referring to is applied in the fragment shader, so it doesn't have to be perspective-correct since it's only used for the depth test.
However you need

[2018-06-27 14:55] skmp commented on #898
It has to be perspective correct, because the dreamcast uses screen space
and not world based coordinates. Doing it per pixel preseves the linearity
of the interpolation, and all is good. Doing it per vertex introduces weird
artifacts over large triangles, like sea in SA2.

Yes, we dhould have both options, and default to the best one.

On Wed, 27 Jun 2018 at 15:28, flyinghead <notifications@githu

[2018-06-29 13:14] skmp commented on #1193
What is reicast OIT?

[2018-06-29 16:59] twinaphex commented on #1167
https://github.com/reicast/reicast-emulator/pull/1194

My initial tests -

Shenmue 1/2 works now with x64 dynarec.
Marvel Vs Capcom 2 no longer hangs at the second/third stage with x64 dynarec. Previously you needed rec_cpp in order to get this to work.
Heavy Metal Geomatrix no longer crashes after character select with x64 dynarec. Previously you needed rec_cpp in order to get this to work.

DOA2

[2018-06-29 19:31] gouchi commented on #1193
You should open the issue to the [dedicated repository](https://github.com/libretro/reicast-emulator).

About [Reicast OIT](https://www.libretro.com/index.php/introducing-reicast-oit-libretro-core-updated-reicast-regular-core/).

[2018-06-29 21:22] xchimp commented on #1193
My mistake, sorry for the confusion.

[2018-06-29 21:22] #1193 closed

[2018-06-30 10:12] danboid commented on #1187
@baka0815 Thanks for the update

Sounds like that error/notice needs changing to be more clear. What is reicasts libwebsocket support for? Should Linux joystick support still work even if libwebsockets doesn't?

[2018-06-30 10:20] skmp commented on #1187
yes, lws was for remoting ideas

On Sat, 30 Jun 2018 at 12:12, Dan MacDonald <notifications@github.com>
wrote:

--
~skmp

[2018-06-30 15:28] twinaphex commented on #1167
For some reason the crash at startup with Shenmue 1 (New Game, Ryo gets out of boot, loading screen happens and a diary is about to be shown) still happens with Linux x64, but Windows x64 is fine. Not sure why that is.

More details here -

https://github.com/libretro/reicast-emulator/issues/55

[2018-06-30 15:40] Shoegzer commented on #1167
Confirmed here too, also with Marvel Vs. Capcom 2 - still having crashes with these games.  Linux x64.  Thanks for any help tracking this down @skmp.

[2018-06-30 16:51] baka0815 commented on #1187
@danboid yes, it should (it does for me).

Are you getting a line similar to ``evdev: Trying to open device at '/dev/input/event16'`` further down (after loading the GDI)?
Could you provide the output of reicast (command line)?

[2018-07-01 05:45] zimudec commented on #1167
Retroarch version of windows with core reicast OIT with dynamic recompiler active (dynarec) with wine in linux, works perfect, without errors, fast and without crashes

[2018-07-01 10:54] skmp commented on #1168
Looks like this crash is not related to SMC though, it is a ta staging buffer overflow.

This is a workaround for doa2le. We could add a size check and support multiple buffers. I wonder what kind of perf hit that would have?

doa2le has a bug on the loading screen where it actually overflows the pvr memory. The first frame fails to render, but then the game resumes as expected ...

[code]

[2018-07-01 11:03] skmp commented on #1167
I had the windows register hardcoded in the codegen, updated the PR with a fix. Can you test again please?

[2018-07-01 11:06] skmp commented on #1193
Looks like this is an indepedant effort by @flyinghead. Are there any plans to post a PR upstream for these changes?

[2018-07-01 11:46] skmp commented on #1168
@twinaphex is NBA part of this ticket? Can we split to to a separate one, preferably in the (gamedb)[https://github.com/reicast/gamedb/issues] tracker?

[2018-07-01 11:50] twinaphex commented on #1168
@skmp Hmm, I will have to test NBA to see if there is actually a problem there. Sorry for mentioning it here when I wasn't being sure.

[2018-07-01 11:55] twinaphex commented on #1168
Also, as promised, here is one half of the $50 I promised I would add to this issue. The other half is coming as soon as I transfer some funds around.

[2018-07-01 12:21] twinaphex commented on #1168
I just tested NBA 2K (USA version). After the FMV copyright/intro screens there is no picture. With cable type set to TV (RGB) it just displays a blue screen, with cable type set to VGA (RGB) it displays a black screen. You can hear the sound and it will react to button input.

Anyway, if you prefer it, we can split this up into a separate ticket, whatever you prefer.

[2018-07-01 13:46] anothername99 commented on #1166
@skmp I'm fine with narrowing down the scope. I indend to add at least $200 later this month, but I would need a lot more time to gather $2000 on my own.

Your proposed first sprint sounds good. I would just add that it should work without any hardware acceleration.

[2018-07-01 14:14] skmp commented on #1166
I'll do some review and figure out priorities, and will probably add some more to this bounty - though it is a bit of a low priority item vs the very hot ones (Integrating the new android code, general backend cleanups and bugfixes)

[2018-07-01 15:18] flyinghead commented on #1193
@skmp I don't have any problem with backporting these changes upstream. But keep in mind that this renderer is still experimental: requires OpenGL 4.3 and desktop-class GPU and CPU, limited compatibility (pretty much NVidia only for now), etc. Given the current focus on mobile devices and low-end hardware I'm not sure what can be backported right now.
I started this work as a personal experiment t

[2018-07-01 15:37] skmp commented on #1193
It doesn't have to be fully working, or working on all platforms. Reicast has a ton of platform specific and testing code already.

In fact, I prefer it if experimental features are worked in the mainline tree, and merged to master as soon as possible. Over years I've found this to be the only strategy where code doesn't get lost in some forgotten place in someone's hard drive.

[2018-07-01 16:44] danboid commented on #1187
Finally found time to test this again. The good news is that I can confirm the "gdi's not loading because of special characters" bug seems to be fixed now but I still haven't got my joypad to work properly. If I don't specify a mapping file, my digital dpad works but none of the buttons do. If I do specify a mappings file in emu.cfg, I can get the buttons to work but the dpad doesn't! How bizarre!

[2018-07-01 16:45] danboid commented on #1187
Here's my emu.cfg

[code]

[2018-07-01 16:48] danboid commented on #1187
Here's a boot when specifying a mappings file:

[code]

[2018-07-01 16:52] danboid commented on #1187
Here's a boot with the

[code]

Line commented out. My dpad works but none of the buttons do:

[code]

[2018-07-01 16:54] danboid commented on #1187
[code]

[2018-07-01 17:12] legluondunet opened #1195 "Please add suport for Naomi Mame roms set"
Hello,

do you plan to add support for Naomi Mame roms set?
For example, the Naomi rom game Toy Fighter is called toyfight.zip and contain this files:

epr-22035.ic22
mpr-22025.ic1
mpr-22026.ic2
mpr-22027.ic3
mpr-22028.ic4
mpr-22029.ic5
mpr-22030.ic6
mpr-22031.ic7
mpr-22032.ic8
mpr-22033.ic9
mpr-22034.ic10

Reicast don't know how to launch this rom.
If Reicast support Naomi Mame roms set:
- less d

[2018-07-01 21:19] baka0815 commented on #1187
The default config has the wrong settings for your controller (0x304 or BTN_SOUTH instead of 0x290 for Btn. A). That's the reason your buttons don't work with the default.

That is the output of your 'working' dpad'
´´´´
btn_dpad1_left = BTN_DPAD_UP (544)
btn_dpad1_right = BTN_DPAD_DOWN (545)
btn_dpad1_up = BTN_DPAD_LEFT (546)
btn_dpad1_down = BTN_DPAD_RIGHT (547)
btn_trigger_left = BTN_TL (310)
b

[2018-07-01 21:28] baka0815 commented on #1193
It would be good if it wouldn't be only a compile time flag but should be configurable. Per command line parameter as a first step fir example and when a VUI is added later on one couls choose between renderes.

[2018-07-01 21:50] skmp commented on #1166
I guess that is platform specific? For windows I do gdi blits iirc.

On Sun, 1 Jul 2018 at 23:26, Christoph <notifications@github.com> wrote:

--
~skmp

[2018-07-01 23:17] twinaphex commented on #1166
I think it would be best not to make the software renderer dependent on a framework. Stuff like SDL or GDI blits should only be used for blitting the final output image, that way things can be kept portable without having to pull in large dependencies.

[2018-07-02 00:35] anothername99 commented on #1166
I agree with Twinaphex.

[2018-07-02 07:01] skmp commented on #1166
Yes, of course, how else would it be a software renderer? 😅

On Mon, 2 Jul 2018 at 02:35, anothername99 <notifications@github.com> wrote:

--
~skmp

[2018-07-02 19:41] danboid commented on #1187
@baka0815 Yay! That fixed my config! I now have working dpad and buttons!

It should be noted that I generated that USB .cfg file using reicast-joyconfig so there is a bug in there somewhere

My working config:

[code]

I had to change **axis_dpad1_x = 0** to **axis_dpad1_x = 16** and **axis_dpad1_y = 1** to **axis_dpad1_y = 17** and load my fixed config with **evdev_mapping_1 =**

[2018-07-02 19:44] baka0815 commented on #1187
Good that it works for you!

@skmp should this issue be treated as an issue for reicast-joyconfig then?

[2018-07-02 23:01] danboid commented on #1187
@baka0815
Suggested I also add **axis_dpad2_x = 18** but there was no need to add anything else to the above to config to have both my digital and analogue pads working. This is especially cool as I've never got my analogue pad to work under any other emulator or game. It's a Trust Predator USB and PS 1/2 joypad combined that's prob 10/15 years old now.

[2018-07-03 06:39] danboid commented on #1187
Kinda pointless to this bug but I feel the need to mention I gave PCSX2 (from the official Ubuntu 18.04 repo) another go last night and both my analogue sticks work under that. What an amazing emulator that is!

[2018-07-03 07:14] blackman91 commented on #898
Anyway you could somehow add the bounty from https://github.com/libretro/reicast-emulator/issues/27 to this issue?

[2018-07-03 12:09] LoungeKatt commented on #898
It's already added. The green Bounty Granted label specifies that it has a bounty attached.

[2018-07-03 17:14] baka0815 commented on #1187
Hmm, the config created for my Logitech RumblePad 2 looks like the following and the dpad is working as expected:
[code]

Don't know why reicast-joyconfig get ``0`` for your ``axis_dpad1_x``.
Did you press a direction on a dpad or did you press an analog direction?

If I press left/up on my analog stick I'm getting the values you got:
[code]

[2018-07-03 20:30] baka0815 commented on #1187
This is the same output for me if I press the analog stick instead of the dpad.
[code]
Do you have a dpad and are using it for the mapping?
Do you have a mode switch on your controller?

[2018-07-03 20:35] danboid commented on #1187
Seems I get the same as you for pushing up then left on my digital (8 way) dpad.

Is it not that 'proper' libevdev or some other code within/linked to reicast is correctly reading my joypads settings whilst the python module or script is borking that bit?

[2018-07-03 20:44] danboid commented on #1187
[code]
Yes, I have a 'digital' ("non-analogue") dpad on my joypad. It is that that I am pushing when it asks me to map DPad 1, right?

[code]

My pad has an analogue mode switch to enable the use of the two analogue sticks. analogue mode was off when I ran reicast-joyconfig

[2018-07-03 20:47] danboid commented on #1187
Are you suggesting that my 'dpad' is actually a  analogue stick in disguise?

[2018-07-03 21:10] danboid commented on #1187
So its actually just that the correct mapping for my dpad are used within controller_generic.cfg rather than libevdev having detected anything. Is this a libevdev bug then?

[2018-07-03 23:53] blackman91 opened #1198 "Outtrigger sound issues on Reicast."
*Any information not included may be requested when diagnosing the issue*

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 7 | ALL | - | yes |

**_Description of the Issue_**

Using latest dev reicast build the game has stuttering sound randomly, stable reicast from the playstore runs this with better sound but it is still present.

**_Debugging Steps Tested_**

  *

[2018-07-04 00:54] LoungeKatt commented on #1198
latest dev build? r7?
Which **branch**? master? android-studio?

[2018-07-04 02:19] blackman91 commented on #1198
Tried both master and the Android studio one, same bug happens in both.

[2018-07-04 15:26] zanzabarjones opened #1199 "Controller Support On Android Tv Has Been Broken A While Now"
Controller support for Reicast on Android Boxes such as the nvidia sheld tv has been broken a while now,most users resort to using R7 or a 2015 version which was the last version to have controller support

[2018-07-04 15:30] zanzabarjones opened #1200 "Please Add Android Tv Support"
Could you please add Android Tv support for oreo,it would be much appreciated

[2018-07-05 02:47] LoungeKatt commented on #1200
This should be a side-effect of https://github.com/reicast/reicast-emulator/pull/1163

[2018-07-05 02:48] LoungeKatt commented on #1199
Controller support was part of the reason to convert to Android Studio.
This should be fixed by https://github.com/reicast/reicast-emulator/pull/1163

[2018-07-05 06:41] danboid commented on #1187
My joypad is old enough it could be a USB 1.x joypad. I think it likely is.

Did the USB joypad /stick HID spec change slightly between USB 1.x and 2.x/3.x. Maybe you have a USB 2.x joystick and it expects different axes for the dpad? Long shot. Maybe its  an SDL 1.x/2.x quirk.

[2018-07-05 16:29] rubenjavier commented on #1150
Sounds great,
please CHD v5 support is the feature Im missing the most
Thanks in advance

[2018-07-05 17:12] micronemo opened #1201 "android 8 problem with libdc.so"
hi,
inside android 8 with this problem i have limited access to sthe setting
i can only selecrt path folder for game and bios
error with libdc.so
can you help me ?

[2018-07-05 19:38] LoungeKatt commented on #1201
*Any information not included may be requested when diagnosing the issue*

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch name (or Google Play) | Hashtag (delete if unknown) | Downloaded from build site? |

**_Description of the Issue_**

Add a short, concise description of the issue

**_Debugging Steps Tested_**

  * Fil

[2018-07-05 19:50] LoungeKatt opened #1202 "Stop accepting issues that intentionally ignore required info"
The whole idea of adding a form was to help us more effectively help people. It doesn't do anything if we keep allowing people to delete the form and simply write a vague summary of the problem.

https://github.com/reicast/reicast-emulator/issues/1199
https://github.com/reicast/reicast-emulator/issues/1200
https://github.com/reicast/reicast-emulator/issues/1201

Issues like this should be rejected

[2018-07-05 19:52] LoungeKatt commented on #1201
This should be fixed by https://github.com/reicast/reicast-emulator/pull/1163

[2018-07-06 05:07] blackman91 commented on #711
It seems this bug is not present in stable r6 from the playstore. Can anyone else confirm? BTW I cloned the stable r6 so that anyone can install it alongside the r7 dev builds without issues:
https://www.mediafire.com/file/ppdm7y5d25dkrp5/reicast_r6_r6.apk/file

[2018-07-06 05:57] LoungeKatt commented on #711
That is the exact purpose of the purple "Regression" tag.

[2018-07-06 09:58] baka0815 commented on #1202
Closing with the information that more info is necessary and therefore the form should be filled out would be a good idea.

[2018-07-06 09:59] baka0815 commented on #1150
@rubenjavier You may add a new Issue titled "[FeatureRequest] ..." if there is something you would need/want to have.
Then someone might try to implement that feature if they are interested.

[2018-07-06 23:06] skmp commented on #1150
You can just leave requests here as comments, or join irc, mattermost or discord chats :)

[2018-07-07 04:40] skmp commented on #1202
I also kind of agree with this - but I think we should also avoid being too
unflexible. I don’t want us to discourage people from interacting with us
either :/

On Fri, 6 Jul 2018 at 11:58, Christoph <notifications@github.com> wrote:

--
~skmp

[2018-07-07 19:59] skmp commented on #1150
So, quick update

So far
- We got a tiny dreamcast emulator that runs 256b (see https://github.com/skmp/fpgadc)
- We got the xilinx tools installed (ISE 14.7 + Vivado 2018.2)
- We managed to successfully synthesize a test project and program the fpga
- We managed to create a bsp package for the main cpu core

I'm gonna sleep a bit and follow up with the r7 / non-fpga tasks when I wake up

[2018-07-08 00:14] LoungeKatt commented on #1202
I don't think it's being inflexible to close the issue and request that they provide necessary info. The issue is not deleted, just not sitting there open. They can reopen themselves, too.

It may sound harsh, but if people are going to abandon any desire to submit issues because they have to provide the bare minimum to understand it, does not submitting it really hurt anyone?

[2018-07-08 00:45] skmp commented on #1138
Made aarch64 default to lincpp, so at least it compiles, even if perf suffers

[2018-07-08 03:31] Deivmsr commented on #1150
Would not it be possible for you to take advantage of this "Hack4Glarus" to add a simple option to enable or disable the shadow effect to help in the King Boom Boo of Sonic Adventure 2? I am not a programmer but this problem persists since the versions of Reicast that I tested on a Galaxy S4 at the time and to this day in my Note 8 with Mali GPU still occurs. I think it would be an interesting bre

[2018-07-08 07:09] LoungeKatt commented on #1202
Since there isn't actually a section in the readme about submitting issues and it may be easily missed there, I added a disclaimer on the issue form itself.

https://github.com/reicast/reicast-emulator/pull/1205

[2018-07-08 09:06] skmp commented on #1202
I'd also add a section in the readme, as we also need to guide the people to the right place (forums, gamedb, reicast-emulator) depending on the issue type, and it's nice to have everything in a single place. What do you think?

[2018-07-08 10:32] skmp commented on #1200
Can we retest with with the merged android studio changes?

[2018-07-08 10:34] skmp commented on #1150
This is already done @Deivmsr. The missing shadow was not a bug, just a performance optimization for older phones.

[2018-07-08 10:35] skmp commented on #1150
Merged and reviewed #1163, some snapcraft fixes, and #1206 (pending CLA signing from @sergiobenrocha2)

[2018-07-08 10:52] rubenjavier opened #1207 "[FeatureRequest] CHD v5 support for the Hack4Glarus"
Please add the CHD v5 compression to reicast
with libchdr from @rtissera this should be doable like the new cores do
https://github.com/rtissera/libchdr

apparently libchdr is already implemented on upstream reicast, but CHDv5 roms are not working yet on nightlys:
https://github.com/libretro/reicast-emulator/issues/54

Thanks in advance
Best regards

[2018-07-08 10:53] rubenjavier commented on #1150
OK I just added for request a new issue with [FeatureRequest] label:
Please add the CHD v5 compression to reicast
with libchdr from @rtissera this should be doable like the new cores do
https://github.com/rtissera/libchdr

apparently libchdr is already implemented on upstream reicast, but CHDv5 roms are not working yet on nightlys:
https://github.com/libretro/reicast-emulator/issues/54

Thanks in

[2018-07-08 10:55] skmp commented on #1207
We already have a ticket for that, https://github.com/reicast/reicast-emulator/issues/18 :). This repo is upstream, and we haven't implemented it yet

[2018-07-08 10:55] #1207 closed

[2018-07-08 11:55] skmp commented on #1207
There is already #18 for it. Will take care of it adter lunch

On Sun, 8 Jul 2018 at 12:52, rubenjavier <notifications@github.com> wrote:

--
~skmp

[2018-07-08 21:09] skmp opened #1208 "Android Beta Testing Information & Feedback"
Android Beta opt in
---
- https://play.google.com/apps/testing/com.reicast.emulator

Beta discussion thread
---
- Beta discussion thread: http://dcemulation.org/phpBB/viewtopic.php?f=86&t=104644
- Forum README: http://dcemulation.org/phpBB/viewtopic.php?f=86&t=104455
- Forum Code of Conduct: http://dcemulation.org/phpBB/viewtopic.php?f=86&t=104207

Beta issue reporting
---
- https://github.com/rei

[2018-07-08 22:21] spielvan commented on #1208
I entered the program of beta tester, I went to test the version that was sent to me "1493906" and when it goes to load the game reicast simply closes, then tested manually and the last functional in my box android tv was "edaec54".

Tested device: Android box Tv MX3-G 32bits, with android 4.4.2, more Mali 450 OpenGL ES 2.0

[2018-07-09 00:55] MrYoso commented on #1208
Can't run any games, even the bios. Instant crash when I try to run a game or bios. S8+ 8.0.0

[2018-07-09 02:53] ivanmestre commented on #1208
Same issue, crashes to home screen when loading games. Deleted the app's data and every time I try to set it up again, it crashes to home screen.

Nexus 6P, Android 8.1

[2018-07-09 03:50] skmp commented on #1208
Added link to the chat

[2018-07-09 03:51] renanlricci commented on #1208
Hi! same issue here. I think the file system is the problem, when I try to change de BIOS and games folder the App crashes. Sorry my band English! ;)

[2018-07-09 03:53] skmp commented on #1208
I suspect that the beta takes some time to activate, and the r6 version is
installed. Can you check the about dialog?

On Mon, 9 Jul 2018 at 05:51, Renan <notifications@github.com> wrote:

--
~skmp

[2018-07-09 03:57] skmp commented on #1208
Ooh, managed to repro. Gotta fix gotta fix. OPT w/ we latest is it has.

On Mon, Jul 9, 2018, 05:52 skmp <skmp@emudev.org> wrote:

[2018-07-09 05:06] diegodylard commented on #1208
Same issue. The bios was located succesfully (it seems) but when i try to locate games folder the app goes back to desktop. Same if i manually try to locate dc boot bin folder. Altough the app seemed to have found my game automatically it instantly goes back to desktop when i try to launch it. Device : xiaomi redmi note 4

[2018-07-09 05:41] DivineCriminal opened #1209 "Android 8.1"
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue_**

[2018-07-09 07:29] MrYoso commented on #1208
Mine shows "r7 [1493906]".

[2018-07-09 07:36] skmp commented on #1209
Can you test using the beta version and see if this persists? See #1208 for details. It should be fixed when the next build completes (~15 mins)

[2018-07-09 07:55] barbudreadmon commented on #1195
@skmp What is the lst/bin format actually ? It would help further development if we knew more about this format.

[2018-07-09 08:42] skmp commented on #1208
Updated build pushed. You should get the update soon.

[2018-07-09 08:46] skmp commented on #1195
uh it is an address map (the .lst file) and data files (.bin ones). You can match it with mame by getting the addresses from https://github.com/mamedev/mame/blob/master/src/mame/drivers/naomi.cpp

[2018-07-09 08:50] barbudreadmon commented on #1195
@skmp Hmmmm aren't the files decrypted or something ?

[2018-07-09 08:51] skmp commented on #1195
that too

On Mon, 9 Jul 2018 at 10:50, barbudreadmon <notifications@github.com> wrote:

--
~skmp

[2018-07-09 09:03] barbudreadmon commented on #1195
Ok, i'll look into mame to see if i can somehow port the decryption mecanism. By the way i worked a lot on controls in the libretro port (fixed analogs, 2nd player, ...), i'll try to port my work to this repository this week.

[2018-07-09 12:20] FaceRAX commented on #1208
Needs to update the cloud vmu, it doesn't let me upload anything. Some settings options need fixing. Games are working fine as always.

[2018-07-09 14:55] LoungeKatt commented on #1208
The beta simply extends support the Android 7.0+ and *restores* functionality to things that were previously working. A lot still needs to be done to *update* the Android shell.

Cloud VMU, Settings, etc. that have been broken for **all** Android versions are still broken.

[2018-07-09 15:57] Emulatorer commented on #1155
Similar Issue #1143
![screenshot_2018-07-09-23-55-16](https://user-images.githubusercontent.com/37603562/42461760-c66868ba-8390-11e8-9206-3a090eb41962.png)

[2018-07-09 16:20] blackman91 commented on #1208
Is this beta build the same as the latest master dev build?

[2018-07-09 17:17] Emulatorer commented on #1208
Working nice 👍
But still having a problem in KOF the evolution the touch screen button is gone after the intro of Dreamcast :(

[2018-07-09 17:34] skmp commented on #1208
@blackman91 the beta is the tip of #1210. Once that is ready, the beta will be the tip of master. Beta builds are also Release builds, while dev builds are Debug builds by default

@Emulatorer can you open an issue in the gamedb please? https://github.com/reicast/gamedb/issues

[2018-07-09 19:32] Emulatorer commented on #1208
@skmp I already reported that issue #1143
here's the sample video of what happen after the intro of Dreamcast Logo https://youtu.be/z3t533fnd2A Please Watch 🙇

[2018-07-10 04:33] gannon345 commented on #1208
Android r7 1493906:

Crashing when I try to enter any info for the BIOS location, or when I use locate and select it.

[2018-07-10 04:38] blackman91 commented on #1208
Just tested the beta, great job this error warning no longer appears at all:
https://github.com/reicast/reicast-emulator/issues/1009

It seems to be running games fine, will keep testing, only the game Cyber Troopers Virtual On Oratorio Tangram seems to be running at very very low frame rate even with frameskip off and default settings making it unplayable, has anyone else experienced this?

[2018-07-10 06:04] spielvan commented on #1208
@skmp I just tested the (r7 02901d6) as beta tester, and now it is working perfect, there are still graphics bugs, GPU Mali 450 Open GL 2.0. A hug.

[2018-07-10 07:01] blackman91 commented on #711
Also in latest r7 beta from here https://github.com/reicast/reicast-emulator/issues/1208 this bug happens:
![screenshot_20180710-015808](https://user-images.githubusercontent.com/6578180/42494157-0b41d030-83e5-11e8-9291-f8bc77d5f693.png)

The text is not visible in the sign like in stable r6:
![screenshot_20180710-014016](https://user-images.githubusercontent.com/6578180/42494196-2408635e-83e5-11e

[2018-07-10 07:32] skmp commented on #1208
Alright. I’ll try to merge everything to master by end of the week then. Meanwhile, would be great to go over the games and note which ones are working nicely and which ones do not.

[2018-07-10 09:52] skmp commented on #711
@blackman91 can you please collect all information we have so far and make a new ticket in https://github.com/reicast/gamedb/issues? Thanks :)

[2018-07-10 10:16] skmp commented on #1208
(Edited first post to point to the gamedb issue tracker)

[2018-07-10 11:52] SurajMizar opened #1214 "Widescreen mode doesn't work properly some time it shows black bars and doesn't work in soul caliber game"
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue_**

[2018-07-10 12:34] skmp commented on #1150
The chdr library is actuallya  fork from reicast's code, so it is not that much different. I originally used some old mame code and then re-worked it to a lib back in 2010ish?

[2018-07-10 13:02] #1143 closed

[2018-07-10 15:24] skmp commented on #1214
Can you please move this issue to https://github.com/reicast/gamedb/issues?

[2018-07-10 15:24] #1214 closed

[2018-07-10 15:24] skmp commented on #1214
Gotta update the readme again to make that clear :/

[2018-07-10 15:28] #1199 closed, assigned to nobody

[2018-07-10 16:03] Larrynho commented on #1208
Just entered the test. Project Justice 2, only game I have, loads and works, albeit it *seems* to be a bit slower tan previous lk/Android-studio build I  had installed.

S7 edge Exynos.

[2018-07-10 16:46] LoungeKatt opened #1215 "Travis key not working"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android | master | N/A | N/A |

**_Description of the Issue_**

travis key is being rejected during build

**_Debugging Steps Tested_**

**_Logs Gathered_**

[co

[2018-07-10 17:05] LoungeKatt commented on #1215
Likely a result of the changes for the beta branch. Looks like the old keys just got removed.

[2018-07-10 17:20] skmp commented on #1215
yea trying to figure out what broke it

On Tue, 10 Jul 2018 at 19:05, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-07-10 19:00] DivineCriminal opened #1216 "Glitching showing in side of the screen"
**Please Note: This form is the minimum required information for submitting bugs.**
**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| ------ | ------ | ---- | ---- |
| Android 8.1 | Google Play | Hashtag (skip if unknown) | Downloaded from build site? |

**glitching showing in side of the screen**

I am trying to run sf 3rd str

[2018-07-10 21:07] MarcoEstevez commented on #84
Any news here? I started this game on Ricast retroarch core and game hanged on the first battle, I was about to apen an Issue when I saw this one.

[2018-07-10 23:42] blackman91 commented on #84
Were you able to finish the game without freezes?

[2018-07-11 00:00] Shootinshark commented on #84
It froze when I went through the weapon upgrade screen too fast by spam upgrading my weapon. You'll see it when it happens :)
________________________________
From: blackman91 <notifications@github.com>
Sent: Wednesday, July 11, 2018 1:42:21 AM
To: reicast/reicast-emulator
Cc: Shootinshark; Comment
Subject: Re: [reicast/reicast-emulator] Record of Lodoss War, hangs during the first battle [dynarec

[2018-07-11 00:10] blackman91 commented on #84
I meant in battles, I get freezes in battles.

[2018-07-11 00:16] Shootinshark commented on #84
I only got the freeze in the first battle, but it dissapeared after the first one.

Other than literal freezes. Like, the actual elemental freeze. God, I hate the ice caves.
________________________________
From: blackman91 <notifications@github.com>
Sent: Wednesday, July 11, 2018 2:10:03 AM
To: reicast/reicast-emulator
Cc: Shootinshark; Comment
Subject: Re: [reicast/reicast-emulator] Record of Lo

[2018-07-11 00:18] blackman91 commented on #84
What reicast version did you use? Any way you could test again using latest beta build?
https://github.com/reicast/reicast-emulator/issues/1208

[2018-07-11 00:20] Shootinshark commented on #84
I don't have any of it on my new pc. Haven't played Lodoss since last summer :)
________________________________
From: blackman91 <notifications@github.com>
Sent: Wednesday, July 11, 2018 2:18:45 AM
To: reicast/reicast-emulator
Cc: Shootinshark; Comment
Subject: Re: [reicast/reicast-emulator] Record of Lodoss War, hangs during the first battle [dynarec/div0] (#84)

What reicast version did you use

[2018-07-11 00:56] blackman91 commented on #711
Sure:
https://github.com/reicast/gamedb/issues/9

[2018-07-11 02:20] Latiosdude opened #1217 "Crashes when selecting Bios"
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Android 8.0 Snapdragon Galaxy S8+ | Branch 1493906 and ae2b5e3 | Hash | Downloaded from Build site |
| ------ | ------ | ---- | ---- |

**_Description of the Issue_**

Reicast crashes on latest Master and lk/android-studio builds

[2018-07-11 04:17] blackman91 commented on #1217
Try the latest google play beta:
https://github.com/reicast/reicast-emulator/issues/1208

[2018-07-11 08:07] blackman91 commented on #1208
Just noticed this beta doesn't have the microphone permission on by default after installing, I tried to enable the mic reicast option to play seaman and the app crashed after selecting the game, giving it permission manually in Android app settings fixed the issue though. Also I just got a freeze on MvC2 on the final boss using this beta and had to restart the app :(

[2018-07-11 08:32] frstrikerman commented on #850
The ps vita is now fully hacked (you can run homebrew on 3.60/3.65/3.67/3.68 firmware with henkaku http://henkaku.xyz/). OpenGL has been port (https://github.com/Rinnegatamante/vitaGL/). The cpu is a ARM Cortex-A9 MPCore clocked at 333 MHz that can be overclock to 444Hz. The gpu is a PowerVR SGX543MP4+ clocked at 166 MHz (up to 222MHz)

[2018-07-11 10:36] skmp commented on #1208
@blackman91 can you open an issue for the microphone thing? This should be in reicast-emulator, not gamedb, as it is an actionable item for a developer

[2018-07-11 11:51] skmp commented on #850
Intruiging, thanks

On Wed, 11 Jul 2018 at 10:32, striker-san <notifications@github.com> wrote:

--
~skmp

[2018-07-11 15:06] LoungeKatt commented on #1215
I figured you knew, but was documenting it just in case.

[2018-07-11 15:10] LoungeKatt commented on #850
Note: You need 3.65 or lower to make it a permanent CFW.

[2018-07-11 16:16] skmp commented on #1215
Okay, this looks like an issue on travis side. Will try to workaround it
tomorrow.

On Wed, 11 Jul 2018 at 17:06, TwistedUmbrella <notifications@github.com>
wrote:

--
~skmp

[2018-07-12 00:07] Emulatorer commented on #1208
This game is running smooth with a minor graphical issue :)
![screenshot_2018-07-12-07-50-08](https://user-images.githubusercontent.com/37603562/42605424-69403194-8567-11e8-8218-1378972f7cc3.png)

[2018-07-12 03:01] ZacharyFoxx opened #1219 "[Improving performance] Tegra 3"
Device: Ouya Console
CPU/GPU: TEGRA 3
Android Version: 4.4.4 kitkat
ROM: Lineage OS 11 unofficial
Reicast release: Debugs release 73f3378

Could you improve performance on Tegra 3 platform?
In the description at Play Store, one of the GPUs recommended is the Mali 400. Tegra 3 has equal performance than Mali 400, but the results are different.

For example:
MvsC2 currently run almost without graphi

[2018-07-12 04:03] frstrikerman commented on #850
@LoungeKatt or 3.60, on newer firmware you have to reapply the hack after every boot

[2018-07-12 09:03] skmp commented on #1219
Tegra 3 unfortunately dupports only 16bit depth buffer, which often leads
to visual corruption. There’s only so much we can do :(

On Thu, 12 Jul 2018 at 05:01, ZacharyFoxx <notifications@github.com> wrote:

--
~skmp

[2018-07-12 09:06] skmp commented on #1217
(please reopen if not fixed)

[2018-07-12 09:06] #1217 closed

[2018-07-12 09:08] skmp commented on #1215
the old key is lost it seems, i don’t think there’s a way to fix old builds :/. Travis sucks sometimes :(

[2018-07-12 09:40] skmp commented on #1157
It doesn’t looks like this is happening. Oh well, I guess everyone is happy with how things are going then %)

[2018-07-12 09:40] #1157 closed

[2018-07-12 09:41] skmp commented on #1150
h4g recap: https://blog.ungleich.ch/en-us/cms/blog/2018/07/11/hack4glarus-2018-summer-edition-epilogue/. Will try to finsih off the tasks and close this over the weekend

[2018-07-12 09:41] skmp commented on #1150
h4g recap: https://blog.ungleich.ch/en-us/cms/blog/2018/07/11/hack4glarus-2018-summer-edition-epilogue/. Will try to finsih off the tasks and close this over the weekend

[2018-07-12 09:45] skmp commented on #711
Alright, closing this then

[2018-07-12 09:45] #711 closed

[2018-07-12 11:38] Emulatorer opened #1220 "Can't install reicast r7 beta from PlayStore after uninstalling it"
**Please Note: This form is the minimum required information for submitting bugs.**

**Removing this form may lead to your issue being closed until it is completed.**

| Platform | Branch | Hash | CIDL |
| Android 5.1 | master | N/A | N/A |
| Installed OS and version (ie. Android 8.0) | Branch (or Google Play) | Hashtag (skip if unknown) | Downloaded from build site? |

**_Description of the Issue

[2018-07-12 11:41] Emulatorer commented on #1220
![screenshot_2018-07-12-19-36-48](https://user-images.githubusercontent.com/37603562/42631005-6e362a44-85c8-11e8-8759-243105cea491.png)

[2018-07-12 14:00] ZacharyFoxx commented on #1219
After your clarification, I did some searches in the web related with "Tegra 3 depth buffer" and I found other projects which apparently have the same issue and pointing to possible workarounds:

https://devtalk.nvidia.com/default/topic/571706/opengl-es/tegra-3-model-disappearing-issue/
https://www.khronos.org/registry/EGL/extensions/NV/EGL_NV_depth_nonlinear.txt
https://forums.ogre3d.org/viewtopi

[2018-07-12 15:24] LoungeKatt commented on #1220
You may have left the beta. You would have to return to the original signup link and opt in for the beta again.

[2018-07-12 15:26] LoungeKatt commented on #850
@frstrikerman That is correct.

[2018-07-12 16:10] LoungeKatt commented on #84
The issue was related to dynarec and Nvidia Shield **is** and Android device, so it has been confirmed on mobile already.

[2018-07-13 08:02] rcrc2 commented on #1208
![screenshot_20180713-102813](https://user-images.githubusercontent.com/41184566/42679847-f23fab44-868b-11e8-940d-0b53c597a2a9.png)

While trying to boot Skies of Arcadia CD 1

[2018-07-13 11:54] baka0815 commented on #1208
According to git this would be here
https://github.com/reicast/reicast-emulator/blob/f205e99f9b0b6c50282851e03b0998f1142d5490/core/hw/holly/sb.cpp#L132
Does that make sense?

[2018-07-13 13:04] skmp commented on #1220
This looks like some issue on google's part. Is it resolved?

[2018-07-13 15:30] skmp commented on #1208
@rcrc2 can you please open a ticket for that in the [gamedb tacker](https://github.com/reicast/gamedb/issues/3)?

[2018-07-13 16:50] skmp commented on #899
@blackman91 can you please migrate all screenshots & text to gamedb#8? I'll close this to declutter the core tracker.

[2018-07-13 16:50] #899 closed

[2018-07-13 17:02] skmp commented on #1208
I also created a testers team, @reicast/testers. Please, make a comment with an @skmp reference to it if you want to be added. I've added @spielvan @Emulatorer @blackman91 and @sionco already.

[2018-07-13 17:31] rcrc2 commented on #1208
I did and I hope I did it right.

[2018-07-13 18:35] skmp commented on #1136
(Closing this as #386 is a duplicate)

[2018-07-13 18:35] #1136 closed

[2018-07-13 18:37] blackman91 commented on #940
Relevant:
https://github.com/reicast/reicast-emulator/issues/152

[2018-07-13 18:37] skmp commented on #1021
This is probably missing fog. @reicast/testers can this be moved to the reicast/gamedb#2 tracker?

[2018-07-13 18:38] skmp commented on #1020
(@reicast/testers has all information been moved to the reicast/gamedb#12?)

[2018-07-13 18:38] #1020 closed

[2018-07-13 18:54] skmp commented on #899
thx

[2018-07-13 19:03] blackman91 commented on #1000
Moved info to gamedb too.

[2018-07-13 19:03] #1000 closed

[2018-07-13 19:37] skmp commented on #997
Hijacking this, we should somehow integrate the gamedb to the main reicast UI at some point. And also create a pre-filled form to report issues for games, including disk and game id.

[2018-07-13 20:54] twinaphex commented on #1168
I feel satisfied about this and would be willing to close the issue and let you collect the bounty. Both games are working on my end.

[2018-07-13 20:56] twinaphex commented on #1167
Will there be a patch for the generic recompiler too?

Anyway, @skmp, since you closed the issue, in order to collect the bounty, you have to go to the bountysource URL for this issue, click on 'Claim Solve Bounty'. From there, the people that posted the bounty money (in this case, me) can then approve of the solution and then the transfer is complete.

[2018-07-13 22:20] skmp commented on #1168
Alrighty.

[2018-07-13 22:57] skmp commented on #1164
@barbudreadmon & @Yoshimaster96 please use the forum (http://forum.reicast.com) for this kind of questions, thanks

[2018-07-13 22:57] #1164 closed

[2018-07-13 22:57] anothername99 commented on #1168
https://github.com/libretro/reicast-emulator/commit/130cee6ba26018eaf14fee6f642d2d3218ac5ec7 says "workaround". Was this actually fixed?

[2018-07-13 22:57] skmp commented on #1158
@ElTioRata can you please retest using the beta from #1208?

[2018-07-13 23:06] skmp commented on #56
This issue was moved to reicast/gamedb#26

[2018-07-13 23:06] #56 closed

[2018-07-13 23:06] skmp commented on #65
This issue was moved to reicast/gamedb#27

[2018-07-13 23:06] #65 closed

[2018-07-13 23:07] skmp commented on #76
This issue was moved to reicast/gamedb#28

[2018-07-13 23:07] #76 closed

[2018-07-13 23:07] skmp commented on #90
This issue was moved to reicast/gamedb#29

[2018-07-13 23:07] #90 closed

[2018-07-13 23:07] skmp commented on #91
This issue was moved to reicast/gamedb#30

[2018-07-13 23:07] #91 closed

[2018-07-13 23:07] skmp commented on #96
This issue was moved to reicast/gamedb#31

[2018-07-13 23:07] #96 closed

[2018-07-13 23:07] skmp commented on #98
This issue was moved to reicast/gamedb#32

[2018-07-13 23:07] #98 closed

[2018-07-13 23:08] skmp commented on #107
This issue was moved to reicast/gamedb#33

[2018-07-13 23:08] #107 closed

[2018-07-13 23:09] skmp commented on #139
This issue was moved to reicast/gamedb#34

[2018-07-13 23:09] #139 closed

[2018-07-13 23:10] skmp commented on #164
Moved to https://github.com/reicast/gamedb/issues/35

[2018-07-13 23:10] #164 closed

[2018-07-13 23:12] skmp commented on #168
This issue was moved to reicast/gamedb#36

[2018-07-13 23:12] #168 closed

[2018-07-13 23:13] skmp commented on #289
This issue was moved to reicast/gamedb#38

[2018-07-13 23:13] #289 closed

[2018-07-13 23:14] skmp commented on #380
This issue was moved to reicast/gamedb#39

[2018-07-13 23:14] #380 closed

[2018-07-13 23:14] skmp commented on #1154
This issue was moved to reicast/gamedb#40

[2018-07-13 23:14] #1154 closed

[2018-07-13 23:15] skmp commented on #1089
This issue was moved to reicast/gamedb#41

[2018-07-13 23:15] #1089 closed

[2018-07-13 23:15] skmp commented on #1021
This issue was moved to reicast/gamedb#42

[2018-07-13 23:15] #1021 closed

[2018-07-13 23:15] skmp commented on #809
This issue was moved to reicast/gamedb#43

[2018-07-13 23:15] #809 closed

[2018-07-13 23:15] skmp commented on #707
This issue was moved to reicast/gamedb#44

[2018-07-13 23:15] #707 closed

[2018-07-13 23:15] skmp commented on #706
This issue was moved to reicast/gamedb#45

[2018-07-13 23:15] #706 closed

[2018-07-13 23:16] skmp commented on #687
This issue was moved to reicast/gamedb#46

[2018-07-13 23:16] #687 closed

[2018-07-13 23:16] skmp commented on #656
This issue was moved to reicast/gamedb#47

[2018-07-13 23:16] #656 closed

[2018-07-13 23:16] skmp commented on #651
This issue was moved to reicast/gamedb#48

[2018-07-13 23:16] #651 closed

[2018-07-13 23:16] skmp commented on #650
This issue was moved to reicast/gamedb#49

[2018-07-13 23:16] #650 closed

[2018-07-13 23:17] skmp commented on #636
This issue was moved to reicast/gamedb#50

[2018-07-13 23:17] #636 closed

[2018-07-13 23:17] skmp commented on #582
This issue was moved to reicast/gamedb#51

[2018-07-13 23:17] #582 closed

[2018-07-13 23:17] skmp commented on #546
This issue was moved to reicast/gamedb#52

[2018-07-13 23:17] #546 closed

[2018-07-13 23:17] skmp commented on #538
This issue was moved to reicast/gamedb#53

[2018-07-13 23:17] #538 closed

[2018-07-13 23:17] skmp commented on #528
This issue was moved to reicast/gamedb#54

[2018-07-13 23:17] #528 closed

[2018-07-13 23:18] skmp commented on #527
This issue was moved to reicast/gamedb#55

[2018-07-13 23:18] #527 closed

[2018-07-13 23:18] skmp commented on #511
This issue was moved to reicast/gamedb#56

[2018-07-13 23:18] #511 closed

[2018-07-13 23:18] skmp commented on #471
This issue was moved to reicast/gamedb#57

[2018-07-13 23:18] #471 closed

[2018-07-13 23:18] skmp commented on #441
This issue was moved to reicast/gamedb#58

[2018-07-13 23:18] #441 closed

[2018-07-13 23:20] skmp commented on #253
This issue was moved to reicast/gamedb#59

[2018-07-13 23:20] #253 closed

[2018-07-13 23:20] skmp commented on #430
This issue was moved to reicast/gamedb#60

[2018-07-13 23:20] #430 closed

[2018-07-13 23:20] skmp commented on #428
This issue was moved to reicast/gamedb#61

[2018-07-13 23:20] #428 closed

[2018-07-13 23:20] skmp commented on #426
This issue was moved to reicast/gamedb#62

[2018-07-13 23:20] #426 closed

[2018-07-13 23:21] skmp commented on #410
This issue was moved to reicast/gamedb#63

[2018-07-13 23:21] #410 closed

[2018-07-13 23:21] skmp commented on #759
This issue was moved to reicast/gamedb#64

[2018-07-13 23:21] #759 closed

[2018-07-13 23:22] skmp commented on #1198
This issue was moved to reicast/gamedb#65

[2018-07-13 23:22] #1198 closed

[2018-07-13 23:23] skmp commented on #254
This issue was moved to reicast/gamedb#66

[2018-07-13 23:23] #254 closed

[2018-07-13 23:23] #250 closed

[2018-07-13 23:24] skmp commented on #252
This issue was moved to reicast/gamedb#67

[2018-07-13 23:24] #252 closed

[2018-07-13 23:25] #386 closed, assigned to nobody

[2018-07-13 23:28] #406 closed, assigned to nobody

[2018-07-13 23:30] skmp commented on #989
Hello,

I do not think this is possible right now.

It's probably best to ask those things in the forum (http://forum.reicast.com/)

[2018-07-13 23:30] #989 closed

[2018-07-13 23:36] skmp commented on #940
Merging with #152

[2018-07-13 23:36] #940 closed

[2018-07-13 23:38] skmp commented on #152
@LoungeKatt now that the android-studio stuff is in, can you take a look at this?

[2018-07-13 23:41] skmp commented on #1168
This is fixed for DOA2LE, but might break again if some game uses more than the new allocation size (= unlikely).

The SMC task was in another issue afair.

we should split off from here
- [ ] Somehow implement variable size support for TA staging buffers (low priority / easy workaround if it reappears)

[2018-07-13 23:43] skmp commented on #1167
Huh, Looks like I closed it by accident.

I guess I'll
- [ ] Create a follow up issue for the rec-cpp side

[2018-07-14 02:17] skmp commented on #968
Closing this as the link does not work and here is no more info on the ticket

[2018-07-14 02:17] #968 closed

[2018-07-14 02:18] skmp commented on #956
Please repopen if this is still an issue with the #1208 beta

[2018-07-14 02:18] #956 closed

[2018-07-14 02:19] skmp commented on #945
@tlosm got a link to a development board for that?

[2018-07-14 02:20] skmp commented on #941
Closing, for General support please use http://forum.reicast.com

[2018-07-14 02:20] #941 closed

[2018-07-14 02:21] skmp commented on #909
Closing this - reopen if issue is still relevant

[2018-07-14 02:21] #909 closed

[2018-07-14 02:27] #548 closed, assigned to nobody

[2018-07-14 02:29] skmp commented on #84
Closing this in favor of reicast/reicast-gamedb#14

[2018-07-14 02:29] #84 closed

[2018-07-14 02:31] skmp commented on #898
Closing this in favor of reicast/reicast-emulator#15. Please make sure all relevant information is there.

[2018-07-14 02:31] #898 closed

[2018-07-14 02:33] skmp commented on #628
Closing this in favor of #898

[2018-07-14 02:33] #628 closed

[2018-07-14 02:35] skmp commented on #1010
Closing this in favor of per game tickets.

[2018-07-14 02:46] skmp commented on #639
This issue was moved to reicast/gamedb#70

[2018-07-14 02:46] #639 closed

[2018-07-14 02:46] skmp commented on #58
This issue was moved to reicast/gamedb#71

[2018-07-14 02:46] #58 closed

[2018-07-14 02:47] skmp commented on #679
This issue was moved to reicast/gamedb#72

[2018-07-14 02:47] #679 closed

[2018-07-14 02:47] skmp commented on #723
This issue was moved to reicast/gamedb#73

[2018-07-14 02:47] #723 closed

[2018-07-14 02:47] skmp commented on #741
This issue was moved to reicast/gamedb#74

[2018-07-14 02:47] #741 closed

[2018-07-14 02:48] skmp commented on #830
This issue was moved to reicast/gamedb#75

[2018-07-14 02:48] #830 closed

[2018-07-14 02:48] skmp commented on #856
This issue was moved to reicast/gamedb#76

[2018-07-14 02:48] #856 closed

[2018-07-14 02:48] skmp commented on #859
This issue was moved to reicast/gamedb#77

[2018-07-14 02:48] #859 closed

[2018-07-14 02:48] skmp commented on #901
This issue was moved to reicast/gamedb#78

[2018-07-14 02:48] #901 closed

[2018-07-14 02:49] skmp commented on #903
This issue was moved to reicast/gamedb#79

[2018-07-14 02:49] #903 closed

[2018-07-14 02:49] #923 closed

[2018-07-14 02:49] skmp commented on #935
This issue was moved to reicast/gamedb#81

[2018-07-14 02:49] #935 closed

[2018-07-14 02:49] skmp commented on #947
This issue was moved to reicast/gamedb#82

[2018-07-14 02:49] #947 closed

[2018-07-14 02:50] skmp commented on #950
This issue was moved to reicast/gamedb#83

[2018-07-14 02:50] #950 closed

[2018-07-14 02:50] skmp commented on #960
This issue was moved to reicast/gamedb#84

[2018-07-14 02:50] #960 closed

[2018-07-14 02:50] skmp commented on #980
This issue was moved to reicast/gamedb#85

[2018-07-14 02:50] #980 closed

[2018-07-14 02:51] skmp commented on #101
This issue was moved to reicast/gamedb#86

[2018-07-14 02:51] skmp commented on #1048
This issue was moved to reicast/gamedb#87

[2018-07-14 02:51] #1048 closed

[2018-07-14 02:51] skmp commented on #1054
This issue was moved to reicast/gamedb#88

[2018-07-14 02:51] #1054 closed

[2018-07-14 02:52] skmp commented on #1070
This issue was moved to reicast/gamedb#89

[2018-07-14 02:52] #1070 closed

[2018-07-14 02:52] skmp commented on #1072
This issue was moved to reicast/gamedb#90

[2018-07-14 02:52] #1072 closed

[2018-07-14 02:52] skmp commented on #1076
This issue was moved to reicast/gamedb#91

[2018-07-14 02:52] skmp commented on #1010
This issue was moved to reicast/gamedb#92

[2018-07-14 02:53] #1010 closed

[2018-07-14 02:55] skmp commented on #692
Closing this. Will open a new one if we do a specific fund raiser

[2018-07-14 02:55] #692 closed

[2018-07-14 17:42] #1109 closed

[2018-07-14 18:02] skmp commented on #1215
Alright. Not sure if I used the same key - hopefully I did. Should work once you rebase on top of master. Pushes to master from now on should generate a release.

[2018-07-14 18:02] #1215 closed

[2018-07-14 18:03] skmp commented on #1220
(Closing this - please discuss on http://forum.reicast.com if the issue persists)

[2018-07-14 18:03] #1220 closed

[2018-07-14 18:04] skmp commented on #1202
@LoungeKatt I guess with the bulk of the reports going to gamedb, we should relax the rules for here? I think it makes sense to transfer the form and such there, as that will be the point of contact for beta testers, qa and the general public.

[2018-07-14 18:08] skmp commented on #1208
Some major changes in the beta program

- We merged the CD (#1210) PR
- This means, any merges to master should deploy automatically from now on.
- This means, you will get at least a few updates per week
- Did a ton of work  on the gamedb project. Would be great if people check the issues marked there as retest, and in general report status for games, even working ones. see reicast/gamedb#3 on ho

[2018-07-14 18:29] skmp commented on #676
closing in favor of #18

[2018-07-14 18:29] #676 closed

[2018-07-15 00:19] blackman91 commented on #1028
This happens in Android too on stable r6 and latest playstore r7 beta as of today with .gdi roms:

[2018-07-15 00:34] blackman91 commented on #1028
BTW .cdi rom working fine so far.

[2018-07-15 07:57] legluondunet commented on #1028
I can no more reproduce this issue with last Reicast git version.

Thanks.

[2018-07-15 07:57] #1028 closed

[2018-07-15 08:37] skmp commented on #1123
@opendata26 can you try the beta from #1208?

[2018-07-15 08:39] skmp commented on #1175
Can we move this to one issue per problem, in gamedb? Thanks.

[2018-07-15 08:42] skmp commented on #1155
Which game is that? Looks like some glitch in the offscreen rendering

[2018-07-15 08:44] skmp commented on #1126
@LoungeKatt what needs to be split in follow up taks?

[2018-07-15 08:45] skmp commented on #1127
@LoungeKatt what needs to be split in follow up tasks?

[2018-07-15 08:46] skmp commented on #1128
@LoungeKatt what needs to be split in follow up tasks?

[2018-07-15 08:46] skmp commented on #1129
@LoungeKatt what needs to be split in follow up tasks?

[2018-07-15 08:51] skmp commented on #997
(alao: #1208 is a step towards improving this)

[2018-07-15 08:52] skmp commented on #1047
Can you post some screenshots please? Is this game specific? I think it should be moved to the gamedb.

[2018-07-15 08:53] skmp commented on #1049
Please retest using #1208. Also should be moved to gamedb.

[2018-07-15 08:55] skmp commented on #1064
Such questions are best asked at the forum, http://forum.reicast.com

[2018-07-15 08:55] #1064 closed

[2018-07-15 11:00] skmp commented on #995
Is this still an issue with the latest beta from #1208? Also should be moved to gamedb

[2018-07-15 11:01] skmp commented on #942
CMake is not officially supported yet, please use the makefiles. Also, such discussion belongs to http://forum.reicast.com from now on :)

[2018-07-15 11:01] #942 closed

[2018-07-15 11:02] skmp commented on #918
This should no longer be an issue. Also, such discussion belongs to http://forum.reicast.com from now on. Thanks :)

[2018-07-15 11:02] #918 closed

[2018-07-15 11:02] skmp commented on #893
Is this still an issue? @7oxicshadow can you test with the latest beta from #1208? Also should be moved to gamedb

[2018-07-15 11:03] skmp commented on #892
Is this still an issue in latest master? @gamax92 can you make a PR that fixes it? Thanks :)

[2018-07-15 11:04] skmp commented on #891
Is this still an issue? Is this game specific? I think it belongs to http://forums.reicast.com or the gamedb.

[2018-07-15 11:05] skmp commented on #880
Can you retest with #1208 and report there if this still an issue?

[2018-07-15 11:05] #880 closed

[2018-07-15 11:06] skmp commented on #879
Is this still an issue with the latest beta from #1208? Please re-test and report there.

[2018-07-15 11:06] #879 closed

[2018-07-15 11:06] skmp commented on #878
@SuperL2 is this still an issue? Should be moved to gamedb

[2018-07-15 11:07] skmp commented on #876
Closing this. Such questions should be placed in the forum, http://forum.reicast.com from now on. Thanks.

[2018-07-15 11:07] #876 closed

[2018-07-15 11:08] skmp commented on #865
This is normal behavior - we use segfaults for optimizations. See #1102. Also, this kind of 'getting started' discussion could also be done in http://forum.reicast.com to avoid overloading the tracker :)

[2018-07-15 11:08] #865 closed

[2018-07-15 11:09] skmp commented on #852
Can you please test with the latest beta from #1208 and report there? Thanks :)

[2018-07-15 11:09] #852 closed

[2018-07-15 11:09] skmp commented on #838
Can you please retest with the latest beta from #1208? Thanks :)

[2018-07-15 11:09] #838 closed

[2018-07-15 11:11] skmp commented on #835
(Will get back to this, forgot about it for 2+ years now. Original account seems deleted?)

[2018-07-15 11:11] skmp commented on #834
Should be resolved now

[2018-07-15 11:11] #834 closed

[2018-07-15 11:12] skmp commented on #828
Can you try with the latest beta from #1208 and report there? Thanks.

[2018-07-15 11:14] skmp commented on #812
Can you please try using the beta in #1208 and report there? Thanks.

[2018-07-15 11:14] #812 closed

[2018-07-15 11:14] skmp commented on #754
Please use the latest beta from #1208. Issue looks resolved anyway.

[2018-07-15 11:14] #754 closed

[2018-07-15 11:15] skmp commented on #749
Please test and follow up in #1208. Thanks.

[2018-07-15 11:15] #749 closed

[2018-07-15 11:16] skmp commented on #735
Closing this as it doesn't have enough information. Please test with #1208 and report there / open a gamedb issue. Thanks.

[2018-07-15 11:16] #735 closed

[2018-07-15 11:17] skmp commented on #621
@LoungeKatt with #1091 merged, what tasks need followup issues for this?

[2018-07-15 11:19] skmp commented on #602
Is this still an issue with #1208? Looks like this should be moved to gamedb, but not sure. Thoughts @LoungeKatt ?

[2018-07-15 11:20] skmp commented on #571
"r7" is now public as open beta for reicast. Should follow up from #1150 and organize #1148

[2018-07-15 11:20] #571 closed

[2018-07-15 11:22] skmp commented on #1148
Reicast open beta #1208 is now public. https://github.com/reicast/gamedb/issues now hosts game and hw compat bug reporting and tracking. http://forum.reicast.com for first level support (either running or compiling), and general discussion. Github discussions and ticket tracking for team coordination. We also have a testing team. Still loads to do.

Working on code of conduct (gh discussion link h

[2018-07-15 13:54] Deivmsr commented on #1049
the problem has not been resolved in the latest version of the 1ada311 beta program. I tested both GDI and CDI versions.

[2018-07-15 14:02] Deivmsr commented on #1049
The problem hasn't been resolved in the latest version of the 1ada311 beta program. I tested both GDI and CDI versions. Why not add the volume modifier options as well as NullDCE, except in the Android version of Reicast. Would that help skmp?

[2018-07-15 14:29] Deivmsr commented on #1049
The problem hasn't been resolved in the latest version of the 1ada311 beta program. I tested both GDI and CDI versions. Why add the volume modifier options as well as NullDCE in the Android version of Reicast?Would that help skmp?

[2018-07-15 17:31] LoungeKatt commented on #1123
@GhoulUnlimited That was one of the last things addressed just before the beta. I was able to replicate the freeze, tracked down the cause, and got it running.